apiVersion: v1
kind: Service
metadata:
  labels:
    app: richie
    service: nginx
    version: "{{ richie_nginx_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: nginx-{{ deployment_stamp }}
  namespace: "{{ project_name }}"
spec:
  ports:
    - name: {{ richie_nginx_port }}-tcp
      port: {{ richie_nginx_port }}
      protocol: TCP
      targetPort: {{ richie_nginx_port }}
  selector:
    app: richie
    deploymentconfig: nginx-{{ deployment_stamp }}
  type: ClusterIP
