# Arnold-controlled configuration

# The server name/uuid should be unique for all replica
server.name: ${HOSTNAME}
server.uuid: ${SERVER_UUID}
xpack.security.cookieName: "{{ kibana_host + '-' + deployment_stamp }}"

# Accept requests from all hosts
server.host: 0.0.0.0

{% if kibana_server_base_path | default(false, true) %}
# URL path (if using a proxy)
server.basePath: {{ kibana_server_base_path }}
{% endif %}
server.publicBaseUrl: {{ kibana_server_public_base_url | default("https://" + kibana_host, true) }}

elasticsearch.hosts: {{ kibana_es_hosts | to_yaml }}

{% if kibana_security_enabled %}
elasticsearch.username: ${KIBANA_ELASTIC_USERNAME}
elasticsearch.password: ${KIBANA_ELASTIC_PASSWORD}
elasticsearch.ssl.certificateAuthorities: ["{{ kibana_ca_path }}"]
xpack.security.encryptionKey: ${XPACK_SECURITY_ENCRYPTIONKEY}
xpack.reporting.encryptionKey: ${XPACK_REPORTING_ENCRYPTIONKEY}
xpack.encryptedSavedObjects.encryptionKey: ${XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY}
xpack.encryptedSavedObjects.keyRotation.decryptionOnlyKeys: ${XPACK_ENCRYPTEDSAVEDOBJECTS_KEYROTATION_DECRYPTIONONLYKEYS}
{% endif %}

monitoring.ui.container.elasticsearch.enabled: true

{% block kibana_extra %}{% endblock %}
