#!/usr/bin/env bash

set -eo pipefail

declare -i check=0
if [[ -n "$1" ]] && [[ "$1" == "check" ]]; then
  check=1
fi

curl -sS \
{% if kibana_security_enabled %}
  -u "${KIBANA_ELASTIC_USERNAME}:${KIBANA_ELASTIC_PASSWORD}" \
{% endif %}
  "http://localhost:{{ kibana_app_port }}/api/status" | \
  tr "," "\n" > /tmp/status.json

if [[ ${check} -eq 1 ]]; then
  grep "state" /tmp/status.json | \
  head -n 1 | \
  grep "green"
fi
