apiVersion: batch/v1
kind: Job
metadata:
  name: edxapp-collecstatic-cms-{{ job_stamp }}
  namespace: "{{ project_name }}"
  labels:
    app: edxapp-cms
    version: "{{ edxapp_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
spec:
  template:
    metadata:
      name: edxapp-collecstatic-cms-{{ deployment_stamp }}
      labels:
        app: edxapp-cms
        version: "{{ edxapp_tag }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      containers:
      - name: edxapp-collecstatic-cms
        image: "{{ edxapp_image }}:{{ edxapp_tag }}"
        env:
          - name: DJANGO_SETTINGS_MODULE
            value: cms.envs.fun.docker_run
        command: ["python", "manage.py", "cms", "collectstatic", "--noinput"]
        volumeMounts:
        - mountPath: /config
          name: edxapp-config
        - mountPath: /edx/app/edxapp/staticfiles
          name: edxapp-v-static
      initContainers:
        # This initContainer has nothing mounted on its "/config" directory. We
        # copy the content of its "/config" directory (fun-platform default
        # settings) to the "/tmp/config" directory (edxapp-config volume). Then,
        # we copy service variant configMaps that may override default
        # configuration (docker_run*.py and settings.yml) in that same
        # "/tmp/config" directory. And finally, we also copy sensible
        # credentials from edxapp secret (credentials.vault.yml). When this
        # initContainer shuts down, the "edxapp-config" volume has been filled
        # with all project settings that will be used to run the service variant
        # container. Please refer to the documentation to better understand our
        # settings generation mecanism.
        - name: init-create-config
          image: "{{ edxapp_image }}:{{ edxapp_tag }}"
          imagePullPolicy: IfNotPresent
          command:
            - "/bin/bash"
            - "-c"
            - cp -r /config/* /tmp/config &&
              cp -rL /tmp/configmap-cms/* /tmp/config/cms/ &&
              cp /tmp/secret/credentials.vault.yml /tmp/config/cms/secrets.yml
          volumeMounts:
            - mountPath: /tmp/config
              name: edxapp-config
            - mountPath: /tmp/configmap-cms
              name: edxapp-configmap-cms
            - mountPath: /tmp/secret
              name: edxapp-secret
      volumes:
      - name: edxapp-configmap-cms
        configMap:
          defaultMode: 420
          name: edxapp-cms-{{ deployment_stamp }}
      - name: edxapp-config
        emptyDir: {}  # volume that lives as long as the pod lives
      - name: edxapp-secret
        secret:
          secretName: edxapp-{{ secret_id }}
      - name: edxapp-v-static
        persistentVolumeClaim:
          claimName: edxapp-pvc-static
      restartPolicy: Never
