kind: ConfigMap
apiVersion: v1
metadata:
  name: letsencrypt
  annotations:
    "acme.openshift.io/priority": "100"
  labels:
    managed-by: "openshift-acme"
    type: "CertIssuer"
data:
{% if acme_env == "live" %}
  "cert-issuer.types.acme.openshift.io": '{"type":"ACME","acmeCertIssuer":{"directoryUrl":"https://acme-v02.api.letsencrypt.org/directory"}}'
{% else %}
  "cert-issuer.types.acme.openshift.io": '{"type":"ACME","acmeCertIssuer":{"directoryUrl":"https://acme-staging-v02.api.letsencrypt.org/directory"}}'
{% endif %}
