kind: Route
apiVersion: v1
metadata:
  labels:
    app: alias-{{ item }}
    deployment_stamp: "{{ deployment_stamp }}"
  name: alias-{{ item }}
  namespace: "{{ project_name }}"
  annotations:
    kubernetes.io/tls-acme: "true"
spec:
  host: {{ item }}
  port:
    targetPort: {{ aliases_port }}-tcp
  to:
    kind: Service
    name: "redirect-{{ deployment_stamp }}"
    weight: 100
  tls:
    termination: edge
