apiVersion: v1
kind: Secret
metadata:
  labels:
    app: moodlenet
    service: postgresql
  name: "{{ moodlenet_postgresql_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
  POSTGRESQL_USER: "{{ MOODLENET_VAULT.POSTGRESQL_USER | default('moodlenet_user') | b64encode }}"
  POSTGRESQL_PASSWORD: "{{ MOODLENET_VAULT.POSTGRESQL_PASSWORD | default('pass') | b64encode }}"
{% if env_type in trashable_env_types %}
  POSTGRESQL_ADMIN_PASSWORD: "{{ MOODLENET_VAULT.POSTGRESQL_ADMIN_PASSWORD | default('pass') | b64encode }}"
{% endif %}
