apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ redis_pvc_data_name }}"
  namespace: "{{ namespace_name }}"
  labels:
    app: redis
    version: "{{ redis_app_image_tag }}"
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: {{ redis_data_volume_size }}
  storageClassName: "{{ default_storage_class_rwx }}"
