apiVersion: v1
kind: Secret
metadata:
  labels:
    app: prosody
    service: app
  name: "{{ prosody_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
  POSTGRESQL_USER: "{{ PROSODY_VAULT.POSTGRESQL_USER | default('prosody_user') | b64encode }}"
  POSTGRESQL_PASSWORD: "{{ PROSODY_VAULT.POSTGRESQL_PASSWORD | default('password') | b64encode }}"
  JWT_SIGNING_KEY: "{{ PROSODY_VAULT.JWT_SIGNING_KEY | default('secret') | b64encode }}"
{% if PROSODY_VAULT.SECRETS is defined %}
{% for k, v in PROSODY_VAULT.SECRETS.items() %}
  {{ k }}: {{ v | default('') | b64encode }}
{% endfor %}
{% endif %}
