apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: marsha-pvc-media
  namespace: "{{ project_name }}"
  labels:
    app: marsha
    version: "{{ marsha_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ marsha_media_volume_size }}
  persistentVolumeReclaimPolicy: "{{ pv_reclaim_policy }}"
