apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: marsha-pvc-static
  namespace: "{{ project_name }}"
  labels:
    app: marsha
    version: "{{ marsha_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 2Gi
