{% if env_type in trashable_env_types %}
apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: edxapp
    service: mongodb
    version: "{{ edxapp_mongodb_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "{{ edxapp_mongodb_host }}-{{ deployment_stamp }}"
  namespace: "{{ namespace_name }}"
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: edxapp
        service: mongodb
        version: "{{ edxapp_mongodb_image_tag }}"
        deploymentconfig: "{{ edxapp_mongodb_host }}-{{ deployment_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
{% set image_pull_secret_name = edxapp_mongodb_image_pull_secret_name | default(none) or default_image_pull_secret_name %}
{% if image_pull_secret_name is not none %}
      imagePullSecrets:
        - name: "{{ image_pull_secret_name }}"
{% endif %}
      containers:
        - image: "{{ edxapp_mongodb_image_name }}:{{ edxapp_mongodb_image_tag }}"
          name: mongodb
          ports:
            - containerPort: "{{ edxapp_mongodb_port }}"
              protocol: TCP
          envFrom:
            - secretRef:
                name: "{{ edxapp_mongodb_secret_name }}"
{% endif %}
