apiVersion: v1
kind: Secret
metadata:
  labels:
    app: edxapp
    service: mongodb
  name: "{{ edxapp_mongodb_secret_name }}"
  namespace: "{{ project_name }}"
data:
  MONGODB_ADMIN_PASSWORD: "{{ EDXAPP_VAULT.MONGODB_ADMIN_PASSWORD | default('password') | b64encode }}"
  MONGODB_USER: "{{ EDXAPP_VAULT.MONGODB_USER | default('edxapp_user') | b64encode }}"
  MONGODB_PASSWORD: "{{ EDXAPP_VAULT.MONGODB_PASSWORD | default('password') | b64encode }}"
  MONGODB_DATABASE: "{{ EDXAPP_VAULT.MONGODB_DATABASE | default('edxapp') | b64encode }}"
