apiVersion: "v1"
kind: "BuildConfig"
metadata:
  name: "nextcloud-{{ nextcloud_image_tag }}"
  namespace: "{{ project_name }}"
  labels:
    app: nextcloud
    service: nextcloud
    version: "{{ nextcloud_version }}"
    deployment_stamp: "{{ deployment_stamp }}"
spec:
  strategy:
    dockerStrategy:
      noCache: true
      forcePull: true
  source:
    dockerfile: |-
      FROM {{ nextcloud_image_name }}:{{ nextcloud_image_tag }}
      USER 0

      # Remove skeleton content to create an empty directory
      # when a user is created
      RUN rm -rf /app/core/skeleton/*

      RUN chown -R {{ nextcloud_user_id }}:root {{ nextcloud_base_dir }} && \
          chown {{ nextcloud_user_id }}:root /usr/local/bin/install.sh

      USER {{ nextcloud_user_id }}

      # Nextcloud warn us if this file doesn't exists and the pod stays in CrashLoopBackOff
      RUN touch {{ nextcloud_base_dir }}/data/.ocdata
  triggers:
    - type: "ConfigChange"
  output:
    to:
      kind: "ImageStreamTag"
      name: "nextcloud:{{ nextcloud_image_tag }}"
