apiVersion: batch/v1
kind: Job
metadata:
  name: nextcloud-install-job-{{ job_stamp }}
  namespace: "{{ namespace_name }}"
  labels:
    app: nextcloud
    service: nextcloud
    version: "{{ nextcloud_version }}"
    deployment_stamp: "{{ deployment_stamp }}"
    job_stamp: "{{ job_stamp }}"
spec:
  template:
    metadata:
      name: nextcloud-install-job-{{ job_stamp }}
      labels:
        app: nextcloud
        service: nextcloud
        version: "{{ nextcloud_version }}"
        deployment_stamp: "{{ deployment_stamp }}"
        job_stamp: "{{ job_stamp }}"
    spec:
{% set image_pull_secret_name = nextcloud_image_pull_secret_name | default(none) or default_image_pull_secret_name %}
{% if image_pull_secret_name is not none %}
      imagePullSecrets:
        - name: "{{ image_pull_secret_name }}"
{% endif %}
      restartPolicy: Never
      containers:
        - name: nextcloud
          image: {{ nextcloud_image_name }}:{{ nextcloud_image_tag }}
          imagePullPolicy: Always
          envFrom:
            - secretRef:
                name: "{{ nextcloud_secret_name }}"
            - configMapRef:
                name: "nextcloud-app-dotenv-{{ deployment_stamp }}"
          env:
            - name: INSTALLED
              value: "false"
          command:
            - "/bin/bash"
            - "-c"
            - entrypoint.sh install.sh
          resources: {{ nextcloud_app_job_install_resources }}
          volumeMounts:
            - name: nextcloud-v-install
              mountPath: /tmp/nextcloud  
      volumes:
        - name: nextcloud-v-install
          persistentVolumeClaim:
            claimName: nextcloud-pvc-install
      securityContext:
        runAsUser: {{ container_uid }}
        runAsGroup: {{ container_gid }}
