apiVersion: v1
kind: Secret
metadata:
  labels:
    app: nextcloud
    service: nextcloud
  name: "{{ nextcloud_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
{% for k, v in NEXTCLOUD_VAULT.NEXTCLOUD_SECRETS.items() %}
  {{ k }}: {{ v | default('') | b64encode }}
{% endfor %}
