apiVersion: v1
kind: Service
metadata:
  labels:
    app: nextcloud
    service: nextcloud
    version: "{{ nextcloud_version }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: nextcloud-app-{{ deployment_stamp }}  # name of the service should be host name in nginx
  namespace: "{{ project_name }}"
spec:
  ports:
  - name: 9000-tcp
    port: 9000
    protocol: TCP
    targetPort: 9000
  selector:
    app: nextcloud
    deploymentconfig: "nextcloud-app-{{ deployment_stamp }}"
  type: ClusterIP
