apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: etherpad
    service: nginx
    version: "{{ etherpad_nginx_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "etherpad-nginx-{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
spec:
  replicas: {{ etherpad_nginx_replicas }}
  template:
    metadata:
      labels:
        app: etherpad
        service: nginx
        version: "{{ etherpad_nginx_image_tag }}"
        deploymentconfig: "etherpad-nginx-{{ deployment_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      # Prefer running pods on different nodes for redundancy
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: deploymentconfig
                  operator: In
                  values:
                  - "etherpad-nginx-{{ deployment_stamp }}"
              topologyKey: kubernetes.io/hostname
      containers:
        - image: "{{ etherpad_nginx_image_name }}:{{ etherpad_nginx_image_tag }}"
          name: nginx
          ports:
            - containerPort: {{ etherpad_nginx_port }}
              protocol: TCP
          volumeMounts:
            - mountPath: /etc/nginx/conf.d
              name: etherpad-v-nginx
              readOnly: true
{% if activate_http_basic_auth or etherpad_activate_http_basic_auth %}
            - mountPath: "{{ http_basic_auth_user_file | dirname }}"
              name: etherpad-htpasswd
{% endif %}

          livenessProbe:
            httpGet:
              path: "{{ etherpad_nginx_healthcheck_endpoint }}"
              port: {{ etherpad_nginx_healthcheck_port }}
            initialDelaySeconds: 60
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: "{{ etherpad_nginx_healthcheck_endpoint }}"
              port: {{ etherpad_nginx_healthcheck_port }}
            initialDelaySeconds: 10
            periodSeconds: 5
      volumes:
        - name: etherpad-v-nginx
          configMap:
            name: etherpad-nginx-{{ deployment_stamp }}
{% if activate_http_basic_auth or etherpad_activate_http_basic_auth %}
        - name: etherpad-htpasswd
          secret:
            secretName: "{{ etherpad_nginx_htpasswd_secret_name }}"
{% endif %}
