apiVersion: v1
kind: Route
metadata:
  namespace: "{{ project_name }}"
  name: "etherpad-nginx-{{ prefix }}"
  labels:
    env_type: "{{ env_type }}"
    customer: "{{ customer }}"
    app: "etherpad"
    service: "nginx"
    version: "{{ etherpad_nginx_image_tag }}"
    route_prefix: "{{ prefix }}"
    route_target_service: "app"
  annotations:
    kubernetes.io/tls-acme: "true"
    haproxy.router.openshift.io/disable_cookies: "true"
    haproxy.router.openshift.io/balance: "roundrobin"
spec:
  host: "{{ etherpad_host | blue_green_host(prefix) }}"
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  port:
    targetPort: "{{ etherpad_nginx_port }}-tcp"
  to:
    kind: Service
    name: "etherpad-nginx-{{ deployment_stamp }}"
