apiVersion: v1
kind: Service
metadata:
  labels:
    app: etherpad
    service: nginx
    deployment_stamp: "{{ deployment_stamp }}"
    service_prefix: "{{ prefix }}"
    type: static-service
    removable: "no"
  name: "etherpad-nginx-{{ prefix }}"
  namespace: "{{ namespace_name }}"
spec:
  ports:
    - name: {{ etherpad_nginx_port }}-tcp
      port: {{ etherpad_nginx_port }}
      protocol: TCP
      targetPort: {{ etherpad_nginx_port }}
    - name: "{{ etherpad_nginx_healthcheck_port }}-tcp"
      port: {{ etherpad_nginx_healthcheck_port }}
      protocol: TCP
      targetPort: {{ etherpad_nginx_healthcheck_port }}
  selector:
    app: etherpad
    deployment: "etherpad-nginx-{{ deployment_stamp | default('undefined', true) }}"
  type: ClusterIP
