apiVersion: v1
kind: Service
metadata:
  labels:
    app: etherpad
    service: nginx
    version: "{{ etherpad_nginx_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "etherpad-nginx-{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
spec:
  ports:
    - name: {{ etherpad_nginx_port }}-tcp
      port: {{ etherpad_nginx_port }}
      protocol: TCP
      targetPort: {{ etherpad_nginx_port }}
    - name: "{{ etherpad_nginx_healthcheck_port }}-tcp"
      port: {{ etherpad_nginx_healthcheck_port }}
      protocol: TCP
      targetPort: {{ etherpad_nginx_healthcheck_port }}
  selector:
    app: etherpad
    deploymentconfig: "etherpad-nginx-{{ deployment_stamp }}"
  type: ClusterIP
