apiVersion: v1
kind: Service
metadata:
  labels:
    app: elasticsearch
    version: "{{ elasticsearch_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  # name of the service should be database host name in settings
  name: "{{ elasticsearch.host }}"
  namespace: "{{ project_name }}"
spec:
  ports:
  - name: {{ elasticsearch.port }}-tcp
    port: {{ elasticsearch.port }}
    protocol: TCP
    targetPort: {{ elasticsearch.port }}
  selector:
    deploymentconfig: "elasticsearch-{{ deployment_stamp }}"
  type: ClusterIP
