apiVersion: v1
kind: Service
metadata:
  labels:
    app: mongodb
    version: "{{ mongodb_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  # name of the service should be mongodb host name in settings
  name: "{{ mongodb.host }}"
  namespace: "{{ project_name }}"
spec:
  ports:
  - name: {{ mongodb.port }}-tcp
    port: {{ mongodb.port }}
    protocol: TCP
    targetPort: {{ mongodb.port }}
{% if env_type == "development"  %}
  selector:
    deploymentconfig: "mongodb-{{ deployment_stamp }}"
  type: ClusterIP
{% endif%}
