apiVersion: v1
kind: Service
metadata:
  labels:
    app: mysql
    version: "{{ mysql_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  # name of the service should be database host name in settings
  name: "{{ mysql.host }}"
  namespace: "{{ project_name }}"
spec:
  ports:
  - name: {{ mysql.port }}-tcp
    port: {{ mysql.port }}
    protocol: TCP
    targetPort: {{ mysql.port }}
{% if env_type == "development"  %}
  selector:
    deploymentconfig: "mysql-{{ deployment_stamp }}"
  type: ClusterIP
{% endif%}
