apiVersion: v1
kind: Service
metadata:
  labels:
    app: nginx
    version: "{{ nginx_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: nginx-{{ deployment_stamp }}
  namespace: "{{ project_name }}"
spec:
  ports:
{% for port in nginx_ports %}
  - name: {{ port }}-tcp
    port: {{ port }}
    protocol: TCP
    targetPort: {{ port }}
{% endfor %}
  selector:
    deploymentconfig: nginx-{{ deploy_flag }}
  type: ClusterIP
