apiVersion: v1
kind: Service
metadata:
  labels:
    app: nginx
  name: nginx
  namespace: "{{ project_name }}"
spec:
  ports:
{% for port in nginx_ports %}
  - name: {{ port }}-tcp
    port: {{ port }}
    protocol: TCP
    targetPort: {{ port }}
{% endfor %}
  selector:
    deploymentconfig: nginx
  type: ClusterIP
