apiVersion: v1
kind: Service
metadata:
  labels:
    app: postgresql
    version: "{{ postgresql_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  # name of the service should be database host name in settings
  name: "{{ postgresql.host }}"
  namespace: "{{ project_name }}"
spec:
  ports:
    - name: {{ postgresql.port }}-tcp
      port: {{ postgresql.port }}
      protocol: TCP
      targetPort: {{ postgresql.port }}
{% if env_type == "development"  %}
  selector:
    deploymentconfig: "postgresql-{{ deployment_stamp }}"
  type: ClusterIP
{% endif%}
