apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: richie
    service: elasticsearch
    version: "{{ elasticsearch_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "elasticsearch-{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
spec:
  replicas: 1
  selector:
    app: richie
    deploymentconfig: "elasticsearch-{{ deployment_stamp }}"
  template:
    metadata:
      labels:
        app: richie
        service: elasticsearch
        version: "{{ elasticsearch_tag }}"
        deploymentconfig: "elasticsearch-{{ deployment_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      containers:
        - image: {{ elasticsearch_image }}:{{ elasticsearch_tag }}
          name: elasticsearch
          ports:
            - containerPort: {{ elasticsearch.port }}
              protocol: TCP
