{% if env_type in trashable_env_types %}
apiVersion: v1
kind: Deployment
metadata:
  labels:
    app: forum
    service: mongodb
    version: "{{ forum_mongodb_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "{{ forum_mongodb_host }}-{{ deployment_stamp }}"
  namespace: "{{ namespace_name }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: forum
      service: mongodb
      version: "{{ forum_mongodb_image_tag }}"
      deployment: "{{ forum_mongodb_host }}-{{ deployment_stamp }}"
      deployment_stamp: "{{ deployment_stamp }}"
  template:
    metadata:
      labels:
        app: forum
        service: mongodb
        version: "{{ forum_mongodb_image_tag }}"
        deployment: "{{ forum_mongodb_host }}-{{ deployment_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
{% set image_pull_secret_name = forum_mongodb_image_pull_secret_name | default(none) or default_image_pull_secret_name %}
{% if image_pull_secret_name is not none %}
      imagePullSecrets:
        - name: "{{ image_pull_secret_name }}"
{% endif %}
      containers:
        - image: "{{ forum_mongodb_image_name }}:{{ forum_mongodb_image_tag }}"
          name: mongodb
          ports:
            - containerPort: {{ forum_mongodb_port }}
              protocol: TCP
          envFrom:
            - secretRef:
                name: "{{ forum_mongodb_secret_name }}"
      securityContext:
        runAsUser: {{ container_uid }}
        runAsGroup: {{ container_gid }}
{% endif %}
