# secret: forum
# customer: {{ customer }}
# env_type: {{ env_type }}

# MongoDB
{% set mongodb_credentials = databases.mongodb | json_query("[?release=='" ~ forum_mongodb_version ~ "'].databases | [0][?application=='forum'].{user: user, password: password, name: name} | [0]") %}
MONGODB_ADMIN_PASSWORD: "{{ lookup('password', '/dev/null length=24') }}"
MONGODB_USER: {{ mongodb_credentials.user }}
MONGODB_PASSWORD: {{ mongodb_credentials.password }}
MONGODB_DATABASE: {{ mongodb_credentials.name }}

# Forum
# Nota bene: the forum API_KEY should match the following edxapp lms settings:
# COMMENTS_SERVICE_KEY
# Make sure your forum key does not end with a ":" or the ruby app will break with a syntax error
API_KEY: "{{ lookup('password','/dev/null length=47') }}{{ lookup('password','/dev/null length=1 chars=ascii_letters') }}"
