# MongoDB
{% set mongodb_credentials = databases.mongodb | json_query("[?release=='" ~ learninglocker_mongodb_version ~ "'].databases | [0][?application=='learninglocker'].{user: user, password: password, name: name} | [0]") %}
MONGODB_ADMIN_PASSWORD: "{{ lookup('password', '/dev/null length=24') }}"
MONGODB_USER: {{ mongodb_credentials.user }}
MONGODB_PASSWORD: {{ mongodb_credentials.password }}
MONGODB_DATABASE: {{ mongodb_credentials.name }}

# secrets variable injected in the learninglocker secret object
LL_SECRETS:
  SITE_URL:
  APP_SECRET: {{ lookup('password', '/dev/null length=50') }}
  REDIS_HOST: redis
  REDIS_PORT: {{ redis_app_port }}
  REDIS_PREFIX: LEARNINGLOCKER
  SMTP_HOST: mailcatcher
  SMTP_PORT: {{ mailcatcher_sender_port }}
  SMTP_SECURED: false
  SMTP_USER:
  SMTP_PASS:
  MONGODB_USER: {{ mongodb_credentials.user }}
  MONGODB_PASSWORD: {{ mongodb_credentials.password }}
  MONGODB_DATABASE: {{ mongodb_credentials.name }}

# secrets variable injected in the xapi secret object
XAPI_SECRETS:
  MONGODB_USER: {{ mongodb_credentials.user }}
  MONGODB_PASSWORD: {{ mongodb_credentials.password }}
  MONGODB_DATABASE: {{ mongodb_credentials.name }}
