from django.contrib.auth.models import User


{% for user in demo_users %}
# Creating user {{ user.username }}
user, is_created = User.objects.get_or_create(
    username="{{ user.username }}",
    defaults={
        "email": "{{ user.email }}",
        "is_staff": "{{ user.is_staff }}",
        "is_superuser": "{{ user.is_superuser }}",
    },
)
user.set_password("{{ user.password }}")
user.save()

{% endfor %}
