/**
 * THIS IS THE SETTINGS FILE THAT IS COPIED INSIDE THE DOCKER CONTAINER.
 *
 * For more information about the file format, please check reference template
 * documentation:
 *
 * https://github.com/ether/etherpad-lite/blob/develop/settings.json.docker
 */

/*
 * This file must be valid JSON. But comments are allowed
 *
 * Please edit settings.json, not settings.json.template
 *
 * Please note that starting from Etherpad 1.6.0 you can store DB credentials in
 * a separate file (credentials.json).
 *
 *
 * ENVIRONMENT VARIABLE SUBSTITUTION
 * =================================
 *
 * All the configuration values can be read from environment variables using the
 * syntax "${ENV_VAR}" or "${ENV_VAR:default_value}".
 *
 * This is useful, for example, when running in a Docker container.
 *
 * EXAMPLE:
 *    "port":     "${PORT:9001}"
 *    "minify":   "${MINIFY}"
 *    "skinName": "${SKIN_NAME:colibris}"
 *
 * Would read the configuration values for those items from the environment
 * variables PORT, MINIFY and SKIN_NAME.
 *
 * If PORT and SKIN_NAME variables were not defined, the default values 9001 and
 * "colibris" would be used.
 * The configuration value "minify", on the other hand, does not have a
 * designated default value. Thus, if the environment variable MINIFY were
 * undefined, "minify" would be null.
 *
 * REMARKS:
 * 1) please note that variable substitution always needs to be quoted.
 *
 *    "port":     9001,            <-- Literal values. When not using
 *    "minify":   false                substitution, only strings must be
 *    "skinName": "colibris"           quoted. Booleans and numbers must not.
 *
 *    "port":     "${PORT:9001}"   <-- CORRECT: if you want to use a variable
 *    "minify":   "${MINIFY:true}"     substitution, put quotes around its name,
 *    "skinName": "${SKIN_NAME}"       even if the required value is a number or
 *                                     a boolean.
 *                                     Etherpad will take care of rewriting it
 *                                     to the proper type if necessary.
 *
 *    "port":     ${PORT:9001}     <-- ERROR: this is not valid json. Quotes
 *    "minify":   ${MINIFY}            around variable names are missing.
 *    "skinName": ${SKIN_NAME}
 *
 * 2) Beware of undefined variables and default values: nulls and empty strings
 *    are different!
 *
 *    This is particularly important for user's passwords (see the relevant
 *    section):
 *
 *    "password": "${PASSW}"  // if PASSW is not defined would result in password === null
 *    "password": "${PASSW:}" // if PASSW is not defined would result in password === ''
 *
 */
{
  "title": "${TITLE:Etherpad}",
  "favicon": "${FAVICON:favicon.ico}",
  "skinName": "${SKIN_NAME:colibris}",
  "ip": "${IP:0.0.0.0}",
  "port": "${PORT:9001}",
  "showSettingsInAdminPage": "${SHOW_SETTINGS_IN_ADMIN_PAGE:false}",
  "dbType": "${DB_TYPE:dirty}",
  "dbSettings": {
    "host": "${DB_HOST}",
    "port": "${DB_PORT}",
    "database": "${DB_NAME}",
    "user": "${DB_USER}",
    "password": "${DB_PASS}",
    "charset": "${DB_CHARSET}",
    "filename": "${DB_FILENAME:var/dirty.db}"
  },
  "defaultPadText": "Welcome to Etherpad!\n\nThis pad text is synchronized as you type, so that everyone viewing this page sees the same text. This allows you to collaborate seamlessly on documents!\n\nGet involved with Etherpad at http://etherpad.org\n",
  "padOptions": {
    "noColors": false,
    "showControls": true,
    "showChat": true,
    "showLineNumbers": true,
    "useMonospaceFont": false,
    "userName": false,
    "userColor": false,
    "rtl": false,
    "alwaysShowChat": false,
    "chatAndUsers": false,
    "lang": "en-gb"
  },
  "padShortcutEnabled": {
    "altF9": true /* focus on the File Menu and/or editbar */,
    "altC": true /* focus on the Chat window */,
    "cmdShift2": true /* shows a gritter popup showing a line author */,
    "delete": true,
    "return": true,
    "esc": true /* in mozilla versions 14-19 avoid reconnecting pad */,
    "cmdS": true /* save a revision */,
    "tab": true /* indent */,
    "cmdZ": true /* undo/redo */,
    "cmdY": true /* redo */,
    "cmdI": true /* italic */,
    "cmdB": true /* bold */,
    "cmdU": true /* underline */,
    "cmd5": true /* strike through */,
    "cmdShiftL": true /* unordered list */,
    "cmdShiftN": true /* ordered list */,
    "cmdShift1": true /* ordered list */,
    "cmdShiftC": true /* clear authorship */,
    "cmdH": true /* backspace */,
    "ctrlHome": true /* scroll to top of pad */,
    "pageUp": true,
    "pageDown": true
  },
  "suppressErrorsInPadText": false,
  "requireSession": false,
  "editOnly": false,
  "sessionNoPassword": false,
  "minify": true,
  "maxAge": 21600,
  "abiword": null,
  "soffice": null,
  "tidyHtml": null,
  "allowUnknownFileEnds": true,
  "requireAuthentication": false,
  "requireAuthorization": false,
  "trustProxy": "${TRUST_PROXY:true}",
  "disableIPlogging": false,
  "automaticReconnectionTimeout": 30,
  "scrollWhenFocusLineIsOutOfViewport": {
    "percentage": {
      "editionAboveViewport": 0,
      "editionBelowViewport": 0
    },
    "duration": 0,
    "scrollWhenCaretIsInTheLastLineOfViewport": false,
    "percentageToScrollWhenUserPressesArrowUp": 0
  },
  "users": {
    "admin": {
      "password": "${ADMIN_PASSWORD}",
      "is_admin": true
    },
    "user": {
      "password": "${USER_PASSWORD}",
      "is_admin": false
    }
  },
  "socketTransportProtocols": ["xhr-polling", "jsonp-polling", "htmlfile"],
  "loadTest": false,
  "exposeVersion": false,
  "loglevel": "${LOGLEVEL:INFO}",
  "logconfig": {
    "appenders": [
      {
        "type": "console"
      }
    ]
  } // logconfig
}
