# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Editors
.vscode

# Ansible temporary files
.ansible/
*.retry
.vault_pass

# Environment
env.d/*

# Tests temporary files
.coverage
.pytest_cache
.pylint.d

# OpenShift
openshift.local.clusterup
