# Core
ansible==2.9.9
ansible-lint==4.2.0
deepmerge==0.1.0
jmespath==0.10.0
openshift==0.11.2
passlib==1.7.2
PyYAML==5.3.1
netaddr==0.7.19
requests==2.23.0
yq==2.10.1

# Quality
flake8==3.8.2
isort==4.3.21
pylint==2.5.3

# Tests
pytest==5.4.3
pytest-cov==2.9.0
pyfakefs==4.0.2
