{% set http_basic_auth_enabled = activate_http_basic_auth or moodlenet_activate_http_basic_auth %}
{% set bypass_htaccess = moodlenet_nginx_bypass_htaccess_ip_whitelist | length > 0 %}
upstream moodlenet-backend {
  server moodlenet-backend-{{ deployment_stamp }}:{{ moodlenet_backend_port }} fail_timeout=0;
}

server {
  listen {{ moodlenet_nginx_port }};
  server_name localhost;
  root /app;

{% if http_basic_auth_enabled %}
{% if bypass_htaccess %}
  location @basicauth {
    auth_basic "{{ http_basic_auth_message }}";
    auth_basic_user_file {{ http_basic_auth_user_file }};

    try_files $uri @proxy_to_moodlenet_app;
  }
{% else %}
  auth_basic "{{ http_basic_auth_message }}";
  auth_basic_user_file {{ http_basic_auth_user_file }};
{% endif %}
{% endif %}

  # Disables server version feedback on pages and in headers
  server_tokens off;
  {% block server_extra %}{% endblock %}

  location / {
    {% if http_basic_auth_enabled and bypass_htaccess %}
        if ($http_x_forwarded_for !~ ^({{ moodlenet_nginx_bypass_htaccess_ip_whitelist | join("|") }})) {
          error_page 401 = @basicauth;
          return 401;
        }
    {% endif %}

    return 404;
  }

  ## Backend routes
  location @proxy_to_backend {
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Port $server_port;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_http_version 1.1;

    proxy_set_header Host $http_host;

    proxy_redirect off;
    proxy_pass http://moodlenet-backend;
  }

  location /api {
    client_max_body_size {{ moodlenet_upload_limit }};
    try_files $uri @proxy_to_backend;
  }

  location /pub {
    try_files $uri @proxy_to_backend;
  }

  location /oauth {
    try_files $uri @proxy_to_backend;
  }

  location /.well-known {
    try_files $uri @proxy_to_backend;
  }

}
