{%- from "apps/forum/templates/services/app/macros/mongodb_uri.yml.j2" import mongodb_uri with context -%}
apiVersion: v1
kind: Deployment
metadata:
  labels:
    app: forum
    service: forum
    version: "{{ forum_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "forum-app-{{ deployment_stamp }}"
  namespace: "{{ namespace_name }}"
spec:
  replicas: {{ forum_app_replicas }}
  selector:
    matchLabels:
      app: forum
      service: forum
      version: "{{ forum_image_tag }}"
      deployment: "forum-app-{{ deployment_stamp }}"
      deployment_stamp: "{{ deployment_stamp }}"
  template:
    metadata:
      labels:
        app: forum
        service: forum
        version: "{{ forum_image_tag }}"
        deployment: "forum-app-{{ deployment_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      # Prefer running pods on different nodes for redundancy
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: deployment
                  operator: In
                  values:
                  - "forum-app-{{ deployment_stamp }}"
              topologyKey: kubernetes.io/hostname
{% set image_pull_secret_name = forum_image_pull_secret_name | default(none) or default_image_pull_secret_name %}
{% if image_pull_secret_name is not none %}
      imagePullSecrets:
        - name: "{{ image_pull_secret_name }}"
{% endif %}
      containers:
        - name: forum
          image: "{{ forum_image_name }}:{{ forum_image_tag }}"
          imagePullPolicy: Always
          livenessProbe:
            httpGet:
              path: /heartbeat
              port: {{ forum_port }}
              httpHeaders:
                - name: Host
                  value: "{{ forum_host }}"
            initialDelaySeconds: 60
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /heartbeat
              port: {{ forum_port }}
              httpHeaders:
                - name: Host
                  value: "{{ forum_host }}"
            initialDelaySeconds: 10
            periodSeconds: 5
          ports:
            - containerPort: {{ forum_port }}
              protocol: TCP
          envFrom:
            - secretRef:
                name: "{{ forum_secret_name }}"
          env:
            - name: SEARCH_SERVER
              value: "http://forum-elasticsearch-{{ deployment_stamp }}:{{ forum_elasticsearch_port }}"
            - name: MONGOHQ_URL
              value: "{{ mongodb_uri(env_type, trashable_env_types, forum_mongodb_host, deployment_stamp, forum_endpoint_mongodb_ips, forum_mongodb_replicaset, forum_mongodb_port, forum_mongodb_read_preference) }}"
          command:
            - "/bin/bash"
            - "-c"
            - bundle exec puma
      securityContext:
        runAsUser: {{ container_uid }}
        runAsGroup: {{ container_gid }}
