apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  namespace: "{{ namespace_name }}"
  name: "forum-{{ prefix }}"
  labels:
    env_type: "{{ env_type }}"
    customer: "{{ customer }}"
    app: "forum"
    service: "app"
    route_prefix: "{{ prefix }}"
    route_target_service: "app"
  annotations:
    cert-manager.io/issuer: "{{ acme_issuer_name }}"
spec:
  rules:
  - host: "{{ forum_host | blue_green_host(prefix) }}"
    http:
      paths:
      - backend:
          serviceName: "forum-app-{{ prefix }}"
          servicePort: {{ forum_port }}
        path: /
  tls:
  - hosts:
    - "{{ forum_host | blue_green_host(prefix) }}"
    secretName: "forum-app-tls-{{ prefix }}"
