{%- from "apps/forum/templates/services/app/macros/mongodb_uri.yml.j2" import mongodb_uri with context -%}
apiVersion: batch/v1
kind: Job
metadata:
  name: forum-elasticsearch-init-index-{{ job_stamp }}
  namespace: "{{ project_name }}"
  labels:
    app: forum
    service: app
    version: "{{ forum_image_tag }}"
    job_stamp: "{{ job_stamp }}"
    deployment_stamp: "{{ deployment_stamp }}"
spec:
  template:
    metadata:
      name: elasticsearch-init-index-{{ job_stamp }}
      labels:
        app: forum
        service: app
        version: "{{ forum_image_tag }}"
        job_stamp: "{{ job_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      containers:
        - name: elasticsearch-init-index-{{ job_stamp }}
          image: "{{ forum_image_name }}:{{ forum_image_tag }}"
          envFrom:
            - secretRef:
                name: "{{ forum_secret_name }}"
          env:
            - name: SEARCH_SERVER
              value: "http://forum-elasticsearch-{{ deployment_stamp }}:{{ forum_elasticsearch_port }}"
            - name: MONGOHQ_URL
              value: "{{ mongodb_uri(env_type, trashable_env_types, forum_mongodb_host, deployment_stamp, endpoint_mongodb_ips, forum_mongodb_replicaset, forum_mongodb_port, forum_mongodb_read_preference) }}"
          command:
            - "/bin/bash"
            - "-c"
            - bin/rake search:initialize
      restartPolicy: Never
