apiVersion: v1
kind: Service
metadata:
  labels:
    app: redirect
    deployment_stamp: "{{ deployment_stamp }}"
  name: redirect-{{ deployment_stamp }}
  namespace: "{{ project_name }}"
spec:
  ports:
    - name: {{ aliases_port }}-tcp
      port: {{ aliases_port }}
      protocol: TCP
      targetPort: {{ aliases_port }}
  selector:
    deploymentconfig: redirect-{{ deployment_stamp }}
  type: ClusterIP
