apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: edxapp-lms
    version: "{{ edxapp_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: edxapp-lms-{{ deployment_stamp }}
  namespace: "{{ project_name }}"
spec:
  replicas: 1  # number of pods we want
  selector:
    app: edxapp-lms
    deploymentconfig: edxapp-lms-{{ deployment_stamp }}
  template:
    metadata:
      labels:
        app: edxapp-lms
        deploymentconfig: edxapp-lms-{{ deployment_stamp }}
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      containers:
      - name: edxapp-lms
        env:
        - name: SERVICE_VARIANT
          value: lms
        - name: DJANGO_SETTINGS_MODULE
          value: lms.envs.fun.docker_run
        image: "{{ edxapp_image }}:{{ edxapp_tag }}"
        imagePullPolicy: IfNotPresent
        volumeMounts:
        - mountPath: /config
          name: edxapp-config
        - mountPath: /edx/var/edxapp/media
          name: edxapp-v-media
        - mountPath: /edx/app/edxapp/staticfiles
          name: edxapp-v-static
        - mountPath: /edx/app/edxapp/data
          name: edxapp-v-data
      initContainers:
        # This initContainer has nothing mounted on its "/config" directory. We
        # copy the content of its "/config" directory (fun-platform default
        # settings) to the "/tmp/config" directory (edxapp-config volume). Then,
        # we copy service variant configMaps that may override default
        # configuration (docker_run*.py and settings.yml) in that same
        # "/tmp/config" directory. And finally, we also copy sensible
        # credentials from edxapp secret (credentials.vault.yml). When this
        # initContainer shuts down, the "edxapp-config" volume has been filled
        # with all project settings that will be used to run the service variant
        # container. Please refer to the documentation to better understand our
        # settings generation mecanism.
        - name: init-create-config
          image: "{{ edxapp_image }}:{{ edxapp_tag }}"
          imagePullPolicy: IfNotPresent
          command:
            - "/bin/bash"
            - "-c"
            - cp -r /config/* /tmp/config &&
              cp -rL /tmp/configmap-lms/* /tmp/config/lms/ &&
              cp /tmp/secret/credentials.vault.yml /tmp/config/lms/secrets.yml
          volumeMounts:
            - mountPath: /tmp/config
              name: edxapp-config
            - mountPath: /tmp/configmap-lms
              name: edxapp-configmap-lms
            - mountPath: /tmp/secret
              name: edxapp-secret
      volumes:
        - name: edxapp-configmap-lms
          configMap:
            defaultMode: 420
            name: edxapp-lms-{{ deployment_stamp }}
        - name: edxapp-config
          emptyDir: {}  # volume that lives as long as the pod lives
        - name: edxapp-secret
          secret:
            secretName: edxapp-{{ secret_id }}
        - name: edxapp-v-media
          persistentVolumeClaim:
            claimName: edxapp-pvc-media
        - name: edxapp-v-static
          persistentVolumeClaim:
            claimName: edxapp-pvc-static
        - name: edxapp-v-data
          persistentVolumeClaim:
            claimName: edxapp-pvc-data
