apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: nginx
    version: "{{ nginx_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: nginx-edxapp-{{ deployment_stamp }}
  namespace: "{{ project_name }}"
spec:
  replicas: 1
  selector:
    deploymentconfig: nginx-edxapp-{{ deployment_stamp }}
  template:
    metadata:
      labels:
        app: nginx
        version: "{{ nginx_tag }}"
        deploymentconfig: nginx-edxapp-{{ deployment_stamp }}
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      containers:
      - image: "{{ nginx_image }}:{{ nginx_tag }}"
        name: nginx
        ports:
        - containerPort: 80
          protocol: TCP
        volumeMounts:
        - mountPath: /etc/nginx/conf.d
          name: edxapp-v-nginx
          readOnly: true
        - mountPath: /data/media
          name: edxapp-v-media
          readOnly: true
        - mountPath: /data/static
          name: edxapp-v-static
          readOnly: true
      volumes:
      - name: edxapp-v-nginx
        configMap:
          name: edxapp-nginx-{{ deployment_stamp }}
      - name: edxapp-v-static
        persistentVolumeClaim:
          claimName: edxapp-pvc-static
      - name: edxapp-v-media
        persistentVolumeClaim:
          claimName: edxapp-pvc-media
