# secret: edxapp
# customer: {{ customer }}
# env_type: {{ env_type }}

# Mysql
{% set mysql_credentials = databases.mysql | json_query("[?release=='" ~ edxapp_mysql_version ~ "'].databases | [0][?application=='edxapp'].{user: user, password: password, name: name} | [0]") %}
MYSQL_ROOT_PASSWORD: ""
MYSQL_ALLOW_EMPTY_PASSWORD: yes
MYSQL_DATABASE: {{ mysql_credentials.name }}
MYSQL_USER: {{ mysql_credentials.user }}
MYSQL_PASSWORD: {{ mysql_credentials.password }}

# MongoDB
{% set mongodb_credentials = databases.mongodb | json_query("[?release=='" ~ edxapp_mongodb_version ~ "'].databases | [0][?application=='edxapp'].{user: user, password: password, name: name} | [0]") %}
MONGODB_ADMIN_PASSWORD: "{{ lookup('password', '/dev/null length=24') }}"
MONGODB_USER: {{ mongodb_credentials.user }}
MONGODB_PASSWORD: {{ mongodb_credentials.password }}
MONGODB_DATABASE: {{ mongodb_credentials.name }}

# Celery broker (redis)
CELERY_BROKER_USER: ""
CELERY_BROKER_PASSWORD: ""

# secrets.yml that will be mounted to every pod running edxapp
SECRETS_FILE:
  # Celery
  CELERY_BROKER_USER: ""
  CELERY_BROKER_PASSWORD: ""

  # FIXME: this COMMENTS_SERVICE_KEY should match the "forum" service API_KEY
  COMMENTS_SERVICE_KEY: "thisisafakeapikey"

  # MYSQL
  DATABASE_NAME: "{{ mysql_credentials.name }}"
  DATABASE_USER: "{{ mysql_credentials.user }}"
  DATABASE_PASSWORD: "{{ mysql_credentials.password }}"

  # MongoDB
  MONGODB_NAME: "{{ mongodb_credentials.name }}"
  MONGODB_USER: "{{ mongodb_credentials.user }}"
  MONGODB_PASSWORD: "{{ mongodb_credentials.password }}"

# If you need to git-clone a private theme via SSH, uncomment the following key
# and add the content of your ssh private key in the following format:
#
# EDXAPP_THEME_GIT_PRIVATE_KEY: | -----BEGIN RSA PRIVATE KEY-----
#   MIIJKAIBAAKCAgEAxY2VSZZRsjde+Hdpx1ixXhJV0MVCWkhTI76mMq9TRnXuihcY
#   [...]
#   PpOyoKHbpoVxFDv4S9kj2RmmRDkWdTOncKNcVj4+ZkPGIhI8Hfcb04GpBW1PFfNn -----END
#   RSA PRIVATE KEY-----
