apiVersion: "v1"
kind: "BuildConfig"
metadata:
  # FIXME
  #
  # As mentionned in the official documentation [1]:
  #
  #   Configuration change triggers currently only work when creating a new
  #   BuildConfig. In a future release, configuration change triggers will also
  #   be able to launch a build whenever a BuildConfig is updated.
  #
  # Hence, we must force BuildConfig to always get created with a unique name.
  # This is a temporary solution that needs to be improved as soon as OKD
  # triggers a new build upon BC object update.
  #
  # References:
  #
  # 1. https://docs.okd.io/latest/dev_guide/builds/triggering_builds.html#config-change-triggers
  name: "marsha-{{ marsha_image_tag }}"
  namespace: "{{ project_name }}"
  labels:
    app: "marsha"
    service: "marsha"
    version: "{{ marsha_image_tag }}"
spec:
  strategy:
    dockerStrategy:
      forcePull: true
      noCache: true
    type: Docker
  source:
    dockerfile: |-
      FROM {{ marsha_image_name }}:{{ marsha_image_tag }}
      # Add new statements here
  triggers:
    - type: "ConfigChange"
  output:
    to:
      kind: "ImageStreamTag"
      name: "marsha:{{ marsha_image_tag }}-live"
