apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: marsha
    service: marsha
    version: "{{ marsha_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "marsha-app-{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
spec:
  replicas: 1 # number of pods we want
  template:
    metadata:
      labels:
        app: marsha
        service: marsha
        version: "{{ marsha_image_tag }}"
        deploymentconfig: "marsha-app-{{ deployment_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      containers:
        - name: marsha
          # We point to a local registry image build for this "live" image (see
          # ImageStream and BuildConfig templates)
          image: "{{ internal_docker_registry }}/{{ project_name }}/marsha:{{ marsha_image_tag }}-live"
          imagePullPolicy: IfNotPresent
          env:
            - name: DJANGO_SETTINGS_MODULE
              value: marsha.settings
            - name: DJANGO_CONFIGURATION
              value: "{{ marsha_django_configuration }}"
            - name: POSTGRES_DB
              value: "{{ marsha_postgresql_database }}"
            - name: POSTGRES_HOST
              value: "marsha-{{ marsha_postgresql_host }}-{{ deployment_stamp }}"
            - name: POSTGRES_PORT
              value: "{{ marsha_postgresql_port }}"
            - name: DJANGO_ALLOWED_HOSTS
              value: "{{ marsha_host | blue_green_hosts }}"
            - name: DJANGO_CLOUDFRONT_PRIVATE_KEY_PATH
              value: "{{ marsha_cloudfront_private_key_path }}"
          envFrom:
            - secretRef:
                name: "{{ marsha_secret_name }}"
          volumeMounts:
            - name: marsha-v-media
              mountPath: /data/media
            - name: marsha-v-static
              mountPath: /data/static
            - mountPath: "{{ marsha_cloudfront_private_key_path | dirname }}"
              name: marsha-cloudfront-private-key-secret
      volumes:
        - name: marsha-v-media
          persistentVolumeClaim:
            claimName: marsha-pvc-media
        - name: marsha-v-static
          persistentVolumeClaim:
            claimName: marsha-pvc-static
        - name: marsha-cloudfront-private-key-secret
          secret:
            secretName: "{{ marsha_cloudfront_private_key_secret_name }}"
