apiVersion: v1
kind: Secret
metadata:
  labels:
    app: marsha
    service: marsha
  name: "{{ marsha_secret_name }}"
  namespace: "{{ project_name }}"
data:
  POSTGRES_USER: "{{ MARSHA_VAULT.POSTGRESQL_USER | default('marsha_user') | b64encode }}"
  POSTGRES_PASSWORD: "{{ MARSHA_VAULT.POSTGRESQL_PASSWORD | default('password') | b64encode }}"
  DJANGO_AWS_ACCESS_KEY_ID: "{{ MARSHA_VAULT.DJANGO_AWS_ACCESS_KEY_ID | default('secret') | b64encode }}"
  DJANGO_AWS_SECRET_ACCESS_KEY: "{{ MARSHA_VAULT.DJANGO_AWS_SECRET_ACCESS_KEY | default('secret') | b64encode }}"
  DJANGO_UPDATE_STATE_SHARED_SECRETS: "{{ MARSHA_VAULT.DJANGO_UPDATE_STATE_SHARED_SECRETS | default('secret') | b64encode }}"
  DJANGO_CLOUDFRONT_ACCESS_KEY_ID: "{{ MARSHA_VAULT.DJANGO_CLOUDFRONT_ACCESS_KEY_ID | default('secret') | b64encode }}"
  DJANGO_CLOUDFRONT_URL: "{{ MARSHA_VAULT.DJANGO_CLOUDFRONT_URL | default('https://foo.com') | b64encode }}"
  DJANGO_JWT_SIGNING_KEY: "{{ MARSHA_VAULT.DJANGO_JWT_SIGNING_KEY | default('secret') | b64encode }}"
  DJANGO_SECRET_KEY: "{{ MARSHA_VAULT.DJANGO_SECRET_KEY | default('supersecret') | b64encode }}"
  DJANGO_SENTRY_DSN: "{{ MARSHA_VAULT.DJANGO_SENTRY_DSN | default('fakedsn') | b64encode }}"
{% if MARSHA_VAULT.DJANGO_LRS_AUTH_TOKEN is defined %}
  DJANGO_LRS_AUTH_TOKEN: "{{ MARSHA_VAULT.DJANGO_LRS_AUTH_TOKEN }}"
{% endif %}
{% if MARSHA_VAULT.DJANGO_LRS_URL is defined %}
  DJANGO_LRS_URL: "{{ MARSHA_VAULT.DJANGO_LRS_URL }}"
{% endif %}
