apiVersion: v1
kind: Secret
metadata:
  labels:
    app: joanie
    service: joanie
  name: "{{ joanie_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
{% for k, v in JOANIE_VAULT.items() %}
  {{ k }}: {{ v | default('') | b64encode }}
{% endfor %}
