{#

  LMS/CMS DCs base template used to create cms & lms wsgi servers + celery workers

 #}

{# The dc_name should be unique #}
{%- set dc_name = "edxapp-%s-%s-%s" | format(service_variant, worker_type, deployment_stamp) -%}

{# Set the expected target current host for this DC #}
{%- set host = (service_variant == "cms") | ternary(edxapp_cms_host, edxapp_lms_host) -%}

{#
  In case of a worker, we need to:
    1. patch attached queue names to make them specific to this deployment
    2. add the worker name (with the deployment_stamp) to make the dc_name unique
#}
{%- if celery_worker is defined -%}
  {%- set queues = celery_worker.queues | map('regex_replace', '$', '-%s' | format(deployment_stamp)) -%}
  {%- set dc_name = "edxapp-%s-worker-%s" | format(celery_worker.name, deployment_stamp) -%}
  {%- set replicas = celery_worker.replicas -%}
{%- endif -%}

{#
  The "command" macro is used to override target container's command, in edxapp
  case, we override this command to run celery workers instead of the CMS/LMS
  wsgi server.
#}
{%- macro command(service_variant, celery_worker, concurrency=1) -%}
  {%- if service_variant and celery_worker is defined %}
        command:
          - "/bin/bash"
          - "-c"
          - python manage.py {{ service_variant }} celery worker --loglevel=info --queues={{ queues | join(',') }} --hostname={{ celery_worker.name }}.%%h --concurrency={{ concurrency }}
  {%- endif %}
{%- endmacro -%}

{%- from "apps/edxapp/templates/services/cms/macros/image.yml.j2" import image_name -%}

apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: edxapp
    service: {{ service_variant }}
    version: "{{ edxapp_image_tag }}"
    worker_type: "{{ worker_type }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "{{ dc_name }}"
  namespace: "{{ project_name }}"
spec:
  # We want to deploy every target DC even if replicas has been set to zero to
  # be able to scale up/down worker for a deployed stack.
  replicas: {{ replicas | default(1) }} # number of pods we want
  template:
    metadata:
      labels:
        app: edxapp
        service: {{ service_variant }}
        version: "{{ edxapp_image_tag }}"
        worker_type: "{{ worker_type }}"
        deployment_stamp: "{{ deployment_stamp }}"
        deploymentconfig: "{{ dc_name }}"
    spec:
      # Prefer running pods on different nodes for redundancy
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: deploymentconfig
                  operator: In
                  values:
                  - "{{ dc_name }}"
              topologyKey: kubernetes.io/hostname
      containers:
      - name: {{ service_variant }}
{{ command(service_variant, celery_worker) }}
        env:
        - name: SERVICE_VARIANT
          value: {{ service_variant }}
        - name: DJANGO_SETTINGS_MODULE
          value: {{ service_variant }}.envs.fun.docker_run
        # We point to a local registry image build for this "live" image (see
        # ImageStream and BuildConfig templates)
        image: "{{ image_name(service_variant, edxapp_image_tag, edxapp_theme_tag) }}"
        imagePullPolicy: Always
{% if celery_worker is defined %}
        livenessProbe:
          exec:
            command:
              - "/bin/bash"
              - "-c"
              - "celery -b redis://redis:{{ redis_app_port }} inspect ping -d celery@{{ celery_worker.name }}.%$(hostname)"
          initialDelaySeconds: 120
          periodSeconds: 600
        readinessProbe:
          exec:
            command:
              - "/bin/bash"
              - "-c"
              - "celery -b redis://redis:{{ redis_app_port }} inspect ping -d celery@{{ celery_worker.name }}.%$(hostname)"
          initialDelaySeconds: 60
          periodSeconds: 15
{% else %}
        # Pod probes that only apply for wsgi services
        livenessProbe:
          httpGet:
            path: /heartbeat
            port: {{ edxapp_django_port }}
            httpHeaders:
              - name: Host
                value: "{{ host }}"
          initialDelaySeconds: 120
          periodSeconds: 30
        readinessProbe:
          httpGet:
            path: /heartbeat
            port: {{ edxapp_django_port }}
            httpHeaders:
              - name: Host
                value: "{{ host }}"
          initialDelaySeconds: 60
          periodSeconds: 10
{% endif %}
        volumeMounts:
        - mountPath: /config
          name: edxapp-config
        - mountPath: /edx/var/edxapp/media
          name: edxapp-v-media
        - mountPath: /edx/app/edxapp/staticfiles
          name: edxapp-v-static
        - mountPath: /edx/app/edxapp/data
          name: edxapp-v-data
        - mountPath: {{ edxapp_export_volume_path }}
          name: edxapp-v-export
{% if edxapp_should_update_i18n %}
        - mountPath: /edx/app/edxapp/edx-platform/conf/locale
          name: edxapp-v-locale
{% endif %}
      initContainers:
        # This initContainer has nothing mounted on its "/config" directory. We
        # copy the content of its "/config" directory (fun-platform default
        # settings) to the "/tmp/config" directory (edxapp-config volume). Then,
        # we copy service variant configMaps that may override default
        # configuration (docker_run*.py and settings.yml) in that same
        # "/tmp/config" directory. And finally, we also copy sensible
        # credentials from edxapp secret (secrets.yml). When this initContainer
        # shuts down, the "edxapp-config" volume has been filled with all
        # project settings that will be used to run the service variant
        # container. Please refer to the documentation to better understand our
        # settings generation mecanism.
        - name: init-create-config
          image: "{{ edxapp_image_name }}:{{ edxapp_image_tag }}"
          imagePullPolicy: Always
          command:
            - "/bin/bash"
            - "-c"
            - cp -r /config/* /tmp/config &&
              cp -rL /tmp/configmap-{{ service_variant }}/* /tmp/config/{{ service_variant }}/ &&
              cp /tmp/secret/secrets.yml /tmp/config/{{ service_variant }}/secrets.yml
          volumeMounts:
            - mountPath: /tmp/config
              name: edxapp-config
            - mountPath: /tmp/configmap-{{ service_variant }}
              name: edxapp-configmap-{{ service_variant }}
            - mountPath: /tmp/secret
              name: edxapp-secret
      volumes:
        - name: edxapp-configmap-{{ service_variant }}
          configMap:
            defaultMode: 420
            name: edxapp-{{ service_variant }}-{{ deployment_stamp }}
        - name: edxapp-config
          emptyDir: {}  # volume that lives as long as the pod lives
        - name: edxapp-secret
          secret:
            secretName: "{{ edxapp_secret_name }}"
        - name: edxapp-v-media
          persistentVolumeClaim:
            claimName: edxapp-pvc-media
        - name: edxapp-v-static
          persistentVolumeClaim:
            claimName: edxapp-pvc-static
        - name: edxapp-v-data
          persistentVolumeClaim:
            claimName: edxapp-pvc-data
        - name: edxapp-v-export
          persistentVolumeClaim:
            claimName: edxapp-pvc-export
{% if edxapp_should_update_i18n %}
        - name: edxapp-v-locale
          persistentVolumeClaim:
            claimName: edxapp-pvc-locale
{% endif %}
