{% set service_variant = "cms" %}
{% set worker_type = "wsgi" %}
{% set replicas = edxapp_cms_replicas %}
{% set resources = edxapp_cms_resources %}

{% include "apps/edxapp/templates/services/cms/_deploy_base.yml.j2" with context %}
