{% if env_type in trashable_env_types %}
apiVersion: batch/v1
kind: Job
metadata:
  name: edxapp-cms-load-fixtures-{{ job_stamp }}
  namespace: "{{ project_name }}"
  labels:
    app: edxapp
    service: cms
    version: "{{ edxapp_image_tag }}"
    job_stamp: "{{ job_stamp }}"
    deployment_stamp: "{{ deployment_stamp }}"
spec:
  template:
    metadata:
      name: edxapp-cms-load-fixtures-{{ job_stamp }}
      labels:
        app: edxapp
        service: cms
        version: "{{ edxapp_image_tag }}"
        job_stamp: "{{ job_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      containers:
        - name: edxapp-cms-load-fixtures-{{ job_stamp }}
          image: "{{ edxapp_image_name }}:{{ edxapp_image_tag }}"
          imagePullPolicy: Always
          env:
            - name: DJANGO_SETTINGS_MODULE
              value: cms.envs.fun.docker_run
          # We use Python requests to download the demo course to avoid installing curl in the
          # image just for that
          command:
            - "bash"
            - "-c"
            - python -c "import requests;open('/tmp/demo_course.tgz', 'wb').write(requests.get('{{ demo_course_url }}', allow_redirects=True).content)" &&
              cd /tmp &&
              tar xzf /tmp/demo_course.tgz &&
              cd - &&
              python manage.py cms import /edx/app/edxapp/data /tmp/edx-demo-course* &&
              python manage.py cms shell < /tmp/configmap-fixtures/create_demo_users.py

          volumeMounts:
            - mountPath: /tmp/configmap-fixtures
              name: edxapp-configmap-fixtures
            - mountPath: /config
              name: edxapp-config
            - mountPath: /edx/var/edxapp/media
              name: edxapp-v-media
            - mountPath: /edx/app/edxapp/data
              name: edxapp-v-data
      initContainers:
        # This initContainer has nothing mounted on its "/config" directory. We
        # copy the content of its "/config" directory (fun-platform default
        # settings) to the "/tmp/config" directory (edxapp-config volume). Then,
        # we copy service variant configMaps that may override default
        # configuration (docker_run*.py and settings.yml) in that same
        # "/tmp/config" directory. And finally, we also copy sensible
        # credentials from edxapp secret (secrets.yml). When this
        # initContainer shuts down, the "edxapp-config" volume has been filled
        # with all project settings that will be used to run the service variant
        # container. Please refer to the documentation to better understand our
        # settings generation mecanism.
        - name: init-create-config
          image: "{{ edxapp_image_name }}:{{ edxapp_image_tag }}"
          imagePullPolicy: Always
          command:
            - "/bin/bash"
            - "-c"
            - cp -r /config/* /tmp/config &&
              cp -rL /tmp/configmap-cms/* /tmp/config/cms/ &&
              cp /tmp/secret/secrets.yml /tmp/config/cms/secrets.yml
          volumeMounts:
            - mountPath: /tmp/config
              name: edxapp-config
            - mountPath: /tmp/configmap-cms
              name: edxapp-configmap-cms
            - mountPath: /tmp/secret
              name: edxapp-secret
      volumes:
        - name: edxapp-configmap-fixtures
          configMap:
            defaultMode: 420
            name: edxapp-fixtures-{{ deployment_stamp }}
        - name: edxapp-configmap-cms
          configMap:
            defaultMode: 420
            name: edxapp-cms-{{ deployment_stamp }}
        - name: edxapp-config
          emptyDir: {} # volume that lives as long as the pod lives
        - name: edxapp-secret
          secret:
            secretName: "{{ edxapp_secret_name }}"
        - name: edxapp-v-media
          persistentVolumeClaim:
            claimName: edxapp-pvc-media
        - name: edxapp-v-data
          persistentVolumeClaim:
            claimName: edxapp-pvc-data
      restartPolicy: Never
{% endif %}
