apiVersion: batch/v1
kind: Job
metadata:
  name: edxapp-cms-collectstatic-{{ job_stamp }}
  namespace: "{{ project_name }}"
  labels:
    app: edxapp
    service: cms
    version: "{{ edxapp_image_tag }}"
    job_stamp: "{{ job_stamp }}"
    # Jobs with the "pre" job type will be executed prior to deployments
    job_type: "pre"
    deployment_stamp: "{{ deployment_stamp }}"
spec:
  template:
    metadata:
      name: edxapp-cms-collectstatic-{{ job_stamp }}
      labels:
        app: edxapp
        service: cms
        version: "{{ edxapp_image_tag }}"
        job_stamp: "{{ job_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      containers:
        - name: edxapp-cms-collectstatic-{{ job_stamp }}
          # We point to a local registry image build for this "live" image (see
          # ImageStream and BuildConfig templates)
          image: "{{ internal_docker_registry }}/{{ project_name }}/edxapp-cms:{{ edxapp_image_tag }}-live"
          env:
            - name: DJANGO_SETTINGS_MODULE
              value: cms.envs.fun.docker_run
          # FIXME: as mentioned in the internationalization job, we need to
          # compile frontend translation files right before collecting them from
          # applications statics. Hence, we call the compilejsi18n management
          # command in this job. This is not ideal, but we haven't a better
          # solution for now.
          command:
            - "bash"
            - "-c"
            - {% if edxapp_should_update_i18n %}python manage.py cms compilejsi18n &&{% endif %}
              python manage.py cms collectstatic --noinput
          volumeMounts:
            - mountPath: /config
              name: edxapp-config
            - mountPath: /edx/app/edxapp/staticfiles
              name: edxapp-v-static
{% if edxapp_should_update_i18n %}
            - mountPath: /edx/app/edxapp/edx-platform/conf/locale
              name: edxapp-v-locale
{% endif %}
      initContainers:
        # This initContainer has nothing mounted on its "/config" directory. We
        # copy the content of its "/config" directory (fun-platform default
        # settings) to the "/tmp/config" directory (edxapp-config volume). Then,
        # we copy service variant configMaps that may override default
        # configuration (docker_run*.py and settings.yml) in that same
        # "/tmp/config" directory. And finally, we also copy sensible
        # credentials from edxapp secret (secrets.yml). When this initContainer
        # shuts down, the "edxapp-config" volume has been filled with all
        # project settings that will be used to run the service variant
        # container. Please refer to the documentation to better understand our
        # settings generation mecanism.
        #
        # FIXME: the last command of this initContainer aims at copying a
        # webpack-stats.json file generated during the build in the STATIC_ROOT.
        # As it cannot be collected and it is required to run this service, we
        # are constrained to copy it from the image's STATIC_ROOT to the statics
        # PVC. We've declared an issue in the edx-platform's bug tracker to
        # better understand the role of this file and its location:
        # https://openedx.atlassian.net/browse/OPEN-2411
        - name: init-create-config
          image: "{{ edxapp_image_name }}:{{ edxapp_image_tag }}"
          imagePullPolicy: Always
          command:
            - "/bin/bash"
            - "-c"
            - cp -r /config/* /tmp/config &&
              cp -rL /tmp/configmap-cms/* /tmp/config/cms/ &&
              cp /tmp/secret/secrets.yml /tmp/config/cms/secrets.yml
          volumeMounts:
            - mountPath: /tmp/config
              name: edxapp-config
            - mountPath: /tmp/configmap-cms
              name: edxapp-configmap-cms
            - mountPath: /tmp/secret
              name: edxapp-secret
      volumes:
        - name: edxapp-configmap-cms
          configMap:
            defaultMode: 420
            name: edxapp-cms-{{ deployment_stamp }}
        - name: edxapp-config
          emptyDir: {} # volume that lives as long as the pod lives
        - name: edxapp-secret
          secret:
            secretName: "{{ edxapp_secret_name }}"
        - name: edxapp-v-static
          persistentVolumeClaim:
            claimName: edxapp-pvc-static
{% if edxapp_should_update_i18n %}
        - name: edxapp-v-locale
          persistentVolumeClaim:
            claimName: edxapp-pvc-locale
{% endif %}
      restartPolicy: Never
