{% if edxapp_should_update_i18n %}
apiVersion: batch/v1
kind: Job
metadata:
  name: edxapp-cms-internationalization-{{ job_stamp }}
  namespace: "{{ namespace_name }}"
  labels:
    app: edxapp
    service: cms
    version: "{{ edxapp_image_tag }}"
    job_stamp: "{{ job_stamp }}"
    # Jobs with the "pre" job type will be executed prior to deployments
    job_type: "pre"
    deployment_stamp: "{{ deployment_stamp }}"
spec:
  template:
    metadata:
      name: edxapp-cms-internationalization-{{ job_stamp }}
      labels:
        app: edxapp
        service: cms
        version: "{{ edxapp_image_tag }}"
        job_stamp: "{{ job_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
{% set image_pull_secret_name = edxapp_image_pull_secret_name | default(none) or default_image_pull_secret_name %}
{% if image_pull_secret_name is not none %}
      imagePullSecrets:
        - name: "{{ image_pull_secret_name }}"
{% endif %}
      containers:
        - name: edxapp-cms-internationalization-{{ job_stamp }}
          image: "{{ edxapp_image_name }}:{{ edxapp_image_tag }}"
          imagePullPolicy: Always
          env:
            - name: DJANGO_SETTINGS_MODULE
              value: cms.envs.fun.docker_run
          envFrom:
            - secretRef:
                name: "{{ edxapp_tx_secret_name }}"
          # Once transifex client is installed, we use it to fetch recent
          # reviewed translations for a target release (pointed by the
          # .tx/config bundled in edx-platform for a release). We only keep
          # django.po and djangojs.po files corresponding to this release. We
          # remove all other translation files before copying the new ones to
          # avoid conflicts in separated and merged .po files (apparently not
          # required but cleaner).
          #
          # Once frontend translation files have been fetched they also need to
          # be compiled (with the compilejsi18n management command), but this
          # will be achieved during the collectstatics job since we have no way
          # to make compiled frontend translated statics persistant from the
          # current job to a subsequent one.
          command:
            - "bash"
            - "-c"
            - pip install -I --prefix /tmp transifex-client==0.13.9 &&
              cp -R .tx /tmp &&
{% for lang in edxapp_i18n_languages %}
              HOME="/tmp" PYTHONPATH=/tmp/lib/python2.7/site-packages/ /tmp/bin/tx --root /tmp pull --mode=reviewed -l {{ lang }} &&
              mkdir -p conf/locale/{{ lang }}/LC_MESSAGES &&
              rm -fr conf/locale/{{ lang }}/LC_MESSAGES/* &&
              cp -f /tmp/conf/locale/{{ lang }}/LC_MESSAGES/{django,djangojs}.po conf/locale/{{ lang }}/LC_MESSAGES/ &&
              python manage.py cms compilemessages -l {{ lang }} &&
{% endfor %}
              echo "translations:" &&
              ls -l conf/locale/*/LC_MESSAGES/
          volumeMounts:
            - mountPath: /edx/app/edxapp/edx-platform/conf/locale
              name: edxapp-v-locale
      securityContext:
        runAsUser: {{ container_uid }}
        runAsGroup: {{ container_gid }}
      volumes:
        - name: edxapp-v-locale
          persistentVolumeClaim:
            claimName: edxapp-pvc-locale
      restartPolicy: Never
{% endif %}
