{% if EDXAPP_VAULT.TX_TOKEN is defined %}
apiVersion: v1
kind: Secret
metadata:
  labels:
    app: edxapp
    service: "cms-lms"
  name: "{{ edxapp_tx_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
  TX_TOKEN: "{{ EDXAPP_VAULT.TX_TOKEN | default('') | b64encode }}"
{% endif %}
