apiVersion: v1
kind: Service
metadata:
  labels:
    app: learninglocker
    service: xapi
    version: "{{ learninglocker_xapi_image_tag }}"
  name: learninglocker-xapi
  namespace: "{{ project_name }}"
spec:
  ports:
  - name: "{{ learninglocker_xapi_port }}-tcp"
    port: {{ learninglocker_xapi_port }}
    protocol: TCP
    targetPort: {{ learninglocker_xapi_port }}
  selector:
    app: learninglocker
    deploymentconfig: "learninglocker-xapi"
  type: ClusterIP
