{% set service_variant = "lms" %}
{% set worker_type = "wsgi" %}
{% set replicas = edxapp_lms_replicas %}
{% set resources = edxapp_lms_resources %}

{% include "apps/edxapp/templates/services/cms/_dc_base.yml.j2" with context %}
