{% set service_variant = "lms" %}
{% set worker_type = "queue" %}
{% set celery_worker = edxapp_celery_lms_low_priority_worker %}
{% set resources = edxapp_queue_resources %}

{% include "apps/edxapp/templates/services/cms/_dc_base.yml.j2" with context %}
