{% if edxapp_theme_is_private %}
apiVersion: v1
kind: Secret
metadata:
  labels:
    app: edxapp
    service: "cms"
  name: "{{ edxapp_theme_git_private_key_secret_name }}"
  namespace: "{{ project_name }}"
data:
  ssh-privatekey: >-
    {{ EDXAPP_VAULT.EDXAPP_THEME_GIT_PRIVATE_KEY | default('') | b64encode }}
type: kubernetes.io/ssh-auth
{% endif %}
