apiVersion: v1
kind: Service
metadata:
  labels:
    app: edxapp
    service: lms
    version: "{{ edxapp_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "edxapp-lms-{{ deployment_stamp }}"  # name of the service should be host name in nginx
  namespace: "{{ namespace_name }}"
spec:
  ports:
  - name: "{{ edxapp_django_port }}-tcp"
    port: {{ edxapp_django_port }}
    protocol: TCP
    targetPort: {{ edxapp_django_port }}
  selector:
    app: edxapp
    deployment: "edxapp-lms-wsgi-{{ deployment_stamp }}"
  type: ClusterIP
