apiVersion: v1
kind: Deployment
metadata:
  labels:
    app: mailcatcher
    service: app
    version: "{{ mailcatcher_image_tag }}"
  name: "mailcatcher-app"
  namespace: "{{ namespace_name }}"
spec:
  replicas: 1  # number of pods we want
  selector:
    matchLabels:
      app: mailcatcher
      service: app
      deployment: "mailcatcher-app"
  template:
    metadata:
      labels:
        app: mailcatcher
        service: app
        deployment: "mailcatcher-app"
    spec:
{% set image_pull_secret_name = mailcatcher_image_pull_secret_name | default(none) or default_image_pull_secret_name %}
{% if image_pull_secret_name is not none %}
      imagePullSecrets:
        - name: "{{ image_pull_secret_name }}"
{% endif %}
      containers:
      - name: mailcatcher
        image: "{{ mailcatcher_image_name }}:{{ mailcatcher_image_tag }}"
        ports:
        - containerPort: 1025
          protocol: TCP
        - containerPort: 1080
          protocol: TCP
      securityContext:
        runAsUser: {{ container_uid }}
        runAsGroup: {{ container_gid }}
