apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: "{{ namespace_name }}"
  name: "mailcatcher"
  labels:
    env_type: "{{ env_type }}"
    customer: "{{ customer }}"
    app: "mailcatcher"
    service: "app"
    version: "{{ mailcatcher_image_tag }}"
    route_target_service: "app"
  annotations:
    cert-manager.io/issuer: "{{ acme_issuer_name }}"
spec:
  rules:
  - host: "{{ mailcatcher_host }}"
    http:
      paths:
      - backend:
          service:
            name: "mailcatcher"
            port:
              number: {{ mailcatcher_reader_port }}
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - "{{ mailcatcher_host }}"
    secretName: "mailcatcher-app-tls-{{acme_env}}"
