# Create secrets for an app

- name: Print app name
  debug: msg="App name {{ app.name }}"
  tags: secret

# Create all secrets for the current application
- name: Actually create the secrets in OpenShift
  k8s:
    state: present
    definition: "{{ lookup('template', item) | from_yaml }}"
  with_items: "{{ secrets }}"
  when: secrets is defined
  tags: secret
