# Delete a kind of objects for the targeted deployment_stamp
- name: Lookup {{ resource_to_delete.kind }} to delete with deployment_stamp {{ targeted_deployment_stamp }} for app {{ app.name }}
  k8s_info:
    api_version: "{{ resource_to_delete.api_version }}"
    namespace: "{{ namespace_name }}"
    kind: "{{ resource_to_delete.kind }}"
    label_selectors:
      - app={{ app.name }}
      - deployment_stamp={{ targeted_deployment_stamp }}
      - removable!=no
  register: selected_objects
  tags: deploy

- name: Delete {{ resource_to_delete.kind }} with deployment_stamp {{ targeted_deployment_stamp }} for app {{ app.name }}
  k8s:
    api_version: "{{ resource_to_delete.api_version }}"
    namespace: "{{ namespace_name }}"
    kind: "{{ resource_to_delete.kind }}"
    name: "{{ object.metadata.name }}"
    state: absent
  loop: "{{ selected_objects.resources }}"
  loop_control:
    loop_var: object

- name: Wait for objects of kind {{ resource_to_delete.kind }} to be deleted
  k8s_info:
    api_version: "{{ resource_to_delete.api_version }}"
    namespace: "{{ namespace_name }}"
    kind: "{{ resource_to_delete.kind }}"
    label_selectors:
      - app={{ app.name }}
      - deployment_stamp={{ targeted_deployment_stamp }}
      - removable!=no
  register: remaining_objects
  until: remaining_objects.failed == True or ( remaining_objects.resources | length ) == 0
  retries: 120
  delay: 5
