# Patch all ingresses of app (for a specific prefix if the app is blue/green compatible)

- name: "Patching ingresses with prefix {{ prefix }} for the {{ app.name }} application"
  kubernetes.core.k8s:
    force: "{{ force_route | bool }}"
    definition: "{{ lookup('template', ingress_template) | from_yaml }}"
    state: present
  loop: "{{ ingresses }}"
  loop_control:
    loop_var: ingress_template
  when: ingresses | length > 0 and app.settings.is_blue_green_compatible | default(True) == True
  tags: ingress

- name: "Patching ingresses for the {{ app.name }} application"
  kubernetes.core.k8s:
    force: "{{ force_route | bool }}"
    definition: "{{ lookup('template', ingress_template) | from_yaml }}"
    state: present
  loop: "{{ ingresses }}"
  loop_control:
    loop_var: ingress_template
  when: ingresses | length > 0 and app.settings.is_blue_green_compatible | default(True) == False
  tags: ingress
