# Patch cronjob to change spec.suspend value to true 
# for the current stack and false otherwise

- name: Patch CronJobs with deployment_stamp {{ deployment_stamp }}
  k8s:
    definition: "{{ lookup('template', cronjob_template) | from_yaml }}"
    state: present
  loop: "{{ cronjobs }}"
  loop_control:
    loop_var: cronjob_template
  when: cronjobs | length > 0 and app.settings.is_blue_green_compatible | default(True) == True
  tags:
    - switch
    - cronjob
