---
# Run job synchronously

- name: Display job template
  ansible.builtin.debug:
    msg: "Submitting job: {{ job_template }} [deployment_stamp: {{ deployment_stamp }} // job_stamp: {{ job_stamp }}]"

- name: Submit job
  kubernetes.core.k8s:
    definition: "{{ lookup('template', job_template) | from_yaml }}"
    state: "present"
  register: submitted_job
  tags:
    - deploy
    - job

- name: Wait for job completion
  kubernetes.core.k8s_info:
    api_version: "v1"
    namespace: "{{ namespace_name }}"
    kind: "Job"
    name: "{{ submitted_job.result.metadata.name }}"
  register: running_job
  until: >
    ( running_job.resources | first ).status.succeeded is defined and
    ( running_job.resources | first ).status.succeeded == 1
  retries: 360
  delay: 5
  tags:
    - deploy
    - job
