- name: Set htpasswd target file name for app
  ansible.builtin.set_fact:
    app_htpasswd_file_path: "{{ vault_path }}/htpasswd/{{ app.name }}/{{ http_basic_auth_user_file | basename }}"
  tags: htpasswd
