---
# tasks/set_vars.yml

- name: Include global customer & env_type vars
  ansible.builtin.include_vars:
    file: "{{ item }}"
  with_items:
    - "group_vars/customer/{{ customer }}/main.yml"
    - "group_vars/env_type/{{ env_type }}.yml"

- name: Override specific vars given a customer and its env_type
  ansible.builtin.include_vars:
    file: "{{ item }}"
  with_fileglob:
    - "group_vars/customer/{{ customer }}/{{ env_type }}/*.yml"

- name: Display applications paths (apps_paths)
  ansible.builtin.debug:
    var: apps_paths
    verbosity: 3

# The following tasks goal is to define the `apps` var that describes
# applications to work on.
#
# The first task scans the `apps/` directory of the repository to look for
# applications (services/volumes/configMap & related templates) and store those
# definitions in the `available_apps` var.
#
# Once done, if the `apps` var has already been defined in group_vars, we merge
# `apps` with `available_apps` definitions. This is useful to had metadata to
# services that cannot be guessed while scanning the `apps` directory.
#
# Example: let's say that for your eugene customer, you have defined a
# particular "host" for the "postgresql" service of the "richie" application,
# e.g.:
#
#     # group_vars/customer/eugene.yml
#     apps:
#       - name: "richie"
#         services:
#           - name: "postgresql"
#             host: "pg.foo.com"
#
# While scanning the `apps/` folder, the `available_apps` var definition for the
# "richie" application will be:
#
#     {
#       "name": "richie",
#       "services": [
#         {
#           "name": "postgresql",
#           "templates": [
#             "apps/richie/templates/postgresql/dc.yml.j2",
#             "apps/richie/templates/postgresql/ep.yml.j2",
#             "apps/richie/templates/postgresql/svc.yml.j2"
#           ]
#         }
#       ]
#     }
#
# And the final (merged) application definition:
#
#     {
#       "name": "richie",
#       "services": [
#         {
#           "name": "postgresql",
#           "host": "pg.foo.com",
#           "templates": [
#             "apps/richie/templates/postgresql/dc.yml.j2",
#             "apps/richie/templates/postgresql/ep.yml.j2",
#             "apps/richie/templates/postgresql/svc.yml.j2"
#           ]
#         }
#       ]
#     }
- name: Lookup available applications
  ansible.builtin.set_fact:
    available_apps: "{{ lookup('apps', apps_paths) }}"

- name: Display available applications (available_apps)
  ansible.builtin.debug:
    var: available_apps
    verbosity: 3

- name: Display defined applications (apps)
  ansible.builtin.debug:
    var: apps
    verbosity: 3
  when: apps is defined

- name: Add meta-data to available applications
  ansible.builtin.set_fact:
    _app: '{{ [available_apps] | flatten | json_query("[?name==`" + item.name + "`]") | first | merge_with_app(item) }}'
  register: merged_apps
  with_items: "{{ apps | default([available_apps] | flatten) }}"

- name: Set applications for this namespace
  ansible.builtin.set_fact:
    apps: "{{ merged_apps | json_query('results[*].ansible_facts._app') }}"

- name: Display enriched applications definitions (apps)
  ansible.builtin.debug:
    var: apps
    verbosity: 2

# If the playbook is invoqued with the apps_filter extra var, we restrict apps
# to the list passed as an argument, e.g.:
#
#     $ ansible-playbook foo.yml -e "apps_filter='richie,edxapp'"
#
# This task will build the jmespath query to restrict apps to the selected
# one(s), e.g.:
#
#    [?name=='richie' || name=='edxapp']
- name: Set app filtering query
  ansible.builtin.set_fact:
    # We use escaped double quotes in the first regex_replace filter to be able
    # to add single quotes around app name in the query
    apps_filter_query: "[?{{ apps_filter.split(',') | map('regex_replace', '([\\w-]+)', \"name=='\\1'\") | join(' || ') }}]" # noqa jinja[spacing]
  when: apps_filter is defined

- name: Filter apps
  ansible.builtin.set_fact:
    apps: "{{ apps | json_query(apps_filter_query) }}"
  when: apps_filter_query is defined

- name: Display selected applications (apps)
  ansible.builtin.debug:
    var: apps
    verbosity: 1

- include_tasks: tasks/run_tasks_for_apps.yml
  vars:
    tasks:
      - tasks/set_vault_for_app

- name: Include "all" type vars for applications
  include_tasks: tasks/load_app_defaults.yml
  vars:
    file: "{{ item.path }}"
  with_items: '{{ apps | json_query("[*].vars[?type==`all`]") | flatten }}'

- name: Print namespace details
  ansible.builtin.debug:
    msg: "Namespace {{ namespace_name }} - domain {{ domain_name }}"
    verbosity: 1
