{% if ashley_should_activate_media_volume %}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ ashley_pvc_media_name }}"
  namespace: "{{ namespace_name }}"
  labels:
    app: ashley
    version: "{{ ashley_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: {{ ashley_media_volume_size }}
  storageClassName: "{{ default_storage_class_rwx }}"
{% endif %}
