apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: learninglocker-pvc-storage
  namespace: "{{ project_name }}"
  labels:
    app: learninglocker
    version: "{{ learninglocker_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: {{ learninglocker_storage_volume_size }}
