apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: richie
    service: postgresql
    version: "{{ richie_postgresql_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "richie-postgresql-{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: richie
        service: postgresql
        version: "{{ richie_postgresql_image_tag }}"
        deploymentconfig: "richie-postgresql-{{ deployment_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      containers:
        - image: {{ richie_postgresql_image_name }}:{{ richie_postgresql_image_tag }}
          name: postgresql
          ports:
            - containerPort: {{ richie_postgresql_port }}
              protocol: TCP
          env:
            - name: POSTGRESQL_DATABASE
              value: "{{ richie_postgresql_database }}"
          envFrom:
            - secretRef:
                name: richie-{{ secret_id }}
