apiVersion: v1
kind: Endpoints
metadata:
  labels:
    app: richie
    endpoint: postgresql
  # name of the endpoint should be the same as the corresponding service
  name: postgresql
  namespace: "{{ project_name }}"
subsets:
  - addresses:
    - ip: {{ postgresql_ip }}
    ports:
    - port: 5432
      name: 5432-tcp
