apiVersion: v1
kind: Secret
metadata:
  labels:
    app: richie
    service: postgresql
  name: "{{ richie_postgresql_secret_name }}"
  namespace: "{{ project_name }}"
data:
  POSTGRESQL_USER: "{{ POSTGRESQL_USER | default('edxapp_user') | b64encode }}"
  POSTGRESQL_PASSWORD: "{{ POSTGRESQL_PASSWORD | default('password') | b64encode }}"
