apiVersion: v1
kind: RoleBinding
metadata:
  name: "{{ item.role }}"
  namespace: "{{ project_name }}"
roleRef:
  kind: Role
  name: "{{ item.role }}"
  namespace: "{{ project_name }}"
subjects:
- kind: ServiceAccount
  name: "{{ item.user }}"
  namespace: "{{ project_name }}"
