apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nextcloud-pvc-install
  namespace: "{{ namespace_name }}"
  labels:
    app: nextcloud
    version: "{{ nextcloud_version }}"
    deployment_stamp: "{{ deployment_stamp }}"
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: {{ nextcloud_install_volume_size }}
