apiVersion: v1
kind: Route
metadata:
  namespace: "{{ project_name }}"
  name: "nextcloud-nginx-{{ prefix }}"
  labels:
    env_type: "{{ env_type }}"
    customer: "{{ customer }}"
    app: "nextcloud"
    service: "nginx"
    version: "{{ nextcloud_nginx_image_tag }}"
    route_prefix: "{{ prefix }}"
    route_target_service: "app"
  annotations:
{% if prefix in acme_enabled_route_prefix %}
    kubernetes.io/tls-acme: "true"
{% endif %}
    haproxy.router.openshift.io/disable_cookies: "true"
    haproxy.router.openshift.io/balance: "roundrobin"
spec:
  host: "{{ nextcloud_host | blue_green_host(prefix) }}"
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  port:
    targetPort: "{{ nextcloud_nginx_port }}-tcp"
  to:
    kind: Service
    name: "nextcloud-nginx-{{ prefix }}"
