apiVersion: v1
kind: Service
metadata:
  labels:
    app: nextcloud
    service: nginx
    version: "{{ nextcloud_nginx_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "nextcloud-nginx-{{ deployment_stamp }}"
  namespace: "{{ namespace_name }}"
spec:
  ports:
    - name: {{ nextcloud_nginx_port }}-tcp
      port: {{ nextcloud_nginx_port }}
      protocol: TCP
      targetPort: {{ nextcloud_nginx_port }}
    - name: "{{ nextcloud_nginx_healthcheck_port }}-tcp"
      port: {{ nextcloud_nginx_healthcheck_port }}
      protocol: TCP
      targetPort: {{ nextcloud_nginx_healthcheck_port }}
  selector:
    app: nextcloud
    deployment: "nextcloud-nginx-{{ deployment_stamp }}"
  type: ClusterIP
