{% if env_type in trashable_env_types %}
apiVersion: v1
kind: Deployment
metadata:
  labels:
    app: ashley
    service: postgresql
    version: "{{ ashley_database_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "ashley-postgresql-{{ deployment_stamp }}"
  namespace: "{{ namespace_name }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ashley
      service: postgresql
      version: "{{ ashley_database_image_tag }}"
      deployment: "ashley-postgresql-{{ deployment_stamp }}"
      deployment_stamp: "{{ deployment_stamp }}"
  template:
    metadata:
      labels:
        app: ashley
        service: postgresql
        version: "{{ ashley_database_image_tag }}"
        deployment: "ashley-postgresql-{{ deployment_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
{% set image_pull_secret_name = ashley_database_image_pull_secret_name | default(none) or default_image_pull_secret_name %}
{% if image_pull_secret_name is not none %}
      imagePullSecrets:
        - name: "{{ image_pull_secret_name }}"
{% endif %}
      containers:
        - image: {{ ashley_database_image_name }}:{{ ashley_database_image_tag }}
          name: postgresql
          ports:
            - containerPort: {{ ashley_database_port }}
              protocol: TCP
          env:
            - name: POSTGRESQL_DATABASE
              value: "{{ ashley_database_name }}"
          envFrom:
            - secretRef:
                name: "{{ ashley_database_secret_name }}"
          resources: {{ ashley_postgresql_resources }}
      securityContext:
        runAsUser: {{ container_uid }}
        runAsGroup: {{ container_gid }}
{% endif%}
