apiVersion: v1
kind: Secret
metadata:
  labels:
    app: ashley
    service: postgresql
  name: "{{ ashley_database_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
  POSTGRESQL_USER: "{{ ASHLEY_VAULT.DB_USER | default('ashley') | b64encode }}"
  POSTGRESQL_PASSWORD: "{{ ASHLEY_VAULT.DB_PASSWORD | default('password') | b64encode }}"
