apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: edxapp-pvc-data
  namespace: "{{ project_name }}"
  labels:
    app: edxapp
    version: "{{ edxapp_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: {{ edxapp_data_volume_size }}
