apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ edxapp_pvc_media_name | default("edxapp-pvc-media") }}"
  namespace: "{{ namespace_name }}"
  labels:
    app: edxapp
    version: "{{ edxapp_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: {{ edxapp_media_volume_size }}
  storageClassName: "{{ default_storage_class_rwx }}"
