# {{ ansible_managed }}
# Nginx configuration to handle redirections defined in the 'redirections'
# variable

map_hash_bucket_size 128;
map $http_host $new_http_host {
{% if redirections is iterable %}
{% for redirection in redirections %}
{% for uri in redirection.from %}
  {{ uri }} {{ redirection.to }};
{% endfor %}
{% endfor %}
{% endif %}
}

server {
  listen {{ redirect_nginx_port }};
  server_name localhost;

  rewrite ^ https://$new_http_host$request_uri permanent;
}
