apiVersion: v1
kind: Service
metadata:
  labels:
    app: learninglocker
    service: nginx
    deployment_stamp: "{{ deployment_stamp }}"
    service_prefix: "{{ prefix }}"
    type: static-service
    removable: "no"
  name: "learninglocker-nginx-{{ prefix }}"
  namespace: "{{ namespace_name }}"
spec:
  ports:
    - name: "{{ learninglocker_nginx_port }}-tcp"
      port: {{ learninglocker_nginx_port }}
      protocol: TCP
      targetPort: {{ learninglocker_nginx_port }}
    - name: "{{ learninglocker_nginx_healthcheck_port }}-tcp"
      port: {{ learninglocker_nginx_healthcheck_port }}
      protocol: TCP
      targetPort: {{ learninglocker_nginx_healthcheck_port }}
  selector:
    app: learninglocker
    deploymentconfig: "learninglocker-nginx-{{ deployment_stamp | default('undefined', true) }}"
  type: ClusterIP
