apiVersion: v1
kind: Service
metadata:
  labels:
    app: learninglocker
    service: nginx
    version: "{{ learninglocker_nginx_image_tag }}"
  name: "learninglocker-nginx"
  namespace: "{{ project_name }}"
spec:
  ports:
    - name: "{{ learninglocker_nginx_port }}-tcp"
      port: {{ learninglocker_nginx_port }}
      protocol: TCP
      targetPort: {{ learninglocker_nginx_port }}
    - name: "{{ learninglocker_nginx_healthcheck_port }}-tcp"
      port: {{ learninglocker_nginx_healthcheck_port }}
      protocol: TCP
      targetPort: {{ learninglocker_nginx_healthcheck_port }}
  selector:
    app: learninglocker
    deploymentconfig: "learninglocker-nginx"
  type: ClusterIP
