apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: mongodb
    version: "{{ mongodb_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "mongodb-{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
spec:
  replicas: 1
  selector:
    deploymentconfig: "mongodb-{{ deployment_stamp }}"
  template:
    metadata:
      labels:
        app: mongodb
        version: "{{ mongodb_tag }}"
        deploymentconfig: "mongodb-{{ deployment_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      containers:
        - image: {{ mongodb_image }}:{{ mongodb_tag }}
          name: mongodb
          ports:
            - containerPort: {{ mongodb.port }}
              protocol: TCP
          env:
            - name: MONGODB_DATABASE
              value: edxapp
          envFrom:
            - secretRef:
                name: edxapp-{{ secret_id }}
