apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: edxapp
    service: mongodb
    version: "{{ edxapp_mongodb_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "edxapp-mongodb-{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
spec:
  replicas: 1
  selector:
    app: edxapp
    deploymentconfig: "edxapp-mongodb-{{ deployment_stamp }}"
  template:
    metadata:
      labels:
        app: edxapp
        service: mongodb
        version: "{{ edxapp_mongodb_image_tag }}"
        deploymentconfig: "edxapp-mongodb-{{ deployment_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      containers:
        - image: "{{ edxapp_mongodb_image_name }}:{{ edxapp_mongodb_image_tag }}"
          name: mongodb
          ports:
            - containerPort: "{{ edxapp_mongodb_port }}"
              protocol: TCP
          env:
            - name: MONGODB_DATABASE
              value: "{{ edxapp_mongodb_database }}"
          envFrom:
            - secretRef:
                name: "edxapp-{{ secret_id }}"
