apiVersion: v1
kind: Deployment
metadata:
  labels:
    app: richie
    service: elasticsearch
    version: "{{ richie_elasticsearch_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "richie-elasticsearch-{{ deployment_stamp }}"
  namespace: "{{ namespace_name }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: richie
      service: elasticsearch
      version: "{{ richie_elasticsearch_image_tag }}"
      deployment: "richie-elasticsearch-{{ deployment_stamp }}"
      deployment_stamp: "{{ deployment_stamp }}"
  template:
    metadata:
      labels:
        app: richie
        service: elasticsearch
        version: "{{ richie_elasticsearch_image_tag }}"
        deployment: "richie-elasticsearch-{{ deployment_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
{% set image_pull_secret_name = richie_elasticsearch_image_pull_secret_name | default(none) or default_image_pull_secret_name %}
{% if image_pull_secret_name is not none %}
      imagePullSecrets:
        - name: "{{ image_pull_secret_name }}"
{% endif %}
      containers:
        - image: {{ richie_elasticsearch_image_name }}:{{ richie_elasticsearch_image_tag }}
          name: elasticsearch
          ports:
            - containerPort: {{ richie_elasticsearch_port }}
              protocol: TCP
          resources: {{ richie_elasticsearch_resources }}
      securityContext:
        runAsUser: {{ container_uid }}
        runAsGroup: {{ container_gid }}
