apiVersion: v1
kind: Service
metadata:
  labels:
    app: richie
    service: elasticsearch
    version: "{{ richie_elasticsearch_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  # name of the service should be database host name in settings
  name: "richie-elasticsearch-{{ deployment_stamp }}"
  namespace: "{{ namespace_name }}"
spec:
  ports:
  - name: {{ richie_elasticsearch_port }}-tcp
    port: {{ richie_elasticsearch_port }}
    protocol: TCP
    targetPort: {{ richie_elasticsearch_port }}
  selector:
    app: richie
    deployment: "richie-elasticsearch-{{ deployment_stamp }}"
  type: ClusterIP
