apiVersion: batch/v1
kind: Job
metadata:
  name: "marsha-app-collectstatic-{{ job_stamp }}"
  namespace: "{{ project_name }}"
  labels:
    app: marsha
    service: marsha
    version: "{{ marsha_image_tag }}"
    job_stamp: "{{ job_stamp }}"
    # Jobs with the "pre" job type will be executed prior to deployments
    job_type: "pre"
    deployment_stamp: "{{ deployment_stamp }}"
spec:
  template:
    metadata:
      name: "marsha-app-collectstatic-{{ job_stamp }}"
      labels:
        app: marsha
        service: marsha
        version: "{{ marsha_image_tag }}"
        deployment_stamp: "{{ deployment_stamp }}"
        job_stamp: "{{ job_stamp }}"
    spec:
      containers:
        - name: marsha-collectstatic
          image: "{{ marsha_image_name }}:{{ marsha_image_tag }}"
          imagePullPolicy: Always
          env:
            - name: DJANGO_SETTINGS_MODULE
              value: marsha.settings
            - name: DJANGO_CONFIGURATION
              value: "{{ marsha_django_configuration }}"
            - name: POSTGRES_DB
              value: "{{ marsha_postgresql_database }}"
            - name: POSTGRES_HOST
              value: "marsha-{{ marsha_postgresql_host }}-{{ deployment_stamp }}"
            - name: POSTGRES_PORT
              value: "{{ marsha_postgresql_port }}"
            - name: DJANGO_ALLOWED_HOSTS
              value: "{{ marsha_host }}"
          envFrom:
            - secretRef:
                name: "{{ marsha_secret_name }}"
          command: ["python", "manage.py", "collectstatic", "--noinput"]
          resources: {{ marsha_app_job_collectstatic_resources }}
{% if env_type in trashable_env_types %}
          volumeMounts:
            - mountPath: /data/static
              name: marsha-v-static
      volumes:
        - name: marsha-v-static
          persistentVolumeClaim:
            claimName: marsha-pvc-static
{% endif %}
      restartPolicy: Never
