apiVersion: v1
kind: Secret
metadata:
  labels:
    app: nextcloud
    service: postgresql
  name: "{{ nextcloud_database_secret_name }}"
  namespace: "{{ project_name }}"
data:
  POSTGRESQL_USER: "{{ NEXTCLOUD_VAULT.DB_USER | b64encode }}"
  POSTGRESQL_PASSWORD: "{{ NEXTCLOUD_VAULT.DB_PASSWORD | b64encode }}"
