apiVersion: v1
kind: Service
metadata:
  labels:
    app: nextcloud
    service: postgresql
    version: "{{ nextcloud_database_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  # name of the service should be database host name in settings
  name: "nextcloud-postgresql-{{ deployment_stamp }}"
  namespace: "{{ namespace_name }}"
spec:
  ports:
    - name: "{{ nextcloud_database_port }}-tcp"
      port: "{{ nextcloud_database_port }}"
      protocol: TCP
      targetPort: {{ nextcloud_database_port }}
# As commented in the ad hoc endpoint, the endpoint name points to this service
# so that it does not rely on a deployment configuration when the "env_type" is
# not trashable. In this case, we use a PostgreSQL cluster outside of k8s.
{% if env_type in trashable_env_types %}
  selector:
    app: nextcloud
    service: postgresql
    deploymentconfig: "nextcloud-postgresql-{{ deployment_stamp }}"
  type: ClusterIP
{% endif%}
