# {{ ansible_managed }}
# Nginx configuration to redirect aliased routes to their main route

server {
  listen {{ redirect_port }};
  server_name localhost;

  rewrite ^ https://$new_url$request_uri permanent;
}

map $http_host $new_url {
  # Aliased route must be redirected to the main route
  # Alias         # Main route
{% if routes is iterable %}
{% for main_route in routes %}
  {% for alias in main_route.aliases %}
  {{ alias }}     {{ main_route.route }};
  {% endfor %}
{% endfor %}
{% endif %}
}
