apiVersion: v1
kind: Service
metadata:
  labels:
    app: hello
    deployment_stamp: "{{ deployment_stamp }}"
  name: "hello-{{ deployment_stamp }}"  # name of the service should be host name in nginx
  namespace: "{{ project_name }}"
spec:
  ports:
  - name: {{ hello_port }}-tcp
    port: {{ hello_port }}
    protocol: TCP
    targetPort: {{ hello_port }}
  selector:
    deploymentconfig: "hello-{{ deployment_stamp }}"
  type: ClusterIP
