apiVersion: v1
kind: Service
metadata:
  labels:
    app: flower
    service: nginx
    version: "{{ flower_nginx_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "flower-nginx"
  namespace: "{{ project_name }}"
spec:
  ports:
    - name: "{{ flower_nginx_app_port }}-tcp"
      port: {{ flower_nginx_app_port }}
      protocol: TCP
      targetPort: {{ flower_nginx_app_port }}
  selector:
    app: flower
    deploymentconfig: "flower-nginx"
  type: ClusterIP
