apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: mailcatcher
    service: app
    version: "{{ mailcatcher_image_tag }}"
  name: "mailcatcher-app"
  namespace: "{{ project_name }}"
spec:
  replicas: 1  # number of pods we want
  template:
    metadata:
      labels:
        app: mailcatcher
        service: app
        version: "{{ mailcatcher_image_tag }}"
        deploymentconfig: "mailcatcher-app"
    spec:
      containers:
      - name: mailcatcher
        image: "{{ mailcatcher_image_name }}:{{ mailcatcher_image_tag }}"
        ports:
        - containerPort: 1025
          protocol: TCP
        - containerPort: 1080
          protocol: TCP
