apiVersion: v1
kind: Service
metadata:
  labels:
    app: mailcatcher
    service: app
    version: "{{ mailcatcher_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "mailcatcher"
  namespace: "{{ project_name }}"
spec:
  ports:
  - name: {{ mailcatcher_sender_port }}-tcp
    port: {{ mailcatcher_sender_port }}
    protocol: TCP
    targetPort: 1025
  - name: {{ mailcatcher_reader_port }}-tcp
    port: {{ mailcatcher_reader_port }}
    protocol: TCP
    targetPort: 1080
  selector:
    deploymentconfig: "mailcatcher-app"
  type: ClusterIP
