# Settings for edxapp lms

PLATFORM_NAME: "{{ project_display_name }}"

SITE_NAME: "{{ project_display_name }}"

LMS_BASE: "{{ edxapp_lms_host }}"
CMS_BASE: "{{ edxapp_cms_host }}"

# Celery Broker
# FIXME: we should use the redis_app_* default vars
CELERY_BROKER_TRANSPORT: redis
CELERY_BROKER_HOST: redis
CELERY_BROKER_VHOST: 0
CELERY_BROKER_PORT: 6379
# FIXME: for now, we haven't set a user/password to connect to redis. Once those
# are set, you'll need to move the two following settings in edxapp secret
CELERY_BROKER_USER: ""
CELERY_BROKER_PASSWORD: ""
