{# see every env variables available http://docs.learninglocker.net/guides-configuring/#xapi-service #}

REDIS_URL: redis://redis:6379/0
STORAGE_REPO: local
EXPRESS_PORT: "{{ learninglocker_xapi_port }}"
WINSTON_CLOUDWATCH_ENABLED: "false"
