{%- from "apps/learninglocker/templates/services/app/macros/mongodb_uri.yml.j2" import mongodb_uri with context -%}

apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: learninglocker
    service: xapi
    version: "{{ learninglocker_xapi_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "learninglocker-xapi-{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
spec:
  replicas: {{ learninglocker_xapi_replicas }}
  template:
    metadata:
      labels:
        app: learninglocker
        service: xapi
        version: "{{ learninglocker_xapi_image_tag }}"
        deployment_stamp: "{{ deployment_stamp }}"
        deploymentconfig: "learninglocker-xapi-{{ deployment_stamp }}"
    spec:
      containers:
        - image: "{{ learninglocker_xapi_image_name }}:{{ learninglocker_xapi_image_tag }}"
          imagePullPolicy: Always
          name: nginx
          ports:
            - containerPort: "{{ learninglocker_xapi_port }}"
              protocol: TCP
          envFrom:
            - secretRef:
                name: "{{ learninglocker_xapi_secret_name }}"
            - configMapRef:
                name: "learninglocker-xapi-dotenv-{{ deployment_stamp }}"
          env:
            - name: MONGO_URL
              value: "{{ mongodb_uri(env_type, trashable_env_types, learninglocker_mongodb_host, deployment_stamp, learninglocker_endpoint_mongodb_ips, learninglocker_mongodb_replicaset, learninglocker_mongodb_read_preference) }}"
          volumeMounts:
            - name: learninglocker-xapi-storage
              mountPath: /app/storage
      volumes:
        - name: learninglocker-xapi-storage
          emptyDir: {}
