apiVersion: v1
kind: Secret
metadata:
  labels:
    app: learninglocker
    service: xapi
  name: "{{ learninglocker_xapi_secret_name }}"
  namespace: "{{ project_name }}"
data:
  MONGO_URL: "{{ LEARNINGLOCKER_VAULT.MONGODB_PATH | mandatory | b64encode }}"

