module.exports = [{
  cwd: '/app',
  exec_mode: 'cluster',
  instances: {{ learninglocker_xapi_pm2_instances }},
  name: 'xapi',
  script: 'dist/server.js',
  log_date_format: 'YYYY-MM-DD HH:mm Z',
  combine_logs: true,
  error_file: '/dev/stderr',
  out_file: '/dev/stderr'
}]
