# customer: {{ customer }}
# env_type: {{ env_type }}

# postgresql
{% set postgresql_credentials = databases.postgresql | json_query("[?release=='" ~ etherpad_postgresql_version ~ "'].databases | [0][?application=='etherpad'].{user: user, password: password} | [0]") %}
DB_USER: {{ postgresql_credentials.user }}
DB_PASS: {{ postgresql_credentials.password }}

# Random keys
SESSIONKEY: {{ lookup('password', '/dev/null length=32') }}
APIKEY: {{ lookup('password', '/dev/null length=32') }}
