apiVersion: v1
kind: Secret
metadata:
  labels:
    app: etherpad
    service: postgresql
  name: "{{ etherpad_database_secret_name }}"
  namespace: "{{ project_name }}"
data:
  POSTGRESQL_USER: "{{ ETHERPAD_VAULT.DB_USER | default('etherpad_user') | b64encode }}"
  POSTGRESQL_PASSWORD: "{{ ETHERPAD_VAULT.DB_PASS | default('password') | b64encode }}"
