apiVersion: batch/v1
kind: Job
metadata:
  name: "richie-richie-regenerate-indexes-{{ job_stamp }}"
  namespace: "{{ project_name }}"
  labels:
    app: richie
    service: richie
    version: "{{ richie_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
    job_stamp: "{{ job_stamp }}"
spec:
  template:
    metadata:
      name: richie-richie-regenerate-indexes-{{ job_stamp }}
      labels:
        app: richie
        service: richie
        version: "{{ richie_image_tag }}"
        deployment_stamp: "{{ deployment_stamp }}"
        job_stamp: "{{ job_stamp }}"
    spec:
      containers:
      - name: richie-regenerate-indexes
        env:
          - name: DJANGO_SETTINGS_MODULE
            value: richie.settings
          - name: DJANGO_CONFIGURATION
            value: {{ richie_django_configuration }}
          - name: POSTGRES_DB
            value: {{ richie_postgresql_database }}
          - name: POSTGRES_HOST
            value: "richie-{{ richie_postgresql_host }}-{{ deployment_stamp }}"
          - name: POSTGRES_PORT
            value: "{{ richie_postgresql_port }}"
          - name: DJANGO_ALLOWED_HOSTS
            value: "{{ richie_host }}"
          - name: ES_CLIENT
            value: "richie-{{ richie_elasticsearch_host }}-{{ deployment_stamp }}"
        envFrom:
          - secretRef:
              name: richie-{{ secret_id }}
        image: "{{ richie_image_name }}:{{ richie_image_tag }}"
        command: ["python", "manage.py", "regenerate_indexes"]
      restartPolicy: Never
