apiVersion: batch/v1
kind: Job
metadata:
  name: "richie-regenerate-indexes-{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
  labels:
    app: richie
    version: "{{ richie_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
spec:
  template:
    metadata:
      name: richie-regenerate-indexes-{{ deployment_stamp }}
      labels:
        app: richie
        version: "{{ richie_tag }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      containers:
      - name: richie-regenerate-indexes
        env:
          - name: DJANGO_SETTINGS_MODULE
            value: richie.settings
          - name: DJANGO_CONFIGURATION
            value: {{ django_configuration }}
          - name: POSTGRES_DB
            value: {{ richie_database.name }}
          - name: POSTGRES_HOST
            value: {{ richie_database.host }}
          - name: POSTGRES_PORT
            value: "{{ richie_database.port }}"
          - name: DJANGO_ALLOWED_HOSTS
            value: "{{ richie_host }}"
        envFrom:
          - secretRef:
              name: richie
        image: "{{ richie_image }}:{{ richie_tag }}"
        command: ["python", "manage.py", "regenerate_indexes"]
      restartPolicy: Never
