{% if env_type in trashable_env_types %}
apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: edxapp
    service: mysql
    version: "{{ edxapp_mysql_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "edxapp-mysql-{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: edxapp
        service: mysql
        version: "{{ edxapp_mysql_image_tag }}"
        deployment_stamp: "{{ deployment_stamp }}"
        deploymentconfig: "edxapp-mysql-{{ deployment_stamp }}"
    spec:
      containers:
        - image: "{{ edxapp_mysql_image_name }}:{{ edxapp_mysql_image_tag }}"
          name: mysql
          ports:
            - containerPort: "{{ edxapp_mysql_port }}"
              protocol: TCP
          envFrom:
            - secretRef:
                name: "{{ edxapp_mysql_secret_name }}"
          resources: {{ edxapp_mysql_resources }}
{% endif %}
