apiVersion: v1
kind: Service
metadata:
  labels:
    app: edxapp
    service: mysql
    version: "{{ edxapp_mysql_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  # name of the service should be database host name in settings
  name: "edxapp-mysql-{{ deployment_stamp }}"
  namespace: "{{ namespace_name }}"
spec:
  ports:
  - name: "{{ edxapp_mysql_port }}-tcp"
    port: {{ edxapp_mysql_port }}
    protocol: TCP
    targetPort: {{ edxapp_mysql_port }}
# As commented in the ad hoc endpoint, the endpoint name points to this service
# so that it does not rely on a deployment configuration when the "env_type" is
# not trashable. In this case, we use a PostgreSQL cluster outside of k8s.
{% if env_type in trashable_env_types %}
  selector:
    app: edxapp
    deployment: "edxapp-mysql-{{ deployment_stamp }}"
  type: ClusterIP
{% endif%}
