{%- from "apps/edxapp/templates/services/cms/macros/mongodb_host.yml.j2" import mongodb_host with context -%}
# Settings for edxapp lms

PLATFORM_NAME: "{{ customer }}"

LMS_BASE: "{{ edxapp_lms_host }}"
CMS_BASE: "{{ edxapp_cms_host }}"

RELEASE: {{ edxapp_image_tag }}

# Celery Broker
CELERY_BROKER_TRANSPORT: redis
CELERY_BROKER_HOST: redis
CELERY_BROKER_VHOST: 0
CELERY_BROKER_PORT: {{ redis_app_port }}
# FIXME: for now, we haven't set a user/password to connect to redis. Once those
# are set, you'll need to move the two following settings in edxapp secret
CELERY_BROKER_USER: ""
CELERY_BROKER_PASSWORD: ""

# Celery queues
HIGH_PRIORITY_QUEUE: "{{ edxapp_celery_lms_high_priority_queue }}-{{ deployment_stamp }}"
DEFAULT_PRIORITY_QUEUE: "{{ edxapp_celery_lms_default_priority_queue }}-{{ deployment_stamp }}"
LOW_PRIORITY_QUEUE: "{{ edxapp_celery_lms_low_priority_queue }}-{{ deployment_stamp }}"
HIGH_MEM_QUEUE: "{{ edxapp_celery_lms_high_mem_queue }}-{{ deployment_stamp }}"

# Memcached
MEMCACHED_HOST: "edxapp-memcached-{{ deployment_stamp }}"
MEMCACHED_PORT: {{ edxapp_memcached_port }}

# MySQL
DATABASE_HOST: "edxapp-mysql-{{ deployment_stamp }}"
DATABASE_PORT: {{ edxapp_mysql_port }}

# Mongo
MONGODB_HOST: "{{ mongodb_host(env_type, trashable_env_types, deployment_stamp, endpoint_mongodb_ips, edxapp_mongodb_port, edxapp_mongodb_host) }}"
{% if edxapp_mongodb_replicaset is defined and edxapp_mongodb_replicaset | length > 1 %}
MONGODB_REPLICASET: {{ edxapp_mongodb_replicaset }}

{% if edxapp_mongodb_read_preference is defined and edxapp_mongodb_read_preference | length > 1 %}
MONGODB_READ_PREFERENCE: {{ edxapp_mongodb_read_preference }}
{% endif %}

{% endif %}

GRADES_DOWNLOAD:
  STORAGE_TYPE: localfs
  ROOT_PATH: "{{ edxapp_export_volume_path }}/grades-download"
