kind: Route
apiVersion: v1
metadata:
  labels:
    app: redirect
    service: nginx
    version: "{{ edxapp_nginx_image_tag }}"
  name: alias-{{ item }}
  namespace: "{{ project_name }}"
  annotations:
    kubernetes.io/tls-acme: "true"
spec:
  host: {{ item }}
  port:
    targetPort: "{{ redirect_nginx_port }}-tcp"
  to:
    kind: Service
    name: "redirect-nginx"
    weight: 100
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
