apiVersion: v1
kind: Service
metadata:
  labels:
    app: redirect
    service: nginx
    version: "{{ redirect_nginx_image_tag }}"
  name: "redirect-nginx"
  namespace: "{{ project_name }}"
spec:
  ports:
    - name: "{{ aliases_port }}-tcp"
      port: {{ aliases_port }}
      protocol: TCP
      targetPort: {{ aliases_port }}
  selector:
    app: redirect
    deploymentconfig: "redirect-nginx"
  type: ClusterIP
