apiVersion: v1
kind: Secret
metadata:
  labels:
    app: kibana
    service: app
  name: "{{ kibana_secret_name }}"
  namespace: "{{ project_name }}"
data:
  XPACK_SECURITY_ENCRYPTIONKEY: "{{ KIBANA_VAULT.XPACK_SECURITY_ENCRYPTIONKEY | b64encode }}"
  XPACK_REPORTING_ENCRYPTIONKEY: "{{ KIBANA_VAULT.XPACK_REPORTING_ENCRYPTIONKEY | b64encode }}"
  XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY: "{{ KIBANA_VAULT.XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY | b64encode }}"
