apiVersion: v1
kind: Secret
metadata:
  labels:
    app: kibana
    service: app
  name: "{{ kibana_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
{% if kibana_security_enabled %}
  KIBANA_ELASTIC_PASSWORD: "{{ KIBANA_VAULT.KIBANA_ELASTIC_PASSWORD | b64encode }}"
  KIBANA_ELASTIC_USERNAME: "{{ KIBANA_VAULT.KIBANA_ELASTIC_USERNAME | b64encode }}"
  XPACK_SECURITY_ENCRYPTIONKEY: "{{ KIBANA_VAULT.XPACK_SECURITY_ENCRYPTIONKEY | b64encode }}"
  XPACK_REPORTING_ENCRYPTIONKEY: "{{ KIBANA_VAULT.XPACK_REPORTING_ENCRYPTIONKEY | b64encode }}"
  XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY: "{{ KIBANA_VAULT.XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY | b64encode }}"
  XPACK_ENCRYPTEDSAVEDOBJECTS_KEYROTATION_DECRYPTIONONLYKEYS: "{{ KIBANA_VAULT.XPACK_ENCRYPTEDSAVEDOBJECTS_KEYROTATION_DECRYPTIONONLYKEYS | b64encode }}"
{% endif %}
