{% if kibana_security_enabled %}
apiVersion: v1
kind: Secret
metadata:
  labels:
    app: kibana
    service: app
  name: "{{ kibana_ca_secret_name }}"
  namespace: "{{ project_name }}"
data:
  ca.crt: "{{ KIBANA_VAULT.CA_CERTIFICATE | b64encode }}"
{% endif %}
