apiVersion: v1
kind: Service
metadata:
  labels:
    app: kibana
    service: app
    version: "{{ kibana_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "kibana-app-{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
spec:
  selector:
    app: kibana
    deploymentconfig: "kibana-app-{{ deployment_stamp }}"
  ports:
    - name: http
      port: {{ kibana_app_port }}
  type: ClusterIP
