apiVersion: v1
kind: Secret
metadata:
  labels:
    app: moodlenet
    service: backend
  name: "{{ moodlenet_secret_name }}"
  namespace: "{{ project_name }}"
data:
  DATABASE_USER: "{{ MOODLENET_VAULT.POSTGRESQL_USER | default('moodlenet_user') | b64encode }}"
  DATABASE_PASS: "{{ MOODLENET_VAULT.POSTGRESQL_PASSWORD | default('password') | b64encode }}"
  SECRET_KEY_BASE: "{{ MOODLENET_VAULT.SECRET_KEY_BASE | default('secret') | b64encode }}"
{% if moodlenet_email_backend == "smtp" %}
  MAIL_USER: "{{ MOODLENET_VAULT.MOODLENET_SMTP_USER | default('smtp_user') | b64encode }}"
  MAIL_PASSWORD: "{{ MOODLENET_VAULT.MOODLENET_SMTP_PASSWORD | default('smtp_password') | b64encode }}"
{% endif %}
{% if moodlenet_email_backend == "mailgun" %}
  MAIL_KEY: "{{ MOODLENET_VAULT.MOODLENET_MAILGUN_KEY | default('mailgun_key') | b64encode }}"
{% endif %}
