apiVersion: v1
kind: Service
metadata:
  labels:
    app: moodlenet
    service: backend
    version: "{{ moodlenet_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: moodlenet-backend-{{ deployment_stamp }}  # name of the service should be host name in nginx
  namespace: "{{ namespace_name }}"
spec:
  ports:
  - name: {{ moodlenet_backend_port }}-tcp
    port: {{ moodlenet_backend_port }}
    protocol: TCP
    targetPort: {{ moodlenet_backend_port }}
  selector:
    app: moodlenet
    deploymentconfig: "moodlenet-backend-{{ deployment_stamp }}"
  type: ClusterIP
