apiVersion: v1
kind: Secret
metadata:
  labels:
    app: forum
    service: mongodb
  name: "{{ forum_mongodb_secret_name }}"
  namespace: "{{ project_name }}"
data:
  MONGODB_ADMIN_PASSWORD: "{{ MONGODB_ADMIN_PASSWORD | default('password') | b64encode }}"
  MONGODB_USER: "{{ MONGODB_USER | default('edxapp_user') | b64encode }}"
  MONGODB_PASSWORD: "{{ MONGODB_PASSWORD | default('password') | b64encode }}"
  MONGODB_DATABASE: "{{ MONGODB_DATABASE | default('client_comments') | b64encode }}"
