apiVersion: v1
kind: Deployment
metadata:
  labels:
    app: ashley
    service: nginx
    version: "{{ ashley_nginx_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "ashley-nginx-{{ deployment_stamp }}"
  namespace: "{{ namespace_name }}"
spec:
  replicas: {{ ashley_nginx_replicas }}
  selector:
    matchLabels:
      app: ashley
      service: nginx
      version: "{{ ashley_nginx_image_tag }}"
      deployment: "ashley-nginx-{{ deployment_stamp }}"
      deployment_stamp: "{{ deployment_stamp }}"
  template:
    metadata:
      labels:
        app: ashley
        service: nginx
        version: "{{ ashley_nginx_image_tag }}"
        deployment: "ashley-nginx-{{ deployment_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      # Prefer running pods on different nodes for redundancy
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: deployment
                  operator: In
                  values:
                  - "ashley-nginx-{{ deployment_stamp }}"
              topologyKey: kubernetes.io/hostname
{% set image_pull_secret_name = ashley_nginx_image_pull_secret_name | default(none) or default_image_pull_secret_name %}
{% if image_pull_secret_name is not none %}
      imagePullSecrets:
        - name: "{{ image_pull_secret_name }}"
{% endif %}
      containers:
        - image: "{{ ashley_nginx_image_name }}:{{ ashley_nginx_image_tag }}"
          name: nginx
          ports:
            - containerPort: {{ ashley_nginx_port }}
              protocol: TCP
          volumeMounts:
            - mountPath: /etc/nginx/conf.d
              name: ashley-v-nginx
              readOnly: true
{% if ashley_should_activate_media_volume %}
            - mountPath: /data/media/ashley
              name: ashley-v-media
              readOnly: true
{% endif %}
{% if ashley_should_activate_static_volume %}
            - mountPath: /data/static/ashley
              name: ashley-v-static
              readOnly: true
{% endif %}
{% if activate_http_basic_auth or ashley_activate_http_basic_auth %}
            - mountPath: "{{ http_basic_auth_user_file | dirname }}"
              name: ashley-htpasswd
{% endif %}

          livenessProbe:
            httpGet:
              path: "{{ ashley_nginx_healthcheck_endpoint }}"
              port: {{ ashley_nginx_healthcheck_port }}
            initialDelaySeconds: 60
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: "{{ ashley_nginx_healthcheck_endpoint }}"
              port: {{ ashley_nginx_healthcheck_port }}
            initialDelaySeconds: 10
            periodSeconds: 5
          resources: {{ ashley_nginx_resources }}
      securityContext:
        runAsUser: {{ container_uid }}
        runAsGroup: {{ container_gid }}
      volumes:
        - name: ashley-v-nginx
          configMap:
            name: ashley-nginx-{{ deployment_stamp }}
{% if ashley_should_activate_media_volume %}
        - name: ashley-v-media
          persistentVolumeClaim:
            claimName: "{{ ashley_pvc_media_name }}"
{% endif %}
{% if ashley_should_activate_static_volume %}
        - name: ashley-v-static
          persistentVolumeClaim:
            claimName: "{{ ashley_pvc_static_name }}"
{% endif %}
{% if activate_http_basic_auth or ashley_activate_http_basic_auth %}
        - name: ashley-htpasswd
          secret:
            secretName: "{{ ashley_nginx_htpasswd_secret_name }}"
{% endif %}
