apiVersion: v1
kind: Service
metadata:
  labels:
    app: ashley
    service: nginx
    version: "{{ ashley_nginx_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "ashley-nginx-{{ deployment_stamp }}"
  namespace: "{{ namespace_name }}"
spec:
  ports:
    - name: {{ ashley_nginx_port }}-tcp
      port: {{ ashley_nginx_port }}
      protocol: TCP
      targetPort: {{ ashley_nginx_port }}
    - name: "{{ ashley_nginx_healthcheck_port }}-tcp"
      port: {{ ashley_nginx_healthcheck_port }}
      protocol: TCP
      targetPort: {{ ashley_nginx_healthcheck_port }}
  selector:
    app: ashley
    deployment: "ashley-nginx-{{ deployment_stamp }}"
  type: ClusterIP
