apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "hello-app-{{ prefix }}"
  namespace: "{{ namespace_name }}"
  labels:
    env_type: "{{ env_type }}"
    customer: "{{ customer }}"
    app: "hello"
    service: "app"
    route_prefix: "{{ prefix }}"
    route_target_service: "app"
  annotations:
{% if prefix in acme_enabled_route_prefix %}
    cert-manager.io/issuer: "{{ acme_issuer_name }}"
{% endif %}
spec:
  ingressClassName: "{{ hello_ingress_class_name }}"
  rules:
  - host: "{{ hello_host | blue_green_host(prefix) }}"
    http:
      paths:
      - backend:
          service:
            name: "hello-app-{{ prefix }}"
            port:
              number: {{ hello_app_port }}
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - "{{ hello_host | blue_green_host(prefix) }}"
    secretName: "hello-app-tls-{{ prefix }}-{{ acme_env }}"
