apiVersion: v1
kind: Route
metadata:
  namespace: "{{ project_name }}"
  name: "hello-app-{{ prefix }}"
  labels:
    env_type: "{{ env_type }}"
    customer: "{{ customer }}"
    app: "hello"
    service: "app"
    route_prefix: "{{ prefix }}"
    route_target_service: "app"
  annotations:
{% if prefix in acme_enabled_route_prefix %}
    kubernetes.io/tls-acme: "true"
{% endif %}
spec:
  host: "{{ hello_host | blue_green_host(prefix) }}"
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  port:
    targetPort: "{{ hello_app_port }}-tcp"
  to:
    kind: Service
    name: "hello-app-{{ deployment_stamp }}"
