apiVersion: v1
kind: Route
metadata:
  labels:
    app: cms
  name: cms
  namespace: "{{ project_name }}"
spec:
  host: {{ cms_host }}
  port:
    targetPort: 8081-tcp
  tls:
    termination: edge
  to:
    kind: Service
    name: nginx
    weight: 100
