apiVersion: v1
kind: Route
metadata:
  labels:
    app: "lms-{{ deployment_stamp }}"
    version: "{{ edxapp_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "lms-{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
  annotations:
    kubernetes.io/tls-acme: "true"
spec:
  host: {{ lms_host }}
  port:
    targetPort: {{ lms_port }}-tcp
  tls:
    termination: edge
  to:
    kind: Service
    name: "nginx-edxapp-{{ deployment_stamp }}"
    weight: 100
