apiVersion: v1
kind: Secret
metadata:
  labels:
    app: forum
    service: forum
  name: "{{ forum_secret_name }}"
  namespace: "{{ project_name }}"
data:
  API_KEY: "{{ FORUM_VAULT.API_KEY | default('thereisnodefaultapikey') | b64encode }}"
  MONGODB_USER: "{{ FORUM_VAULT.MONGODB_USER | default('edxapp_user') | b64encode }}"
  MONGODB_PASSWORD: "{{ FORUM_VAULT.MONGODB_PASSWORD | default('password') | b64encode }}"
  MONGODB_PASSWORD_URLENCODED: "{{ FORUM_VAULT.MONGODB_PASSWORD | default('password') | urlencode | b64encode }}"
  MONGODB_DATABASE: "{{ FORUM_VAULT.MONGODB_DATABASE | default('client_comments') | b64encode }}"
