DB_ENGINE: "{{ ashley_database_engine }}"
DB_HOST: "ashley-{{ ashley_database_host }}-{{ deployment_stamp }}"
DB_NAME: "{{ ashley_database_name }}"
DB_PORT: "{{ ashley_database_port }}"
DJANGO_ALLOWED_HOSTS: "{% for host in (ashley_consumer_hosts + [ashley_host]) %}{% if loop.index > 1 %}, {% endif %}{{ host | blue_green_hosts }}{% endfor %}"
DJANGO_AWS_LOCATION: "{{ ashley_aws_location }}"
DJANGO_AWS_S3_CUSTOM_DOMAIN: "{{ ashley_aws_s3_custom_domain }}"
DJANGO_AWS_S3_REGION_NAME: "{{ ashley_aws_s3_region_name }}"
DJANGO_AWS_STORAGE_BUCKET_NAME: "{{ ashley_aws_storage_bucket_name }}"
DJANGO_CONFIGURATION: "{{ ashley_django_configuration }}"
DJANGO_DEFAULT_FILE_STORAGE: "{{ ashley_default_file_storage }}"
DJANGO_MAX_UPLOAD_FILE_MB: "{{ ashley_max_upload_file_mb }}"
DJANGO_SETTINGS_MODULE: "{{ ashley_django_settings_module }}"
ELASTICSEARCH_HOST: "{{ ashley_elasticsearch_host }}"
ELASTICSEARCH_INDEX_NAME: "{{ ashley_elasticsearch_index }}"
ELASTICSEARCH_PORT: "{{ ashley_elasticsearch_port }}"
PYTHONPATH: "/app"
