apiVersion: v1
kind: Deployment
metadata:
  labels:
    app: ashley
    service: app
    version: "{{ ashley_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "ashley-app-{{ deployment_stamp }}"
  namespace: "{{ namespace_name }}"
spec:
  replicas: {{ ashley_app_replicas }}
  selector:
    matchLabels:
      app: ashley
      service: app
      version: "{{ ashley_image_tag }}"
      deployment: "ashley-app-{{ deployment_stamp }}"
      deployment_stamp: "{{ deployment_stamp }}"
  template:
    metadata:
      labels:
        app: ashley
        service: app
        version: "{{ ashley_image_tag }}"
        deployment: "ashley-app-{{ deployment_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      # Prefer running pods on different nodes for redundancy
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: deployment
                      operator: In
                      values:
                        - "ashley-app-{{ deployment_stamp }}"
                topologyKey: kubernetes.io/hostname
{% set image_pull_secret_name = ashley_image_pull_secret_name | default(none) or default_image_pull_secret_name %}
{% if image_pull_secret_name is not none %}
      imagePullSecrets:
        - name: "{{ image_pull_secret_name }}"
{% endif %}
      containers:
        - name: ashley
          image: "{{ ashley_image_name }}:{{ ashley_image_tag }}"
          imagePullPolicy: Always
          livenessProbe:
            httpGet:
              path: /__heartbeat__
              port: {{ ashley_django_port }}
              httpHeaders:
                - name: Host
                  value: "{{ ashley_host }}"
            initialDelaySeconds: 60
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /__lbheartbeat__
              port: {{ ashley_django_port }}
              httpHeaders:
                - name: Host
                  value: "{{ ashley_host }}"
            initialDelaySeconds: 10
            periodSeconds: 5
          envFrom:
            - secretRef:
                name: "{{ ashley_secret_name }}"
            - configMapRef:
                name: "ashley-app-dotenv-{{ deployment_stamp }}"
          resources: {{ ashley_app_resources }}
          volumeMounts:
            - name: ashley-configmap
              mountPath: /app/sandbox/configs
{% if ashley_should_activate_media_volume %}
            - name: ashley-v-media
              mountPath: /data/media
{% endif %}
{% if ashley_should_activate_static_volume %}
            - name: ashley-v-static
              mountPath: /data/static
{% endif %}
      volumes:
        - name: ashley-configmap
          configMap:
            defaultMode: 420
            name: ashley-app-{{ deployment_stamp }}
{% if ashley_should_activate_media_volume %}
        - name: ashley-v-media
          persistentVolumeClaim:
            claimName: "{{ ashley_pvc_media_name }}"
{% endif %}
{% if ashley_should_activate_static_volume %}
        - name: ashley-v-static
          persistentVolumeClaim:
            claimName: "{{ ashley_pvc_static_name }}"
{% endif %}
      securityContext:
        runAsUser: {{ container_uid }}
        runAsGroup: {{ container_gid }}
