apiVersion: v1
kind: Secret
metadata:
  labels:
    app: ashley
    service: app
  name: "{{ ashley_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
  DJANGO_SECRET_KEY: "{{ ASHLEY_VAULT.DJANGO_SECRET_KEY | default('supersecret') | b64encode }}"
{% if ASHLEY_VAULT.DJANGO_SENTRY_DSN is defined and ASHLEY_VAULT.DJANGO_SENTRY_DSN is not none %}
  DJANGO_SENTRY_DSN: "{{ ASHLEY_VAULT.DJANGO_SENTRY_DSN | b64encode }}"
{% endif %}
  DJANGO_AWS_ACCESS_KEY_ID: "{{ ASHLEY_VAULT.DJANGO_AWS_ACCESS_KEY_ID | default('secret') | b64encode }}"
  DJANGO_AWS_SECRET_ACCESS_KEY: "{{ ASHLEY_VAULT.DJANGO_AWS_SECRET_ACCESS_KEY | default('secret') | b64encode }}"
  DB_USER: "{{ ASHLEY_VAULT.DB_USER | default('edxapp_user') | b64encode }}"
  DB_PASSWORD: "{{ ASHLEY_VAULT.DB_PASSWORD | default('password') | b64encode }}"
{% if ASHLEY_VAULT.SECRETS is defined %}
{% for k, v in ASHLEY_VAULT.SECRETS.items() %}
  {{ k }}: {{ v | default('') | b64encode }}
{% endfor %}
{% endif %}
