apiVersion: v1
kind: Service
metadata:
  labels:
    app: ashley
    service: app
    version: "{{ ashley_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: ashley-app-{{ deployment_stamp }}  # name of the service should be host name in nginx
  namespace: "{{ namespace_name }}"
spec:
  ports:
  - name: 8000-tcp
    port: 8000
    protocol: TCP
    targetPort: 8000
  selector:
    app: ashley
    deployment: "ashley-app-{{ deployment_stamp }}"
  type: ClusterIP
