#!/usr/bin/env bash

set -eo pipefail

{% if elasticsearch_security_enabled %}
declare elastic_password="${ELASTIC_BOOTSTRAP_PASSWORD}"
if [[ -e /usr/share/elasticsearch/bootstrap/done ]]; then
  elastic_password="${ELASTIC_PASSWORD}"
fi
{% endif %}

declare -r ES_HOST="127.0.0.1"
declare -i ES_PORT={{ elasticsearch_api_port }}
declare -r ES_STARTED="/tmp/es_started"
{% if elasticsearch_security_enabled %}
declare -r CURL="curl -kfsSL -u ${ELASTIC_USERNAME}:${elastic_password}"
declare -r PROTOCOL="https"
{% else %}
declare -r CURL="curl -fsSL"
declare -r PROTOCOL="http"
{% endif %}
declare -r ES_URL="${PROTOCOL}://${ES_HOST}:${ES_PORT}"

function testStatus() {
    status_to_test="${1}"
    expected_status="${2}"

    declare -A statuses=( ["red"]=1 ["yellow"]=2 ["green"]=3 )

    if [[ -z "${status_to_test}" || -z "${statuses[${status_to_test}]}" ]] ; then
        echo "Error: unknown status_to_test [${status_to_test}]" 1>&2
        exit 1
    fi

    if [[ -z "${expected_status}" || -z "${statuses[${expected_status}]}" ]]; then
        echo "Error: unknown expected_status [${expected_status}]" 1>&2
        exit 2
    fi

    if [ "${statuses[$status_to_test]}" -lt "${statuses[${expected_status}]}" ]; then
        echo "Assertion failed: ${status_to_test} < ${expected_status}"
        exit 3
    fi
}

if [ -f "${ES_STARTED}" ]; then
    echo -n "Elasticsearch is already running. Checking if API is alive..."
    ${CURL} "${ES_URL}/" > /dev/null
    echo "OK"
else
    echo "Waiting for elasticsearch cluster to be running and in green state..."
    health_status=$(
      ${CURL} "${ES_URL}/_cat/health?h=status" | \
      sed -r 's/^[[:space:]]+|[[:space:]]+$//g'
    )
    testStatus "${health_status}" "green"

    echo "Waiting for initializing_shards to be 0"
    init_shards=$(
      ${CURL} "${ES_URL}/_cat/health?h=init" | \
      sed -r 's/^[[:space:]]+|[[:space:]]+$//g'
    )

    if [ "${init_shards}" -gt 0 ]; then
        echo "Synchronization not ready yet, initializing_shards = ${init_shards}"
        exit 4
    fi

    touch "${ES_STARTED}"

    echo "Elasticsearch cluster is up (status = ${health_status})"
fi
