#!/usr/bin/env bash

set -eo pipefail

declare -i MAX_RETRY=20
declare -i RETRY_DELAY=5
declare -i retry=0
declare -A USERS=(
  ["${ELASTIC_USERNAME}"]="${ELASTIC_PASSWORD}"
  ["${KIBANA_USERNAME}"]="${KIBANA_PASSWORD}"
  ["${LOGSTASH_USERNAME}"]="${LOGSTASH_PASSWORD}"
  ["${BEATS_USERNAME}"]="${BEATS_PASSWORD}"
  ["${APM_USERNAME}"]="${APM_PASSWORD}"
  ["${REMOTE_MONITORING_USERNAME}"]="${REMOTE_MONITORING_PASSWORD}"
)
declare -r ES_URL="https://elasticsearch.{{ project_name }}.svc:{{ elasticsearch_api_port }}"

function es_passwd(){

  local elastic_password
  local login
  local password

  login="${1}"
  password="${2}"

  # If the password of the elastic user has already been changed, do not use
  # the bootstrap password anymore.
  elastic_password="${ELASTIC_BOOTSTRAP_PASSWORD}"
  if [[ -e "/usr/share/elasticsearch/bootstrap/${ELASTIC_USERNAME}" ]]; then
    elastic_password="${ELASTIC_PASSWORD}"
  fi

  echo -n "Will update password for user: ${login} ..."

  curl -kfsSL \
    -u "${ELASTIC_USERNAME}:${elastic_password}" \
    -X PUT \
    -H "Content-Type: application/json" \
    -d "{ \"password\": \"${password}\" }" \
    "${ES_URL}/_xpack/security/user/${login}/_password"

  touch "/usr/share/elasticsearch/bootstrap/${login}"

  echo " OK"
}

echo -n "Waiting for ES service to be up"
while ! curl \
  --output /dev/null \
  --silent \
  --max-time 1 \
  --connect-timeout 1 \
  --head \
  --fail \
  --insecure \
  --write-out "%{http_code}" \
  --user "${ELASTIC_USERNAME}:${ELASTIC_BOOTSTRAP_PASSWORD}" \
  "${ES_URL}/" > /tmp/es-status.curl ; do

    # We suppose that a 401 HTTP code response means that the password has
    # already been set.
    if grep "401" /tmp/es-status.curl; then
      echo "Elasticsearch passwords have already been set. Abort."
      exit 0
    fi

    echo -n "."
    ((retry++)) && ((retry==MAX_RETRY)) && echo "ERROR: timeout" && exit 62
    sleep ${RETRY_DELAY}
done

echo " OK"

# Change passwords
for user in "${!USERS[@]}"; do
  es_passwd "${user}" "${USERS[$user]}"
done

touch /usr/share/elasticsearch/bootstrap/done

echo "System users passwords have been changed successfully."
