apiVersion: v1
kind: Service
metadata:
  labels:
    app: edxapp-lms
    version: "{{ edxapp_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "edxapp-lms-{{ deployment_stamp }}"  # name of the service should be host name in nginx
  namespace: "{{ project_name }}"
spec:
  ports:
  - name: 8000-tcp
    port: 8000
    protocol: TCP
    targetPort: 8000
  selector:
    deploymentconfig: "edxapp-lms-{{ deployment_stamp }}"
  type: ClusterIP
