apiVersion: v1
kind: Service
metadata:
  labels:
    app: edxapp-memcached
    deployment_stamp: "{{ deployment_stamp }}"
  name: "edxapp-memcached-{{ deployment_stamp }}"  # name of the service should be host name in nginx
  namespace: "{{ project_name }}"
spec:
  ports:
  - name: 11211-tcp
    port: 11211
    protocol: TCP
    targetPort: 11211
  selector:
    deploymentconfig: "edxapp-memcached-{{ deployment_stamp }}"
  type: ClusterIP
