apiVersion: v1
kind: Service
metadata:
  labels:
    app: mongodb
  # name of the service should be mongodb host name in settings
  name: mongodb
  namespace: "{{ project_name }}"
spec:
  ports:
  - name: 27017-tcp
    port: 27017
    protocol: TCP
    targetPort: 27017

