apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-pvc-data
  namespace: "{{ project_name }}"
  labels:
    app: redis
    version: "{{ redis_app_image_tag }}"
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: {{ redis_data_volume_size }}
