apiVersion: batch/v1
kind: Job
metadata:
  name: collecstatic-cms
  namespace: "{{ project_name }}"
spec:
  template:
    metadata:
      name: collecstatic-cms
    spec:
      containers:
      - name: collecstatic-cms
        image: "{{ edxapp_image }}:{{ edxapp_tag }}"
        command: ["python", "manage.py", "cms", "collecstatic", "--noinput", "--settings", "docker_run", "cms"]
        volumeMounts:
        - mountPath: /config
          name: volume-config
        - mountPath: /edx/var/edxapp/static
          name: edxapp-static
      volumes:
      - name: volume-config
        configMap:
          defaultMode: 420
          name: config
      - name: edxapp-static
        persistentVolumeClaim:
          claimName: static
      restartPolicy: Never
