apiVersion: batch/v1
kind: Job
metadata:
  name: edxapp-collecstatic-cms
  namespace: "{{ project_name }}"
spec:
  template:
    metadata:
      name: edxapp-collecstatic-cms
    spec:
      containers:
      - name: edxapp-collecstatic-cms
        image: "{{ edxapp_image }}:{{ edxapp_tag }}"
        command: ["python", "manage.py", "cms", "collectstatic", "--noinput", "--settings", "docker_run", "cms"]
        volumeMounts:
        - mountPath: /config
          name: edxapp-config
        - mountPath: /edx/var/edxapp/static
          name: edxapp-v-static
      volumes:
      - name: edxapp-config
        configMap:
          defaultMode: 420
          name: edxapp
      - name: edxapp-v-static
        persistentVolumeClaim:
          claimName: edxapp-pvc-static
      restartPolicy: Never
