apiVersion: batch/v1
kind: Job
metadata:
  name: edxapp-update-courses-{{ deployment_stamp }}
  labels:
    app: edxapp
    version: "{{ edxapp_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
spec:
  template:
    metadata:
      name: edxapp-update-courses-{{ deployment_stamp }}
      labels:
        app: edxapp
        version: "{{ edxapp_tag }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      containers:
      - name: edxapp-update-courses
        image: "{{ edxapp_image }}:{{ edxapp_tag }}"
        command: ["python", "manage.py", "lms", "update_courses", "--settings", "docker_run"]
        volumeMounts:
        - mountPath: /config
          name: edxapp-config
      volumes:
      - name: edxapp-config
        configMap:
          defaultMode: 420
          name: edxapp
      restartPolicy: Never
