{% if env_type in trashable_env_types %}
apiVersion: v1
kind: Secret
metadata:
  labels:
    app: edxec
    service: mysql
  name: "{{ edxec_mysql_secret_name }}"
  namespace: "{{ project_name }}"
data:
  MYSQL_DATABASE: "{{ EDXEC_VAULT.MYSQL_DATABASE | default('edxec') | b64encode }}"
  MYSQL_USER: "{{ EDXEC_VAULT.MYSQL_USER | default('edxec_user') | b64encode }}"
  MYSQL_PASSWORD: "{{ EDXEC_VAULT.MYSQL_PASSWORD | default('password') | b64encode }}"
{% endif %}
