apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: mysql
    version: "{{ mysql_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "mysql-{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
spec:
  replicas: 1
  selector:
    deploymentconfig: "mysql-{{ deployment_stamp }}"
  template:
    metadata:
      labels:
        app: mysql
        version: "{{ mysql_tag }}"
        deploymentconfig: "mysql-{{ deployment_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      containers:
        - image: {{ mysql_image }}:{{ mysql_tag }}
          name: mysql
          ports:
            - containerPort: {{ mysql.port }}
              protocol: TCP
          env:
            - name: MYSQL_DATABASE
              value: edxapp
          envFrom:
            - secretRef:
                name: edxapp-{{ secret_id }}
