apiVersion: v1
kind: Secret
metadata:
  labels:
    app: edxapp
    service: "cms-lms"
  name: "{{ edxapp_secret_name }}"
  namespace: "{{ project_name }}"
data:
  secrets.yml: "{{ EDXAPP_VAULT.SECRETS_FILE | default('') | to_nice_yaml | b64encode }}"
