apiVersion: v1
kind: Secret
metadata:
  labels:
    app: prosody
    service: postgresql
  name: "{{ prosody_postgresql_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
  POSTGRESQL_USER: "{{ PROSODY_VAULT.POSTGRESQL_USER | default('prosody_user') | b64encode }}"
  POSTGRESQL_PASSWORD: "{{ PROSODY_VAULT.POSTGRESQL_PASSWORD | default('pass') | b64encode }}"
