apiVersion: v1
kind: RoleBinding
metadata:
  name: "openshift-acme"
  namespace: "{{ project_name }}"
roleRef:
  kind: Role
  name: "openshift-acme"
  namespace: "{{ project_name }}"
subjects:
- kind: ServiceAccount
  name: "openshift-acme"
  namespace: "{{ project_name }}"
