apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: edxec
    service: nginx
    version: "{{ edxec_nginx_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "edxec-nginx-{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
spec:
  replicas: {{ edxec_nginx_replicas }}
  template:
    metadata:
      labels:
        app: edxec
        service: nginx
        version: "{{ edxec_nginx_image_tag }}"
        deploymentconfig: "edxec-nginx-{{ deployment_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      # Prefer running pods on different nodes for redundancy
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: deploymentconfig
                  operator: In
                  values:
                  - "edxec-nginx-{{ deployment_stamp }}"
              topologyKey: kubernetes.io/hostname
      containers:
        - image: "{{ edxec_nginx_image_name }}:{{ edxec_nginx_image_tag }}"
          name: nginx
          ports:
            - containerPort: 80
              protocol: TCP
          volumeMounts:
            - mountPath: /etc/nginx/conf.d
              name: edxec-v-nginx
              readOnly: true
            - mountPath: /data/media
              name: edxec-v-media
              readOnly: true
            - mountPath: /data/static
              name: edxec-v-static
              readOnly: true
{% if activate_http_basic_auth or edxec_activate_http_basic_auth %}
            - mountPath: "{{ http_basic_auth_user_file | dirname }}"
              name: edxec-htpasswd
{% endif %}

          livenessProbe:
            httpGet:
              path: "{{ edxec_nginx_healthcheck_endpoint }}"
              port: {{ edxec_nginx_healthcheck_port }}
            initialDelaySeconds: 60
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: "{{ edxec_nginx_healthcheck_endpoint }}"
              port: {{ edxec_nginx_healthcheck_port }}
            initialDelaySeconds: 10
            periodSeconds: 5
      volumes:
        - name: edxec-v-nginx
          configMap:
            name: edxec-nginx-{{ deployment_stamp }}
        - name: edxec-v-media
          persistentVolumeClaim:
            claimName: edxec-pvc-media
        - name: edxec-v-static
          persistentVolumeClaim:
            claimName: edxec-pvc-static
{% if activate_http_basic_auth or edxec_activate_http_basic_auth %}
        - name: edxec-htpasswd
          secret:
            secretName: "{{ edxec_nginx_htpasswd_secret_name }}"
{% endif %}
