apiVersion: v1
kind: Deployment
metadata:
  labels:
    app: edxec
    service: nginx
    version: "{{ edxec_nginx_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "edxec-nginx-{{ deployment_stamp }}"
  namespace: "{{ namespace_name }}"
spec:
  replicas: {{ edxec_nginx_replicas }}
  selector:
    matchLabels:
      app: edxec
      service: nginx
      version: "{{ edxec_nginx_image_tag }}"
      deployment: "edxec-nginx-{{ deployment_stamp }}"
      deployment_stamp: "{{ deployment_stamp }}"
  template:
    metadata:
      labels:
        app: edxec
        service: nginx
        version: "{{ edxec_nginx_image_tag }}"
        deployment: "edxec-nginx-{{ deployment_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      # Prefer running pods on different nodes for redundancy
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: deployment
                  operator: In
                  values:
                  - "edxec-nginx-{{ deployment_stamp }}"
              topologyKey: kubernetes.io/hostname
{% set image_pull_secret_name = edxec_nginx_image_pull_secret_name | default(none) or default_image_pull_secret_name %}
{% if image_pull_secret_name is not none %}
      imagePullSecrets:
        - name: "{{ image_pull_secret_name }}"
{% endif %}
      containers:
        - image: "{{ edxec_nginx_image_name }}:{{ edxec_nginx_image_tag }}"
          name: nginx
          ports:
            - containerPort: 80
              protocol: TCP
          volumeMounts:
            - mountPath: /etc/nginx/conf.d
              name: edxec-v-nginx
              readOnly: true
            - mountPath: /data/media
              name: edxec-v-media
              readOnly: true
            - mountPath: /data/static
              name: edxec-v-static
              readOnly: true
{% if activate_http_basic_auth or edxec_activate_http_basic_auth %}
            - mountPath: "{{ http_basic_auth_user_file | dirname }}"
              name: edxec-htpasswd
{% endif %}

          livenessProbe:
            httpGet:
              path: "{{ edxec_nginx_healthcheck_endpoint }}"
              port: {{ edxec_nginx_healthcheck_port }}
            initialDelaySeconds: 60
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: "{{ edxec_nginx_healthcheck_endpoint }}"
              port: {{ edxec_nginx_healthcheck_port }}
            initialDelaySeconds: 10
            periodSeconds: 5
          resources: {{ edxec_nginx_resources }}
      securityContext:
        runAsUser: {{ container_uid }}
        runAsGroup: {{ container_gid }}
      volumes:
        - name: edxec-v-nginx
          configMap:
            name: edxec-nginx-{{ deployment_stamp }}
        - name: edxec-v-media
          persistentVolumeClaim:
            claimName: "{{ edxec_pvc_media_name }}"
        - name: edxec-v-static
          persistentVolumeClaim:
            claimName: "{{ edxec_pvc_static_name }}"
{% if activate_http_basic_auth or edxec_activate_http_basic_auth %}
        - name: edxec-htpasswd
          secret:
            secretName: "{{ edxec_nginx_htpasswd_secret_name }}"
{% endif %}
