apiVersion: v1
kind: Service
metadata:
  labels:
    app: edxec
    service: nginx
    version: "{{ edxec_nginx_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "edxec-nginx-{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
spec:
  ports:
    - name: {{ edxec_nginx_port }}-tcp
      port: {{ edxec_nginx_port }}
      protocol: TCP
      targetPort: {{ edxec_nginx_port }}
    - name: "{{ edxec_nginx_healthcheck_port }}-tcp"
      port: {{ edxec_nginx_healthcheck_port }}
      protocol: TCP
      targetPort: {{ edxec_nginx_healthcheck_port }}
  selector:
    app: edxec
    deploymentconfig: "edxec-nginx-{{ deployment_stamp }}"
  type: ClusterIP
