apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: redirect
    deployment_stamp: "{{ deployment_stamp }}"
  name: redirect-nginx-{{ deployment_stamp }}
  namespace: "{{ project_name }}"
spec:
  replicas: 1
  selector:
    deploymentconfig: redirect-nginx-{{ deployment_stamp }}
  template:
    metadata:
      labels:
        app: redirect
        deploymentconfig: redirect-nginx-{{ deployment_stamp }}
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      containers:
        - image: "{{ nginx_image }}:{{ nginx_tag }}"
          name: nginx
          ports:
            - containerPort: 80
              protocol: TCP
          volumeMounts:
            - mountPath: /etc/nginx/conf.d
              name: redirect-v-nginx
              readOnly: true
      volumes:
        - name: redirect-v-nginx
          configMap:
            name: redirect-nginx-{{ deployment_stamp }}
