apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: moodlenet
    service: nginx
    version: "{{ moodlenet_nginx_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "moodlenet-nginx-{{ deployment_stamp }}"
  namespace: "{{ namespace_name }}"
spec:
  replicas: {{ moodlenet_nginx_replicas }}
  template:
    metadata:
      labels:
        app: moodlenet
        service: nginx
        version: "{{ moodlenet_nginx_image_tag }}"
        deploymentconfig: "moodlenet-nginx-{{ deployment_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      # Prefer running pods on different nodes for redundancy
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: deploymentconfig
                  operator: In
                  values:
                  - "moodlenet-nginx-{{ deployment_stamp }}"
              topologyKey: kubernetes.io/hostname
{% set image_pull_secret_name = moodlenet_nginx_image_pull_secret_name | default(none) or default_image_pull_secret_name %}
{% if image_pull_secret_name is not none %}
      imagePullSecrets:
        - name: "{{ image_pull_secret_name }}"
{% endif %}
      containers:
        - image: "{{ moodlenet_nginx_image_name }}:{{ moodlenet_nginx_image_tag }}"
          name: nginx
          ports:
            - containerPort: 80
              protocol: TCP
          volumeMounts:
            - mountPath: /etc/nginx/conf.d
              name: moodlenet-v-nginx
              readOnly: true
            - mountPath: /app/uploads
              name: moodlenet-uploads
              readOnly: true
{% if activate_http_basic_auth or moodlenet_activate_http_basic_auth %}
            - mountPath: "{{ http_basic_auth_user_file | dirname }}"
              name: moodlenet-htpasswd
{% endif %}

          livenessProbe:
            httpGet:
              path: "{{ moodlenet_nginx_healthcheck_endpoint }}"
              port: {{ moodlenet_nginx_healthcheck_port }}
            initialDelaySeconds: 60
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: "{{ moodlenet_nginx_healthcheck_endpoint }}"
              port: {{ moodlenet_nginx_healthcheck_port }}
            initialDelaySeconds: 10
            periodSeconds: 5
      volumes:
        - name: moodlenet-v-nginx
          configMap:
            name: moodlenet-nginx-{{ deployment_stamp }}
        - name: moodlenet-uploads
          persistentVolumeClaim:
            claimName: moodlenet-pvc-uploads
{% if activate_http_basic_auth or moodlenet_activate_http_basic_auth %}
        - name: moodlenet-htpasswd
          secret:
            secretName: "{{ moodlenet_nginx_htpasswd_secret_name }}"
{% endif %}
