apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: postgresql
    version: "{{ postgresql_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "postgresql-richie-{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
spec:
  replicas: 1
  selector:
    deploymentconfig: "postgresql-richie-{{ deployment_stamp }}"
  template:
    metadata:
      labels:
        app: postgresql
        version: "{{ postgresql_tag }}"
        deploymentconfig: "postgresql-richie-{{ deployment_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      containers:
        - image: {{ postgresql_image }}:{{ postgresql_tag }}
          name: postgresql
          ports:
          - containerPort: "5432"
            protocol: TCP
          env:
            - name: POSTGRESQL_DATABASE
              value: "{{ richie_database.name }}"
          envFrom:
            - secretRef:
                name: richie
