apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: richie
    version: "{{ richie_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: richie-{{ deployment_stamp }}
  namespace: "{{ project_name }}"
spec:
  replicas: 1  # number of pods we want
  selector:
    deploymentconfig: richie-{{ deployment_stamp }}
  template:
    metadata:
      labels:
        app: richie
        version: "{{ richie_tag }}"
        deploymentconfig: richie-{{ deployment_stamp }}
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      containers:
        - name: richie
          image: "{{ richie_image }}:{{ richie_tag }}"
          imagePullPolicy: IfNotPresent
          env:
            - name: DJANGO_SETTINGS_MODULE
              value: richie.settings
            - name: DJANGO_CONFIGURATION
              value: {{ django_configuration }}
            - name: POSTGRES_DB
              value: {{ richie_database.name }}
            - name: POSTGRES_HOST
              value: {{ richie_database.host }}
            - name: POSTGRES_PORT
              value: "{{ richie_database.port }}"
            - name: DJANGO_ALLOWED_HOSTS
              value: "{{ richie_host }}"
          envFrom:
            - secretRef:
                name: richie
          volumeMounts:
            - name: richie-v-media
              mountPath: /data/media
            - name: richie-v-static
              mountPath: /data/static
      volumes:
        - name: richie-v-media
          persistentVolumeClaim:
            claimName: richie-pvc-media
        - name: richie-v-static
          persistentVolumeClaim:
            claimName: richie-pvc-static
