APIKEY: "{{ etherpad_private_directory_path }}/APIKEY.txt"
DB_HOST: etherpad-postgresql-{{ deployment_stamp }}
DB_NAME: {{ etherpad_database_name }}
DB_PORT: "{{ etherpad_database_port }}"
DB_TYPE: {{ etherpad_database_engine }}
EP_LIGHTSHIP_DETECT_KUBERNETES: "true"
EP_LIGHTSHIP_PORT: "{{ etherpad_app_healthcheck_port }}"
FAVICON: {{ etherpad_favicon }}
IP: "0.0.0.0"
LOGLEVEL: {{ etherpad_loglevel }}
PORT: "{{ etherpad_application_port }}"
SESSIONKEY: "{{ etherpad_private_directory_path }}/SESSIONKEY.txt"
SKIN_NAME: {{ etherpad_skin_name }}
TITLE: {{ etherpad_title }}
TRUST_PROXY: "true"
