apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: etherpad
    service: etherpad
    version: "{{ etherpad_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "etherpad-app-{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
spec:
  replicas: {{ etherpad_app_replicas }}
  template:
    metadata:
      labels:
        app: etherpad
        service: etherpad
        version: "{{ etherpad_image_tag }}"
        deploymentconfig: "etherpad-app-{{ deployment_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      # Prefer running pods on different nodes for redundancy
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: deploymentconfig
                      operator: In
                      values:
                        - "etherpad-app-{{ deployment_stamp }}"
                topologyKey: kubernetes.io/hostname
      containers:
        - name: etherpad
          image: "{{ etherpad_image_name }}:{{ etherpad_image_tag }}"
          imagePullPolicy: Always
          command:
            - "bash"
            - "-c"
            - node node_modules/ep_etherpad-lite/node/server.js
                --settings "{{ etherpad_configs_directory_path }}/settings.json"
                --sessionkey "{{ etherpad_private_directory_path }}/SESSIONKEY.txt"
                --apikey "{{ etherpad_private_directory_path }}/APIKEY.txt"
          livenessProbe:
            httpGet:
              path: {{ etherpad_app_healthcheck_live_endpoint }}
              port: {{ etherpad_app_healthcheck_port }}
            failureThreshold: 3
            initialDelaySeconds: 10
            # Allow sufficient amount of time (90 seconds = periodSeconds * failureThreshold)
            # for the registered shutdown handlers to run to completion.
            periodSeconds: 30
            successThreshold: 1
            # Setting a very low timeout value (e.g. 1 second) can cause false-positive
            # checks and service interruption.
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: {{ etherpad_app_healthcheck_ready_endpoint }}
              port: {{ etherpad_app_healthcheck_port }}
            failureThreshold: 3
            initialDelaySeconds: 5
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 5
          envFrom:
            - secretRef:
                name: "{{ etherpad_env_secret_name }}"
            - configMapRef:
                name: "etherpad-app-dotenv-{{ deployment_stamp }}"
          volumeMounts:
            - name: etherpad-v-configs
              mountPath: {{ etherpad_configs_directory_path }}
              readOnly: true
            - name: etherpad-v-secret
              mountPath: {{ etherpad_private_directory_path }}
              readOnly: true
      volumes:
        - name: etherpad-v-configs
          configMap:
            defaultMode: 420
            name: etherpad-app-{{ deployment_stamp }}
        - name: etherpad-v-secret
          secret:
            secretName: {{ etherpad_file_secret_name }}
