apiVersion: v1
kind: Secret
metadata:
  labels:
    app: etherpad
    service: etherpad
  name: "{{ etherpad_file_secret_name }}"
  namespace: "{{ project_name }}"
data:
  SESSIONKEY.txt: "{{ ETHERPAD_VAULT.SESSIONKEY | mandatory | b64encode }}"
  APIKEY.txt: "{{ ETHERPAD_VAULT.APIKEY | mandatory | b64encode }}"
