apiVersion: v1
kind: Secret
metadata:
  labels:
    app: etherpad
    service: etherpad
  name: "{{ etherpad_env_secret_name }}"
  namespace: "{{ project_name }}"
data:
  DB_USER: "{{ ETHERPAD_VAULT.DB_USER | default('etherpad_user') | b64encode }}"
  DB_PASS: "{{ ETHERPAD_VAULT.DB_PASS | default('password') | b64encode }}"
