upstream cms-backend {
  server edxapp-cms-{{ deployment_stamp }}:{{ edxapp_django_port }} fail_timeout=0;
}

server {
  listen {{ edxapp_nginx_cms_port }};
  server_name localhost;

  {% if activate_http_basic_auth or edxapp_activate_http_basic_auth -%}
  auth_basic "{{ http_basic_auth_message }}";
  auth_basic_user_file {{ http_basic_auth_user_file }};
  {% endif %}

  # Prevent invalid display courseware in IE 10+ with high privacy settings
  add_header P3P 'CP="Open edX does not have a P3P policy."';

  client_max_body_size 100M;

  rewrite ^(.*)/favicon.ico$ /static/images/favicon.ico last;

  # Disables server version feedback on pages and in headers
  server_tokens off;

  location @proxy_to_cms_app {
    proxy_set_header Host $http_host;

    proxy_redirect off;
    proxy_pass http://cms-backend;
  }

  location / {
    try_files $uri @proxy_to_cms_app;
  }

  location ~ ^/static/(?P<file>.*) {
    root /data/static;
    try_files /$file =404;
  }
}
