apiVersion: v1
kind: Route
metadata:
  labels:
    app: lms
  name: lms
  namespace: "{{ project_name }}"
spec:
  host: {{ lms_host }}
  port:
    targetPort: 8071-tcp
  tls:
    termination: edge
  to:
    kind: Service
    name: nginx
    weight: 100
