{% if richie_should_activate_media_volume %}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: richie-pvc-media
  namespace: "{{ project_name }}"
  labels:
    app: richie
    version: "{{ richie_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: {{ richie_media_volume_size }}
{% endif %}
