apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: richie-pvc-static
  namespace: "{{ project_name }}"
  labels:
    app: richie
    version: "{{ richie_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: {{ richie_static_volume_size }}
