apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: "{{ namespace_name }}"
  name: "redirect-{{ redirection_from | default('unknown') }}"
  labels:
    app: redirect
    service: nginx
    version: "{{ redirect_nginx_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  annotations:
    cert-manager.io/issuer: "{{ acme_issuer_name }}"
spec:
  rules:
  - host: "{{ redirection_from | default('unknown') }}"
    http:
      paths:
      - backend:
          service:
            name: "redirect-nginx"
            port:
              number: {{ redirect_nginx_port }}
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - "{{ redirection_from | default('unknown') }}"
    secretName: "redirect-app-{{ redirection_from | default('unknown') }}-{{ acme_env }}"
