apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: redirect
    service: nginx
    version: "{{ redirect_nginx_image_tag }}"
    deploymentconfig: redirect-nginx
    deployment_stamp: "{{ deployment_stamp }}"
  name: redirect-nginx
  namespace: "{{ project_name }}"
spec:
  replicas: {{ redirect_nginx_replicas }}
  template:
    metadata:
      labels:
        app: redirect
        service: nginx
        version: "{{ redirect_nginx_image_tag }}"
        deploymentconfig: redirect-nginx
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      # Prefer running pods on different nodes for redundancy
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: deploymentconfig
                      operator: In
                      values:
                        - "redirect-nginx"
                topologyKey: kubernetes.io/hostname
      containers:
        - image: "{{ redirect_nginx_image_name }}:{{ redirect_nginx_image_tag }}"
          name: nginx
          ports:
            - containerPort: {{ redirect_nginx_port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: "{{ redirect_nginx_healthcheck_endpoint }}"
              port: {{ redirect_nginx_healthcheck_port }}
            initialDelaySeconds: 60
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: "{{ redirect_nginx_healthcheck_endpoint }}"
              port: {{ redirect_nginx_healthcheck_port }}
            initialDelaySeconds: 10
            periodSeconds: 5
          volumeMounts:
            - mountPath: /etc/nginx/conf.d
              name: redirect-v-nginx
              readOnly: true
      volumes:
        - name: redirect-v-nginx
          configMap:
            name: "redirect-nginx-{{ deployment_stamp }}"
