apiVersion: v1
kind: Service
metadata:
  labels:
    app: redirect
    service: nginx
    version: "{{ redirect_nginx_image_tag }}"
  name: "redirect-nginx"
  namespace: "{{ project_name }}"
spec:
  ports:
    - name: "{{ redirect_nginx_port }}-tcp"
      port: {{ redirect_nginx_port }}
      protocol: TCP
      targetPort: {{ redirect_nginx_port }}
    - name: "{{ redirect_nginx_healthcheck_port }}-tcp"
      port: {{ redirect_nginx_healthcheck_port }}
      protocol: TCP
      targetPort: {{ redirect_nginx_healthcheck_port }}
  selector:
    app: redirect
    deployment: "redirect-nginx"
  type: ClusterIP
