apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: edxapp-cms
    version: "{{ edxapp_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: edxapp-cms-{{ deployment_stamp }}
  namespace: "{{ project_name }}"
spec:
  replicas: 1  # number of pods we want
  selector:
    app: edxapp-cms
    deploymentconfig: edxapp-cms-{{ deployment_stamp }}
  template:
    metadata:
      labels:
        app: edxapp-cms
        deploymentconfig: edxapp-cms-{{ deployment_stamp }}
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      containers:
      - env:
        - name: SERVICE_VARIANT
          value: cms
        - name: DJANGO_SETTINGS_MODULE
          value: cms.envs.docker_run
        image: "{{ edxapp_image }}:{{ edxapp_tag }}"
        imagePullPolicy: IfNotPresent
        name: edxapp-cms
        volumeMounts:
        - mountPath: /config
          name: edxapp-config
        - mountPath: /edx/var/edxapp/media
          name: edxapp-v-media
        - mountPath: /edx/var/edxapp/static
          name: edxapp-v-static
      volumes:
      - name: edxapp-config
        configMap:
          defaultMode: 420
          name: edxapp-{{ deployment_stamp }}
      - name: edxapp-v-media
        persistentVolumeClaim:
          claimName: edxapp-pvc-media
      - name: edxapp-v-static
        persistentVolumeClaim:
          claimName: edxapp-pvc-static
