apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: edxapp-lms
  name: edxapp-lms
  namespace: "{{ project_name }}"
spec:
  replicas: 1  # number of pods we want
  selector:
    app: edxapp-lms
    deploymentconfig: edxapp-lms
  template:
    metadata:
      labels:
        app: edxapp-lms
        deploymentconfig: edxapp-lms
    spec:
      containers:
      - env:
        - name: SERVICE_VARIANT
          value: lms
        - name: DJANGO_SETTINGS_MODULE
          value: lms.envs.docker_run
        image: "{{ edxapp_image }}:{{ edxapp_tag }}"
        imagePullPolicy: Always
        name: edxapp-lms
        volumeMounts:
        - mountPath: /config
          name: edxapp-config
        - mountPath: /edx/var/edxapp/media
          name: edxapp-media
        - mountPath: /edx/var/edxapp/static
          name: edxapp-static
      volumes:
      - name: edxapp-config
        configMap:
          defaultMode: 420
          name: edxapp
      - name: edxapp-media
        persistentVolumeClaim:
          claimName: edxapp-media
      - name: edxapp-static
        persistentVolumeClaim:
          claimName: edxapp-static
