apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: lms
  name: lms
spec:
  replicas: 1  # number of pods we want
  selector:
    app: lms
    deploymentconfig: lms
  template:
    metadata:
      labels:
        app: lms
        deploymentconfig: lms
    spec:
      containers:
      - env:
        - name: SERVICE_VARIANT
          value: lms
        - name: DJANGO_SETTINGS_MODULE
          value: lms.envs.docker_run
        image: "{{ edxapp_image }}:{{ edxapp_tag }}"
        imagePullPolicy: Always
        name: lms
        volumeMounts:
        - mountPath: /config
          name: volume-config
        - mountPath: /edx/var/edxapp/media
          name: edxapp-media
        - mountPath: /edx/var/edxapp/static
          name: edxapp-static
      volumes:
      - name: volume-config
        configMap:
          defaultMode: 420
          name: config
      - name: edxapp-media
        persistentVolumeClaim:
          claimName: media
      - name: edxapp-static
        persistentVolumeClaim:
          claimName: static
