apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: memcached
  name: memcached
spec:
  replicas: 1  # number of pods we want
  selector:
    app: memcached
    deploymentconfig: memcached
  template:
    metadata:
      labels:
        app: memcached
        deploymentconfig: memcached
    spec:
      containers:
        - image: memcached
          name: memcached
