apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: edxapp-memcached
  name: edxapp-memcached
  namespace: "{{ project_name }}"
spec:
  replicas: 1  # number of pods we want
  selector:
    app: edxapp-memcached
    deploymentconfig: edxapp-memcached
  template:
    metadata:
      labels:
        app: edxapp-memcached
        deploymentconfig: edxapp-memcached
    spec:
      containers:
        - image: memcached
          name: edxapp-memcached
