apiVersion: v1
kind: Service
metadata:
  labels:
    app: kibana
    service: nginx
    version: "{{ kibana_nginx_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "kibana-nginx-{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
spec:
  ports:
    - name: {{ kibana_nginx_port }}-tcp
      port: {{ kibana_nginx_port }}
      protocol: TCP
      targetPort: {{ kibana_nginx_port }}
    - name: "{{ kibana_nginx_healthcheck_port }}-tcp"
      port: {{ kibana_nginx_healthcheck_port }}
      protocol: TCP
      targetPort: {{ kibana_nginx_healthcheck_port }}
  selector:
    app: kibana
    deploymentconfig: "kibana-nginx-{{ deployment_stamp }}"
  type: ClusterIP
