{%- set dc_name = "learninglocker-%s" | format(service_variant) -%}

{%- from "apps/learninglocker/templates/services/app/macros/mongodb_uri.yml.j2" import mongodb_uri with context -%}

apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: learninglocker
    service: "{{ service_variant }}"
    deployment_stamp: "{{ deployment_stamp }}"
    version: "{{ learninglocker_image_tag }}"
  name: "{{ dc_name }}-{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
spec:
  replicas: {{ learninglocker_replicas }}
  template:
    metadata:
      labels:
        app: learninglocker
        service: "{{ service_variant }}"
        deployment_stamp: "{{ deployment_stamp }}"
        version: "{{ learninglocker_image_tag }}"
        deploymentconfig: "{{ dc_name }}-{{ deployment_stamp }}"
    spec:
      # Prefer running pods on different nodes for redundancy
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: deploymentconfig
                      operator: In
                      values:
                        - "{{ dc_name }}-{{ deployment_stamp }}"
                topologyKey: kubernetes.io/hostname
      containers:
        - name: "{{ service_variant }}"
          image: "{{ learninglocker_image_name }}:{{ learninglocker_image_tag }}"
          imagePullPolicy: Always
{% if learninglocker_port %}
          ports:
            - containerPort: "{{ learninglocker_port }}"
              protocol: TCP
{% endif %}
          command: ["pm2-runtime", "/usr/local/etc/pm2/config.d/ecosystem.config.js", "--only", "{{ learninglocker_pm2_app }}"]
          envFrom:
            - secretRef:
                name: "{{ learninglocker_secret_name }}"
            - configMapRef:
                name: "learninglocker-app-dotenv-{{ deployment_stamp }}"
          env:
            - name: MONGODB_PATH
              value: "{{ mongodb_uri(env_type, trashable_env_types, learninglocker_mongodb_host, deployment_stamp, learninglocker_endpoint_mongodb_ips, learninglocker_mongodb_replicaset, learninglocker_mongodb_read_preference) }}"
            # PM2 creates files and directories in the user's HOME. By default the user's HOME is `/`
            # and obviously it's not possible for an unprivileged user to write to the `/` directory.
            # PM2 will work as expected after changing the `HOME` environment variable to a
            # directory the user can write to.
            - name: HOME
              value: /home/pm2_user
          volumeMounts:
            - name: learninglocker-v-storage
              mountPath: /app/storage
            - name: learninglocker-configmap
              mountPath: /usr/local/etc/pm2/config.d
            - name: pm2-homedir
              mountPath: /home/pm2_user
      volumes:
        - name: learninglocker-v-storage
          persistentVolumeClaim:
            claimName: learninglocker-pvc-storage
        - name: learninglocker-configmap
          configMap:
            defaultMode: 420
            name: learninglocker-app-{{ deployment_stamp }}
        - name: pm2-homedir
          emptyDir: {}  # volume that lives as long as the pod lives
