{% set service_variant = "api" %}
{% set learninglocker_command = "api/dist/server" %}
{% set learninglocker_port = learninglocker_api_port %}

{% include "apps/learninglocker/templates/services/app/_dc_base.yml.j2" with context %}
