apiVersion: batch/v1
kind: Job
metadata:
  name: "learninglocker-job-storage-{{ job_stamp }}"
  namespace: "{{ namespace_name }}"
  labels:
    app: learninglocker
    service: learninglocker
    version: "{{ learninglocker_image_tag }}"
    job_stamp: "{{ job_stamp }}"
    deployment_stamp: "{{ deployment_stamp }}"
spec:
  template:
    metadata:
      name: "learninglocker-job-storage-{{ job_stamp }}"
      labels:
        app: learninglocker
        service: learninglocker
        version: "{{ learninglocker_image_tag }}"
        job_stamp: "{{ job_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
{% set image_pull_secret_name = busybox_image_pull_secret_name | default(none) or default_image_pull_secret_name %}
{% if image_pull_secret_name is not none %}
      imagePullSecrets:
        - name: "{{ image_pull_secret_name }}"
{% endif %}
      containers:
      - name: learninglocker-job-storage
        image: "busybox:1.30"
        command: ["mkdir", "-p", "/data/tmp", "/data/downloads", "/data/logos", "/data/storage", "/data/tests"]
        volumeMounts:
        - name: learninglocker-v-storage
          mountPath: /data
      volumes:
      - name: learninglocker-v-storage
        persistentVolumeClaim:
          claimName: learninglocker-pvc-storage
      restartPolicy: Never
