apiVersion: v1
kind: Secret
metadata:
  labels:
    app: learninglocker
  name: "{{ learninglocker_secret_name }}"
  namespace: "{{ project_name }}"
type: Opaque
data:
{% for k, v in LEARNINGLOCKER_VAULT.LL_SECRETS.items() %}
  {{ k }}: {{ v | default('') | b64encode }}
{% endfor %}
