apiVersion: v1
kind: Service
metadata:
  labels:
    app: learninglocker
    service: ui
    version: "{{ learninglocker_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: learninglocker-ui-{{ deployment_stamp }}
  namespace: "{{ project_name }}"
spec:
  ports:
  - name: "{{ learninglocker_ui_port }}-tcp"
    port: {{ learninglocker_ui_port }}
    protocol: TCP
    targetPort: {{ learninglocker_ui_port }}
  selector:
    app: learninglocker
    deploymentconfig: "learninglocker-ui-{{ deployment_stamp }}"
  type: ClusterIP
