apiVersion: v1
kind: Service
metadata:
  labels:
    app: learninglocker
    service: api
    version: "{{ learninglocker_image_tag }}"
  name: learninglocker-api
  namespace: "{{ project_name }}"
spec:
  ports:
  - name: "{{ learninglocker_api_port }}-tcp"
    port: {{ learninglocker_api_port }}
    protocol: TCP
    targetPort: {{ learninglocker_api_port }}
  selector:
    app: learninglocker
    deploymentconfig: "learninglocker-api"
  type: ClusterIP
