{% if env_type in trashable_env_types %}
apiVersion: v1
kind: Deployment
metadata:
  labels:
    app: richie
    service: postgresql
    version: "{{ richie_database_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "richie-postgresql-{{ deployment_stamp }}"
  namespace: "{{ namespace_name }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: richie
      service: postgresql
      version: "{{ richie_database_image_tag }}"
      deployment: "richie-postgresql-{{ deployment_stamp }}"
      deployment_stamp: "{{ deployment_stamp }}"
  template:
    metadata:
      labels:
        app: richie
        service: postgresql
        version: "{{ richie_database_image_tag }}"
        deployment: "richie-postgresql-{{ deployment_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
{% set image_pull_secret_name = richie_database_image_pull_secret_name | default(none) or default_image_pull_secret_name %}
{% if image_pull_secret_name is not none %}
      imagePullSecrets:
        - name: "{{ image_pull_secret_name }}"
{% endif %}
      containers:
        - image: {{ richie_database_image_name }}:{{ richie_database_image_tag }}
          name: postgresql
          ports:
            - containerPort: {{ richie_database_port }}
              protocol: TCP
          env:
            - name: POSTGRESQL_DATABASE
              value: "{{ richie_database_name }}"
          envFrom:
            - secretRef:
                name: "{{ richie_database_secret_name }}"
          resources: {{ richie_postgresql_resources }}
      securityContext:
        runAsUser: {{ container_uid }}
        runAsGroup: {{ container_gid }}
{% endif%}
