apiVersion: v1
kind: Secret
metadata:
  labels:
    app: richie
    service: postgresql
  name: "{{ richie_database_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
  POSTGRESQL_USER: "{{ RICHIE_VAULT.DB_USER | default('edxapp_user') | b64encode }}"
  POSTGRESQL_PASSWORD: "{{ RICHIE_VAULT.DB_PASSWORD | default('password') | b64encode }}"
