apiVersion: batch/v1
kind: Job
metadata:
  name: "richie-app-bootstrap-elasticsearch-{{ job_stamp }}"
  namespace: "{{ project_name }}"
  labels:
    app: richie
    service: richie
    version: "{{ richie_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
    job_stamp: "{{ job_stamp }}"
spec:
  template:
    metadata:
      name: richie-app-bootstrap-elasticsearch-{{ job_stamp }}
      labels:
        app: richie
        service: richie
        version: "{{ richie_image_tag }}"
        deployment_stamp: "{{ deployment_stamp }}"
        job_stamp: "{{ job_stamp }}"
    spec:
      restartPolicy: Never
      containers:
        - name: richie-bootstrap-elasticsearch
          image: "{{ richie_image_name }}:{{ richie_image_tag }}"
          imagePullPolicy: Always
          env:
            - name: DJANGO_SETTINGS_MODULE
              value: settings
            - name: DJANGO_CONFIGURATION
              value: "{{ richie_django_configuration }}"
            - name: DB_ENGINE
              value: "{{ richie_database_engine }}"
            - name: DB_NAME
              value: "{{ richie_database_name }}"
            - name: DB_HOST
              value: "richie-{{ richie_database_host }}-{{ deployment_stamp }}"
            - name: DB_PORT
              value: "{{ richie_database_port }}"
            - name: DJANGO_ALLOWED_HOSTS
              value: "{{ richie_host }}"
            - name: RICHIE_ES_HOST
              value: "richie-{{ richie_elasticsearch_host }}-{{ deployment_stamp }}"
          envFrom:
            - secretRef:
                name: "{{ richie_secret_name }}"
          command:
            - "bash"
            - "-c"
            - cd sandbox &&
              python manage.py bootstrap_elasticsearch
          volumeMounts:
            - name: richie-v-media
              mountPath: /data/media
      volumes:
        - name: richie-v-media
          persistentVolumeClaim:
            claimName: richie-pvc-media
