apiVersion: v1
kind: Secret
metadata:
  labels:
    app: richie
    service: richie
  name: "{{ richie_secret_name }}"
  namespace: "{{ project_name }}"
data:
  DJANGO_SECRET_KEY: "{{ RICHIE_VAULT.DJANGO_SECRET_KEY | default('supersecret') | b64encode }}"
  DJANGO_SENTRY_DSN: "{{ RICHIE_VAULT.DJANGO_SENTRY_DSN | default('fakedsn') | b64encode }}"
  POSTGRES_USER: "{{ RICHIE_VAULT.POSTGRESQL_USER | default('edxapp_user') | b64encode }}"
  POSTGRES_PASSWORD: "{{ RICHIE_VAULT.POSTGRESQL_PASSWORD | default('password') | b64encode }}"
