{% if env_type in trashable_env_types %}
apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: learninglocker
    service: mongodb
    version: "{{ learninglocker_mongodb_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "learninglocker-mongodb-{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: learninglocker
        service: mongodb
        version: "{{ learninglocker_mongodb_image_tag }}"
        deploymentconfig: "learninglocker-mongodb-{{ deployment_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
{% set image_pull_secret_name = learninglocker_mongodb_image_pull_secret_name | default(none) or default_image_pull_secret_name %}
{% if image_pull_secret_name is not none %}
      imagePullSecrets:
        - name: "{{ image_pull_secret_name }}"
{% endif %}
      containers:
        - image: "{{ learninglocker_mongodb_image_name }}:{{ learninglocker_mongodb_image_tag }}"
          imagePullPolicy: Always
          name: mongodb
          ports:
            - containerPort: "{{ learninglocker_mongodb_port }}"
              protocol: TCP
          envFrom:
            - secretRef:
                name: "{{ learninglocker_mongodb_secret_name }}"
{% endif %}
