{% if endpoint_mongodb_ips | length > 1 %}
apiVersion: v1
kind: Endpoints
metadata:
  labels:
    app: learninglocker
    endpoint: mongodb
    deployment_stamp: "{{ deployment_stamp }}"
  # name of the endpoint should be the same as the corresponding service
  name: "learninglocker-mongodb-{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
subsets:
{% for ip in endpoint_mongodb_ips -%}
  - 
    addresses:
      - 
        ip: "{{ ip }}"
    ports:
      - 
        port: "{{ learninglocker_mongodb_port }}"
        name: "mongodb-{{ ip | regex_replace("\.", "-") }}-tcp"
{% endfor -%}
{% endif %}
