apiVersion: v1
kind: Secret
metadata:
  labels:
    app: learninglocker
    service: mongodb
  name: "{{ learninglocker_mongodb_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
  MONGODB_ADMIN_PASSWORD: "{{ LEARNINGLOCKER_VAULT.MONGODB_ADMIN_PASSWORD | mandatory | b64encode }}"
  MONGODB_USER: "{{ LEARNINGLOCKER_VAULT.MONGODB_USER | mandatory | b64encode }}"
  MONGODB_PASSWORD: "{{ LEARNINGLOCKER_VAULT.MONGODB_PASSWORD | mandatory | b64encode }}"
  MONGODB_DATABASE: "{{ LEARNINGLOCKER_VAULT.MONGODB_DATABASE | mandatory | b64encode }}"
