apiVersion: v1
kind: Service
metadata:
  labels:
    app: learninglocker
    service: mongodb
    version: "{{ learninglocker_mongodb_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  # name of the service should be mongodb host name in settings
  name: "{{ learninglocker_mongodb_host }}-{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
spec:
  ports:
{% if env_type in trashable_env_types %}
  - name: "{{ learninglocker_mongodb_port }}-tcp"
    port: {{ learninglocker_mongodb_port }}
    protocol: TCP
    targetPort: {{ learninglocker_mongodb_port }}
# As commented in the ad hoc endpoint, the endpoint name points to this service
# so that it does not rely on a deployment configuration when the "env_type" is
# not trashable. In this case, we use a mongodb cluster outside of
# OpenShift.
  selector:
    app: learninglocker
    deploymentconfig: "learninglocker-mongodb-{{ deployment_stamp }}"
  type: ClusterIP
{% else %}
{% for ip in endpoint_mongodb_ips %}
  - 
    name: "mongodb-{{ ip | regex_replace("\.", "-") }}-tcp"
    port: {{ learninglocker_mongodb_port | int + loop.index0 }} 
    protocol: TCP
    targetPort: {{ learninglocker_mongodb_port }}
{% endfor %}
{% endif %}
