apiVersion: v1
kind: Secret
metadata:
  labels:
    app: joanie
    service: postgresql
  name: "{{ joanie_database_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
  POSTGRESQL_USER: "{{ JOANIE_VAULT.POSTGRESQL_USER | default('joanie_user') | b64encode }}"
  POSTGRESQL_PASSWORD: "{{ JOANIE_VAULT.POSTGRESQL_PASSWORD | default('pass') | b64encode }}"
