apiVersion: v1
kind: Endpoints
metadata:
  labels:
    app: edxapp
    ednpoint: mysql
  # name of the endpoint should be the same as the corresponding service
  name: "{{ edxapp_mysql_host }}"
  namespace: "{{ project_name }}"
subsets:
  - addresses:
    - ip: "{{ endpoint_mysql_ip }}"
    ports:
    - port: "{{ edxapp_mysql_port }}"
      name: "{{ edxapp_mysql_port }}-tcp"
