apiVersion: batch/v1
kind: Job
metadata:
  name: mysql-load-sql-dump-{{ job_stamp }}
  namespace: "{{ project_name }}"
  labels:
    app: edxapp
    service: mysql
    version: "{{ edxapp_image_tag }}"
    job_stamp: "{{ job_stamp }}"
    deployment_stamp: "{{ deployment_stamp }}"
spec:
  template:
    metadata:
      name: mysql-load-sql-dump-{{ job_stamp }}
      labels:
        app: edxapp
        service: mysql
        version: "{{ edxapp_image_tag }}"
        job_stamp: "{{ job_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      containers:
        - name: mysql-load-sql-dump-{{ job_stamp }}
          image: "{{ edxapp_mysql_image_name }}:{{ edxapp_mysql_image_tag }}"
          env:
            - name: MYSQL_DATABASE
              value: {{ edxapp_mysql_database }}
          envFrom:
            - secretRef:
                name: edxapp-{{ secret_id }}
          command:
            - "bash"
            - "-c"
            - cd /tmp &&
                curl -sL -o edx-database.sql "{{ edxapp_sql_dump_url }}" &&
                mysql
                  -u ${MYSQL_USER}
                  -h ${MYSQL_SERVICE_HOST}
                  --password=${MYSQL_PASSWORD}
                  ${MYSQL_DATABASE} < edx-database.sql
      restartPolicy: Never
