{% if env_type in trashable_env_types %}
apiVersion: batch/v1
kind: Job
metadata:
  name: edxapp-mysql-load-sql-dump-{{ job_stamp }}
  namespace: "{{ project_name }}"
  labels:
    app: edxapp
    service: mysql
    version: "{{ edxapp_image_tag }}"
    job_stamp: "{{ job_stamp }}"
    deployment_stamp: "{{ deployment_stamp }}"
spec:
  template:
    metadata:
      name: mysql-load-sql-dump-{{ job_stamp }}
      labels:
        app: edxapp
        service: mysql
        version: "{{ edxapp_image_tag }}"
        job_stamp: "{{ job_stamp }}"
        deployment_stamp: "{{ deployment_stamp }}"
    spec:
      containers:
        - name: mysql-load-sql-dump-{{ job_stamp }}
          image: "{{ edxapp_mysql_image_name }}:{{ edxapp_mysql_image_tag }}"
          envFrom:
            - secretRef:
                name: "{{ edxapp_mysql_secret_name }}"
          command:
            - "bash"
            - "-c"
            - cd /tmp &&
              curl -sL -o edx-database.sql "{{ edxapp_sql_dump_url }}" &&
              mysql
              -u ${MYSQL_USER}
              -h "edxapp-mysql-{{ deployment_stamp }}"
              --password=${MYSQL_PASSWORD}
              ${MYSQL_DATABASE} < edx-database.sql
      restartPolicy: Never
{% endif %}
