apiVersion: v1
kind: Secret
metadata:
  labels:
    app: edxapp
    service: mysql
  name: "{{ edxapp_mysql_secret_name }}"
  namespace: "{{ project_name }}"
data:
  MYSQL_ROOT_PASSWORD: "{{ EDXAPP_VAULT.MYSQL_ROOT_PASSWORD | default('') | b64encode }}"
  MYSQL_ALLOW_EMPTY_PASSWORD: "{{ EDXAPP_VAULT.MYSQL_ALLOW_EMPTY_PASSWORD | default('yes') | b64encode }}"
  MYSQL_DATABASE: "{{ EDXAPP_VAULT.MYSQL_DATABASE | default('edxapp') | b64encode }}"
  MYSQL_USER: "{{ EDXAPP_VAULT.MYSQL_USER | default('edxapp_user') | b64encode }}"
  MYSQL_PASSWORD: "{{ EDXAPP_VAULT.MYSQL_PASSWORD | default('password') | b64encode }}"
