apiVersion: v1
kind: Route
metadata:
  namespace:  "{{ project_name }}"
  name:       "{{ item.0.name }}-{{ item.1 }}"
  labels:
    env_type:         "{{ env_type }}"
    customer:         "{{ customer }}"
    app:              "{{ app.name }}-{{ deployment_stamp | default('init', true) }}"
    version:          "{{ item.0.tag | default('init', true) }}"
    deployment_stamp: "{{ deployment_stamp | default('init', true) }}"
  annotations:
    kubernetes.io/tls-acme: "true"
spec:
  host: "{{ item.1 | regex_replace('current','')}}{{ (item.1 == "current") | ternary('','.') }}{{ item.0.host }}"
  tls:
    termination: edge
  port:
    targetPort: {{ item.0.port | default('8080') }}-tcp
  to:
    kind: Service
    name: "{{ item.0.name }}-{{ deployment_stamp | default('init', true) }}"
