apiVersion: v1
kind: Service
metadata:
  labels:
    app: forum
    service: elasticsearch
    deployment_stamp: "{{ deployment_stamp }}"
    service_prefix: "{{ prefix }}"
    type: static-service
    removable: "no"
  # name of the service should be database host name in settings
  name: "{{ forum_elasticsearch_host }}-{{ prefix }}"
  namespace: "{{ namespace_name }}"
spec:
  ports:
  - name: {{ forum_elasticsearch_port }}-tcp
    port: {{ forum_elasticsearch_port }}
    protocol: TCP
    targetPort: {{ forum_elasticsearch_port }}
  selector:
    app: forum
    deploymentconfig: "forum-elasticsearch-{{ deployment_stamp | default('undefined', true) }}"
  type: ClusterIP
