apiVersion: v1
kind: Service
metadata:
  labels:
    app: forum
    service: elasticsearch
    version: "{{ forum_elasticsearch_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  # name of the service should be database host name in settings
  name: "{{ forum_elasticsearch_host }}-{{ deployment_stamp }}"
  namespace: "{{ namespace_name }}"
spec:
  ports:
  - name: {{ forum_elasticsearch_port }}-tcp
    port: {{ forum_elasticsearch_port }}
    protocol: TCP
    targetPort: {{ forum_elasticsearch_port }}
  selector:
    app: forum
    deploymentconfig: "forum-elasticsearch-{{ deployment_stamp }}"
  type: ClusterIP
