apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: edxapp
    service: memcached
    version: "{{ edxapp_memcached_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: edxapp-memcached-{{ deployment_stamp }}
  namespace: "{{ project_name }}"
spec:
  replicas: 1  # number of pods we want
  template:
    metadata:
      labels:
        app: edxapp
        service: memcached
        version: "{{ edxapp_memcached_image_tag }}"
        deployment_stamp: "{{ deployment_stamp }}"
        deploymentconfig: edxapp-memcached-{{ deployment_stamp }}
    spec:
      containers:
        - name: memcached
          image: "{{ edxapp_memcached_image_name }}:{{ edxapp_memcached_image_tag }}"
