apiVersion: v1
kind: Service
metadata:
  labels:
    app: edxapp
    service: memcached
    version: "{{ edxapp_memcached_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "memcached-{{ deployment_stamp }}"  # name of the service should be host name in nginx
  namespace: "{{ project_name }}"
spec:
  ports:
  - name: "{{ edxapp_memcached_port }}-tcp"
    port: {{ edxapp_memcached_port }}
    protocol: TCP
    targetPort: {{ edxapp_memcached_port }}
  selector:
    app: edxapp
    deploymentconfig: "memcached-{{ deployment_stamp }}"
  type: ClusterIP
