{% if elasticsearch_security_enabled %}
apiVersion: batch/v1
kind: Job
metadata:
  name: "es-passwords-{{ job_stamp }}"
  namespace: "{{ namespace_name }}"
  labels:
    app: elasticsearch
    service: app
    version: "{{ elasticsearch_image_tag }}"
    job_stamp: "{{ job_stamp }}"
    job_type: "post"
    deployment_stamp: "{{ deployment_stamp }}"
spec:
  template:
    metadata:
      name: "es-passwords-{{ job_stamp }}"
      labels:
        app: elasticsearch
        service: app
        version: "{{ elasticsearch_image_tag }}"
        deployment_stamp: "{{ deployment_stamp }}"
        job_stamp: "{{ job_stamp }}"
    spec:
{% set image_pull_secret_name = elasticsearch_image_pull_secret_name | default(none) or default_image_pull_secret_name %}
{% if image_pull_secret_name is not none %}
      imagePullSecrets:
        - name: "{{ image_pull_secret_name }}"
{% endif %}
      containers:
        - name: es-passwords
          image: "{{ elasticsearch_image_name }}:{{ elasticsearch_image_tag }}"
          command: [ "/usr/local/bin/set-passwords.sh" ]
          envFrom:
            - secretRef:
                name: "{{ elasticsearch_credentials_secret_name }}"
          volumeMounts:
            - name: set-passwords
              mountPath: /usr/local/bin/set-passwords.sh
              subPath: set-passwords.sh
            - name: elasticsearch-v-bootstrap
              mountPath: /usr/share/elasticsearch/bootstrap
      restartPolicy: Never
      volumes:
        - name: set-passwords
          configMap:
            name: elasticsearch-app-{{ deployment_stamp }}
            defaultMode: 0755
            items:
              - key: set-passwords.sh
                path: set-passwords.sh
        - name: elasticsearch-v-bootstrap
          persistentVolumeClaim:
            claimName: elasticsearch-pvc-bootstrap
      securityContext:
        runAsUser: {{ container_uid }}
        runAsGroup: {{ container_gid }}
{% endif %}
