{% if elasticsearch_security_enabled %}
apiVersion: v1
kind: Secret
metadata:
  labels:
    app: elasticsearch
    service: app
  name: "{{ elasticsearch_certificates_passwords_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
  CA_CERTIFICATE_PASSWORD: "{{ ELASTICSEARCH_VAULT.CA_CERTIFICATE_PASSWORD | b64encode }}"
  SSL_CERTIFICATE_PASSWORD: "{{ ELASTICSEARCH_VAULT.SSL_CERTIFICATE_PASSWORD | b64encode }}"
{% endif %}
