{% if elasticsearch_security_enabled %}
apiVersion: v1
kind: Secret
metadata:
  labels:
    app: elasticsearch
    service: app
  name: "{{ elasticsearch_ca_secret_name }}"
  namespace: "{{ project_name }}"
data:
  ca.crt: "{{ ELASTICSEARCH_VAULT.CA_CERTIFICATE | b64encode }}"
  ca.key: "{{ ELASTICSEARCH_VAULT.CA_PRIVATE_KEY | b64encode }}"
{% endif %}
