{% if elasticsearch_security_enabled %}
apiVersion: v1
kind: Secret
metadata:
  labels:
    app: elasticsearch
    service: app
  name: "{{ elasticsearch_credentials_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
  ADMIN_USERNAME: "{{ ELASTICSEARCH_VAULT.ADMIN_USERNAME | b64encode }}"
  ADMIN_PASSWORD: "{{ ELASTICSEARCH_VAULT.ADMIN_PASSWORD | b64encode }}"
  ELASTIC_USERNAME: "{{ ELASTICSEARCH_VAULT.ELASTIC_USERNAME | b64encode }}"
  ELASTIC_PASSWORD: "{{ ELASTICSEARCH_VAULT.ELASTIC_PASSWORD | b64encode }}"
  ELASTIC_BOOTSTRAP_PASSWORD: "{{ ELASTICSEARCH_VAULT.ELASTIC_BOOTSTRAP_PASSWORD | b64encode }}"
  KIBANA_USERNAME: "{{ ELASTICSEARCH_VAULT.KIBANA_USERNAME | b64encode }}"
  KIBANA_PASSWORD: "{{ ELASTICSEARCH_VAULT.KIBANA_PASSWORD | b64encode }}"
  LOGSTASH_USERNAME: "{{ ELASTICSEARCH_VAULT.LOGSTASH_USERNAME | b64encode }}"
  LOGSTASH_PASSWORD: "{{ ELASTICSEARCH_VAULT.LOGSTASH_PASSWORD | b64encode }}"
  BEATS_USERNAME: "{{ ELASTICSEARCH_VAULT.BEATS_USERNAME | b64encode }}"
  BEATS_PASSWORD: "{{ ELASTICSEARCH_VAULT.BEATS_PASSWORD | b64encode }}"
  APM_USERNAME: "{{ ELASTICSEARCH_VAULT.APM_USERNAME | b64encode }}"
  APM_PASSWORD: "{{ ELASTICSEARCH_VAULT.APM_PASSWORD | b64encode }}"
  REMOTE_MONITORING_USERNAME: "{{ ELASTICSEARCH_VAULT.REMOTE_MONITORING_USERNAME | b64encode }}"
  REMOTE_MONITORING_PASSWORD: "{{ ELASTICSEARCH_VAULT.REMOTE_MONITORING_PASSWORD | b64encode }}"
{% endif %}
