apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: hello-pvc
  namespace: "{{ namespace_name }}"
  labels:
    app: hello
    deployment_stamp: "{{ deployment_stamp }}"
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 1Mi
