apiVersion: v1
kind: DeploymentConfig
metadata:
  labels:
    app: edxapp
    service: nginx
    version: "{{ edxapp_nginx_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "edxapp-nginx-{{ deployment_stamp }}"
  namespace: "{{ project_name }}"
spec:
  replicas: {{ edxapp_nginx_replicas }}
  template:
    metadata:
      labels:
        app: edxapp
        service: nginx
        version: "{{ edxapp_nginx_image_tag }}"
        deployment_stamp: "{{ deployment_stamp }}"
        deploymentconfig: "edxapp-nginx-{{ deployment_stamp }}"
    spec:
      # Prefer running pods on different nodes for redundancy
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: deploymentconfig
                  operator: In
                  values:
                  - "edxapp-nginx-{{ deployment_stamp }}"
              topologyKey: kubernetes.io/hostname
      containers:
        - image: "{{ edxapp_nginx_image_name }}:{{ edxapp_nginx_image_tag }}"
          name: nginx
          ports:
            - containerPort: 80
              protocol: TCP
          volumeMounts:
            - mountPath: /etc/nginx/conf.d
              name: edxapp-v-nginx
              readOnly: true
            - mountPath: /data/media
              name: edxapp-v-media
              readOnly: true
            - mountPath: /data/export
              name: edxapp-v-export
              readOnly: true
            {% if activate_http_basic_auth or edxapp_activate_http_basic_auth -%}
            - mountPath: "{{ http_basic_auth_user_file | dirname }}"
              name: edxapp-htpasswd
            {% endif %}

          livenessProbe:
            httpGet:
              path: "{{ edxapp_nginx_healthcheck_endpoint }}"
              port: {{ edxapp_nginx_healthcheck_port }}
            initialDelaySeconds: 60
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: "{{ edxapp_nginx_healthcheck_endpoint }}"
              port: {{ edxapp_nginx_healthcheck_port }}
            initialDelaySeconds: 10
            periodSeconds: 5
      volumes:
        - name: edxapp-v-nginx
          configMap:
            name: "edxapp-nginx-{{ deployment_stamp }}"
        - name: edxapp-v-media
          persistentVolumeClaim:
            claimName: edxapp-pvc-media
        - name: edxapp-v-export
          persistentVolumeClaim:
            claimName: edxapp-pvc-export
        {% if activate_http_basic_auth or edxapp_activate_http_basic_auth -%}
        - name: edxapp-htpasswd
          secret:
            secretName: "{{ edxapp_nginx_htpasswd_secret_name }}"
        {% endif %}
