apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: "edxapp-nginx-lms-{{ prefix }}"
  namespace: "{{ namespace_name }}"
  labels:
    env_type: "{{ env_type }}"
    customer: "{{ customer }}"
    app: "edxapp"
    service: "nginx"
    version: "{{ edxapp_image_tag }}"
    route_prefix: "{{ prefix }}"
    route_target_service: "lms"
  annotations:
    cert-manager.io/cluster-issuer: "{{ acme_issuer_name }}"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "{{ edxapp_routing_timeout | default("60") }}"
spec:
  rules:
  - host: "{{ edxapp_lms_host | blue_green_host(prefix) }}"
    http:
      paths:
      - backend:
          serviceName: "edxapp-nginx-{{ prefix }}"
          servicePort: {{ edxapp_nginx_lms_port }}
        path: /
  tls:
  - hosts:
    - "{{ edxapp_lms_host | blue_green_host(prefix) }}"
    secretName: edxapp-lms-tls
