apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "edxapp-nginx-lms-{{ prefix }}"
  namespace: "{{ namespace_name }}"
  labels:
    env_type: "{{ env_type }}"
    customer: "{{ customer }}"
    app: "edxapp"
    service: "nginx"
    version: "{{ edxapp_image_tag }}"
    route_prefix: "{{ prefix }}"
    route_target_service: "lms"
  annotations:
{% if prefix in acme_enabled_route_prefix %}
    cert-manager.io/issuer: "{{ acme_issuer_name }}"
{% endif %}
    nginx.ingress.kubernetes.io/proxy-read-timeout: "{{ edxapp_routing_timeout | default("60") }}"
spec:
  ingressClassName: "{{ edxapp_lms_ingress_class_name }}"
  rules:
  - host: "{{ edxapp_lms_host | blue_green_host(prefix) }}"
    http:
      paths:
      - backend:
          service:
            name: "edxapp-nginx-{{ prefix }}"
            port:
              number: {{ edxapp_nginx_lms_port }}
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - "{{ edxapp_lms_host | blue_green_host(prefix) }}"
    secretName: "edxapp-lms-tls-{{ prefix }}-{{ acme_env }}"
