apiVersion: v1
kind: Route
metadata:
  namespace: "{{ namespace_name }}"
  name: "edxapp-nginx-cms-{{ prefix }}"
  labels:
    env_type: "{{ env_type }}"
    customer: "{{ customer }}"
    app: "edxapp"
    service: "nginx"
    version: "{{ edxapp_image_tag }}"
    route_prefix: "{{ prefix }}"
    route_target_service: "cms"
  annotations:
{% if prefix in acme_enabled_route_prefix %}
    kubernetes.io/tls-acme: "true"
{% endif %}
    haproxy.router.openshift.io/disable_cookies: "true"
    haproxy.router.openshift.io/balance: "roundrobin"
    haproxy.router.openshift.io/timeout: "{{ edxapp_routing_timeout | default("60s") }}"
spec:
  host: "{{ edxapp_cms_host | blue_green_host(prefix) }}"
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  port:
    targetPort: "{{ edxapp_nginx_cms_port }}-tcp"
  to:
    kind: Service
    name: "edxapp-nginx-{{ prefix }}"
