apiVersion: v1
kind: Service
metadata:
  labels:
    app: edxapp
    service: nginx
    deployment_stamp: "{{ deployment_stamp }}"
    service_prefix: "{{ prefix }}"
    type: static-service
    removable: "no"
  name: "edxapp-nginx-{{ prefix }}"
  namespace: "{{ project_name }}"
spec:
  ports:
    - name: "{{ edxapp_nginx_cms_port }}-tcp"
      port: {{ edxapp_nginx_cms_port }}
      protocol: TCP
      targetPort: {{ edxapp_nginx_cms_port }}
    - name: "{{ edxapp_nginx_lms_port }}-tcp"
      port: {{ edxapp_nginx_lms_port }}
      protocol: TCP
      targetPort: {{ edxapp_nginx_lms_port }}
    - name: "{{ edxapp_nginx_healthcheck_port }}-tcp"
      port: {{ edxapp_nginx_healthcheck_port }}
      protocol: TCP
      targetPort: {{ edxapp_nginx_healthcheck_port }}
  selector:
    app: edxapp
    deploymentconfig: "edxapp-nginx-{{ deployment_stamp | default('undefined', true) }}"
  type: ClusterIP
