apiVersion: v1
kind: Secret
metadata:
  labels:
    app: edxec
    service: app
  name: "{{ edxec_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
  local.yml: "{{ EDXEC_VAULT.LOCAL_FILE | default('') | to_nice_yaml | b64encode }}"
