apiVersion: v1
kind: Service
metadata:
  labels:
    app: edxec
    service: edxec
    version: "{{ edxec_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: edxec-app-{{ deployment_stamp }}  # name of the service should be host name in nginx
  namespace: "{{ project_name }}"
spec:
  ports:
  - name: "{{ edxec_django_port }}-tcp"
    port: {{ edxec_django_port }}
    protocol: TCP
    targetPort: {{ edxec_django_port }}
  selector:
    app: edxec
    deploymentconfig: "edxec-app-{{ deployment_stamp }}"
  type: ClusterIP
