apiVersion: v1
kind: Secret
metadata:
  labels:
    app: richie
    service: richie
  name: "{{ richie_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
  DJANGO_SECRET_KEY: "{{ RICHIE_VAULT.DJANGO_SECRET_KEY | default('supersecret') | b64encode }}"
{% if RICHIE_VAULT.DJANGO_SENTRY_DSN is defined and RICHIE_VAULT.DJANGO_SENTRY_DSN is not none %}
  DJANGO_SENTRY_DSN: "{{ RICHIE_VAULT.DJANGO_SENTRY_DSN | b64encode }}"
{% endif %}
  DB_USER: "{{ RICHIE_VAULT.DB_USER | default('edxapp_user') | b64encode }}"
  DB_PASSWORD: "{{ RICHIE_VAULT.DB_PASSWORD | default('password') | b64encode }}"
