apiVersion: v1
kind: Service
metadata:
  labels:
    app: richie
    service: richie
    version: "{{ richie_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: richie-app-{{ deployment_stamp }}  # name of the service should be host name in nginx
  namespace: "{{ namespace_name }}"
spec:
  ports:
  - name: 8000-tcp
    port: 8000
    protocol: TCP
    targetPort: 8000
  selector:
    app: richie
    deployment: "richie-app-{{ deployment_stamp }}"
  type: ClusterIP
